[2018-10-23 20:35] nzakas commented on #485
I think this is a problem, in general, with our documentation. We've never done a good job (or made any attempt) of nothing version differences. That was mostly because we just never sat down and figured out a scaleable way of doing this.

That said, there are a couple of approaches that could work:

1. Release a version-specific site for each version. The header should probably show the current v

[2018-10-24 04:47] kaicataldo commented on #485
Not necessarily advocating for this, but I know Babel moved to [Docusaurus](https://docusaurus.io/) a little while ago. Maybe @hzoo can comment on how that's been for the the Babel team.

[2018-10-25 09:57] Rekhyt commented on #370
I would like to stress that the **try-catch block** will become **useless** when omitting the `await`. I'd expect to be warned about this by ESLint.

This might be a new rule. Should I open a new issue for that?

[2018-10-25 14:39] not-an-aardvark commented on #370
@Rekhyt Yes, please open a new issue. My initial impression is that the try-catch isn't useless there because it still catches synchronous errors (and ESLint can't detect what has the potential to throw a synchronous error), but I'm happy to talk about it more on a new issue.

[2018-10-25 15:05] kaicataldo commented on #370
I'm going to go ahead and close this issue since the original conversation has stalled.

@Rekhyt Please feel free to make a new issue in the [eslint/eslint repository](https://github.com/eslint/eslint/issues).

[2018-10-25 15:05] #370 closed

[2018-10-26 16:43] nzakas opened #515 "Create a /team page"
Create a page at /team that lists out the ESLint team. This should have three sections:

* Technical Steering Committee
* Committers
* Alumni

I envision each section as a heading with images/names/GitHub usernames, similar to the [Babel page](https://babeljs.io/team). Unlike the Babel page, I don't think having a Twitter username is useful, but open to other opinions on that.

I'm pretty sure thi

[2018-11-06 16:26] oliverhr opened #521 "Remove dead links to "jslinterrors.com" since domain does not exists"
Enter in this URL for eslint.org:
https://eslint.org/docs/2.0.0/rules/no-multi-str

On section "Further Reading"  click on "Bad escapement of EOL"

[2018-11-07 00:46] kaicataldo commented on #521
It looks like that has now been removed in the current documentation. This brings up an interesting question - it seems like when we encounter something like this that we should go through and remove broken links from previously generated documentation. Let's see what the rest of the team has to say.

[2018-11-30 14:40] edg2s opened #525 "No mention of required "plugin:" prefix for using configs from plugins"
This section on configs in plugins:
https://eslint.org/docs/developer-guide/working-with-plugins#configs-in-plugins

tells you how to create a config in a plugin, but not the syntax for using it, which is:

`"extends": "plugin:myPlugin/myConfig"`

[2018-11-30 15:32] platinumazure commented on #525
Hi @edg2s, thanks for the issue.

We talk about how to extend from a plugin config in our ["Configuring ESLint" user guide](https://eslint.org/docs/user-guide/configuring#using-the-configuration-from-a-plugin), but I think it would be valuable to mention it quickly (and/or link to the other section) from the Working with Plugins page.

That said, any change would need to be made in the [main ESLin

[2018-11-30 18:07] nzakas commented on #521
I think previously generated documentation should stay as-is. It would be a maintenance nightmare to have to constantly update all documentation that's ever been created.

[2018-12-01 00:43] platinumazure commented on #521
@j-f1 If this is something we can easily do, I like your idea. Would you be willing to whip up a quick proof of concept PR? (I think I would like an approach that doesn't require editing every old documentation page, if possible.)

[2018-12-03 18:20] not-an-aardvark commented on #515
Should this issue be closed now that https://github.com/eslint/eslint.github.io/pull/526 is merged?

[2018-12-03 18:22] nzakas commented on #515
I was going to close it with this PR: https://github.com/eslint/eslint/pull/11152

[2018-12-05 22:12] #515 closed

[2019-01-03 12:06] varundey opened #531 "Search results getting trimmed"
When searching the docs for something which has multiple matches, the results flows out of the browser and thus gets trimmed. There is no way I can scroll down the search results.

<img width="544" alt="screen shot 2019-01-03 at 5 32 25 pm" src="https://user-images.githubusercontent.com/9202135/50636937-01159b80-0f7e-11e9-9a6a-6705b0df86f4.png">

[2019-01-03 13:21] platinumazure commented on #531
Hi @varundey, thanks for the issue!

When you do scroll the page, what happens? Is the issue that the overall site header is fixed, so the search results never move relative to the viewport (i.e., you always see the top of the search results even if you scroll the rest of the site)? Thanks!

[2019-01-03 14:41] varundey commented on #531
Sorry should have specified that in the original issue. Yes your assumption
is correct. The header is fixed and when I try to scroll, the page in the
background starts scrolling and the result container is static.

On Thu, Jan 3, 2019, 6:51 PM Kevin Partington <notifications@github.com
wrote:

[2019-01-03 14:47] varundey commented on #531
@platinumazure Also if you have not already started working on it, I'd like
to give it a try.

[2019-01-03 14:57] platinumazure commented on #531
@varundey I haven't started yet, please feel free to take a look!

I recommend looking at the DocSearch documentation; there may be an option somewhere that will ensure the container is scrollable. I think that will be better than making the ESLint site header non-fixed. But let us know what you come up with.

[2019-01-03 17:42] varundey commented on #531
Well this is weird. Turns out, this bug is coming from DocSearch itself. I went to https://community.algolia.com/docsearch/ and tried searching for something, and woot, I could repro the bug on their site 😄
![screen shot 2019-01-03 at 11 08 25 pm](https://user-images.githubusercontent.com/9202135/50652523-c119dd00-0fac-11e9-893e-c7e9abd980e5.png)

[2019-01-03 20:03] platinumazure commented on #531
Nice find! Maybe it's worth searching their GitHub repository for issues related to this; and if none exist, maybe you could create one? Thanks!

[2019-01-04 07:36] varundey commented on #531
Yep. That is what I intended to do after commenting here. Seems this issue is across all the platforms that use DocSearch (bootstrap, react etc.) 😄

[2019-02-04 20:15] kaicataldo opened #536 "Discussion: do we want to continue using Jekyll?"
Some of this was discussed previously on [this PR](https://github.com/eslint/eslint.github.io/pull/405).

As we go through the process of redesigning our site, it seems like another good opportunity to re-evaluate whether we want to:

1. Stick with Jekyll
2. Add a build step for the demo

Pros to switching to a JS-based site generator:
 * It would allow us to dog food ESLint in a more modern web a

[2019-02-04 20:23] kaicataldo opened #537 "Site redesign"
@eslint/eslint-team Hi! @nogaraviv, @nzakas, and I want to share the progress we've made on the site redesign (focusing mostly on the homepage so far) and open it up to feedback from the team. Note that the documentation redesign is still being discussed.

![52154299-14299300-2632-11e9-8482-957852b53bce](https://user-images.githubusercontent.com/7041728/52234872-ab8c2180-2890-11e9-9fce-98975919673

[2019-02-04 22:06] g-plane commented on #536
For my personal opinion, I prefer [VuePress](https://vuepress.vuejs.org), but I'm not opposed to using other CMS.

[2019-02-04 22:10] not-an-aardvark commented on #536
I don't have any strong feelings about our site generator. I'm fine with switching to another generator/adding a build step if it makes things easier.

[2019-02-04 22:19] ilyavolodin commented on #537
Very nice in terms of the layout of the information, I like it a lot more then current homepage. I'm personally not a fan at all of the dark themes, though. I always turn them off in all of my editors. I know I'm in minority, but to me it feels unnatural. People have been reading black on white for a few centuries now, not white on black...

[2019-02-04 22:23] ilyavolodin commented on #536
I absolutely hate Jekyll - because Ruby on Windows is just a nightmare. But at the same time, I just don't see the point in adding complicity for what I perceive - minimal gains.

[2019-02-05 16:22] nzakas commented on #536
I'm still a big fan of Jekyll. I use it for my personal site and have
figured out a bunch of ways to make things less painful that I'd happily
migrate to the ESLint site. My site is running on Jekyll + Netlify and I
kind of love it. :)

For the demo, in particular, I think it might be worth splitting that out
into its own app with its own build system (and host at demo.eslint.org).

We definitely

[2019-02-05 16:25] nzakas commented on #537
And for further info: this white-on-dark feeling is primarily for the homepage. Documentation pages would still have black-on-white (though with the black header).

[2019-02-05 23:42] g-plane commented on #536
@mysticatea has his own demo site.

[2019-02-06 05:02] mysticatea commented on #536
@g-plane Thank you for the mention.

I don't like Jekyll because that experience on Windows is terrible. I'm happy if we decide to use a JS-based site generator.

I have some plugins which are hosted with a JS-based site generator, [VuePress].

- https://vuejs.github.io/eslint-plugin-vue/
- https://mysticatea.github.io/eslint-plugin-eslint-comments/
- https://mysticatea.github.io/eslint-plugin-es/

[2019-02-06 15:10] nzakas commented on #536
Very interesting, thanks for explaining. Given that Vue components are
additive and not required, then I'm not opposed to investigating Vuepress.

On Tue, Feb 5, 2019 at 9:02 PM Toru Nagashima <notifications@github.com>
wrote:

--

______________________________
Nicholas C. Zakas
@slicknet

Author, Principles of Object-Oriented JavaScript <http://amzn.to/29Pmfrm>
Author, Understanding ECMAScript 6

[2019-02-06 21:44] kaicataldo commented on #536
For what it's worth, other popular static site generators like [Gatsby](https://www.gatsbyjs.org/docs/adding-markdown-pages/) and [Docusaurus](https://docusaurus.io/docs/en/doc-markdown) also allow you to create pages using Markdown as well.

@nzakas Would it possible to share how you've made working with Jekyll fit your workflow better?

[2019-02-07 04:31] kaicataldo commented on #537
Yes, sorry I didn't clarify that point!

[2019-02-08 19:05] nzakas commented on #537
I'm wondering if maybe the ESLint version should be on the left rather than
the right. How do people feel about that?

Any other thoughts?

On Wed, Feb 6, 2019 at 8:31 PM Kai Cataldo <notifications@github.com> wrote:

--

______________________________
Nicholas C. Zakas
@slicknet

Author, Principles of Object-Oriented JavaScript <http://amzn.to/29Pmfrm>
Author, Understanding ECMAScript 6 <http://a

[2019-02-08 19:09] nzakas commented on #536
Sure! I think for me the big thing was just installed Jekyll with bundler
to install and run it. We already point to the docs on how to do that in
the README:
https://help.github.com/articles/setting-up-your-github-pages-site-locally-with-jekyll/

I also found this helpful:
https://cloudcannon.com/tips/2017/12/08/speed-up-your-jekyll-builds/

Then I made a fast dev build that omitted everything I

[2019-02-09 07:16] btmills commented on #537
I like that a lot. It’s a different level of navigation that Docs/Demo/Blog/About, and having it on the left a) makes the version more prominent and b) puts the package name and version right next to each other: “ESLint v5.12.0”.

[2019-02-18 18:01] aladdin-add opened #543 "discussion: what sort of minimum versions we need to support?"
refs:https://github.com/eslint/eslint/pull/11398#discussion_r257776506
a bit related to #537

[2019-02-18 18:30] j-f1 commented on #543
@jamiebuilds’s [suggestion](https://jamie.build/last-2-versions) of `>0.25%, not ie 11, not op_mini all` is one option.

[2019-02-19 00:04] g-plane commented on #543
We can consider creating a "modern build" like `vue-cli` does.

[2019-02-19 05:10] aladdin-add commented on #543
at the very least, we still need to support IE11, for window 7 users -- Edge requires window 10. But I'd like to see someone share the GA data.

+ https://support.microsoft.com/en-us/help/11531/internet-explorer-system-requirements
+ https://www.microsoft.com/en-us/download/details.aspx?id=48126

[2019-02-19 06:24] g-plane commented on #543
However, the ESLint website itself doesn't use Babel currently.

[2019-02-19 17:30] ilyavolodin commented on #543
Here's top 40 browser stats for one week (Feb 12 - 18):

| Sessions | Browser Major Version | Percentage  |
|----------|-----------------------|-------------|
| 40645    | 72 Chrome             | 0.447563151 |
| 29380    | 71 Chrome             | 0.3235184   |
| 4492     | 65 Firefox            | 0.049463739 |
| 3801     | 12 Safari             | 0.04185478  |
| 2352     | 70 Chrome             |

[2019-02-20 13:41] aladdin-add commented on #543
I think we can drop IE <= 10, but do we want to support IE 11 (given its ~0.54% share)?

[2019-02-20 14:46] g-plane commented on #543
Can we create two builds? One is for old browsers and another is for evergreen browsers.

[2019-02-20 14:56] ilyavolodin commented on #543
What would be the point of creating two builds? I'm fine with dropping IE10. But I would keep IE11, as it's not upgradable.

[2019-02-20 15:37] g-plane commented on #543
For those who uses evergreen browsers, they can leverage the optimization of the new browsers and fetch smaller bundle size (less Babel transpilation).

[2019-02-20 15:42] aladdin-add commented on #543
I'm not a big fan of this -- as Chrome takes the largest body, it seems not worthy the complexity IMHO.

[2019-03-03 03:55] aladdin-add opened #546 "bug: espree demo not working"
https://eslint.org/parser/
![image](https://user-images.githubusercontent.com/13050025/53690725-27ec2480-3dab-11e9-8eef-b3c9bb24e30b.png)

it could be caused by https://github.com/eslint/eslint/commit/db0c5e2a7f894b7cda71007b0ba43d7814b3fb2e.

[2019-03-03 03:59] g-plane commented on #546
We can create a separate build for `espree` instead of using `eslint.js` file.

[2019-03-03 04:07] g-plane commented on #536
What's the progress?

[2019-03-05 15:13] amypellegrini opened #549 "Website plugin docs route is broken"
I tried, to access the following URL in the website docs:

https://eslint.org/docs/developer-guide/working-with-plugins/

But I get a 404 page. I clicked on "Edit this page" and I was directed to the 404 page in the code.

Looking through the repo I can see there is actually a page doc (https://github.com/eslint/eslint.github.io/blob/master/docs/5.0.0/developer-guide/working-with-plugins.md), but

[2019-03-05 16:06] aladdin-add commented on #549
it's working if removed the last "/": https://eslint.org/docs/developer-guide/working-with-plugins

[2019-03-06 11:06] amypellegrini commented on #549
Mmm, this is weird, I recall removing the end slash from the URL and still getting 404, and I also recall clicking from the menu and getting 404, but I cannot reproduce anymore.

Anyway, it doesn't seem to be happening anymore!

Thanks and apologies for the annoyance.

[2019-03-06 11:06] #549 closed

[2019-03-06 15:48] g-plane commented on #546
It's still broken due to the website how does "import" the `espree` and use it.

[2019-03-06 15:53] aladdin-add commented on #546
Given espree.js is a umd, I suppose changing `espree = require("espree")` to `espree = window.espree` will fix the issue.

[2019-03-06 15:55] g-plane commented on #546
Another solution may be use webpack as well. (And we can also use ES6 `import`.)

[2019-03-07 04:18] #546 closed

[2019-03-13 20:16] nzakas commented on #536
I don't think we've assigned this as an action item to anyone at this
point. Does anyone want to volunteer to look at Vuepress and provide
feedback?

One thing I noticed when I checked it out is that it doesn't appear to have
blog functionality built-in. We rely on the ESLint blog a lot, so that's
important for us to consider. We could always run Jekyll just for the blog
and Vuepress for everythin

[2019-03-14 00:11] g-plane commented on #536
Currently, VuePress doesn't support blog officially, but there are implementations by community. And blog will be supported officially in their next major version.

@nzakas It's a good idea!

[2019-03-18 03:49] not-an-aardvark opened #554 "Demo is unhelpful for reporting crash bugs"
When the demo is initially loaded with code in the URL that causes ESLint to crash, it logs an error to the console and the UI remains at the "loading" screen indefinitely without ever displaying the code. Similarly, if the code in the demo is edited to something that causes ESLint to crash, the permalink doesn't update in the URL bar.

This makes it difficult to use the demo to debug and report c

[2019-04-02 12:11] aladdin-add commented on #543
seems we got a problem on IE11. see https://github.com/eslint/eslint/issues/11504#issuecomment-473632476

I'm afraid we have to drop support it. thoughts?

[2019-04-22 14:46] kaicataldo commented on #536
I might have some time to look at this in the next few weeks. It sounds like there are a few of us interested in VuePress. I still think Docusaurus seems like a better option, for the following reasons:

Docusaurus builds the site from markdown files (with the ability to [custom pages as React components](https://docusaurus.io/docs/en/api-pages) for things like the demo), has the ability to create

[2019-04-22 16:33] kaicataldo commented on #536
I seem to have forgotten to list what I think is the most compelling reason to use Docusaurus - versioned docs! If we decided to go that route, I think we should start by creating versioned docs for releases going forward (we would have to decide if we want to run it on all releases, or limit it to major and minor releases) and leave the existing old major versioned docs in a more visible place. W

[2019-04-22 17:23] platinumazure commented on #536
Yes!

Does Docusaurus also let us annotate when a particular feature (e.g., a rule option) is added somehow?

[2019-04-23 14:58] kaicataldo commented on #536
It doesn't look like Docusaurus has that functionality built in. It looks like running the `docusaurus-version` command [saves the current site into a versioned doc directory](https://docusaurus.io/docs/en/versioning#storing-files-for-each-version) (see the Babel website's [repo](https://github.com/babel/website/tree/master/website/versioned_docs) for an example).

[2019-04-24 03:04] kaicataldo commented on #543
I'm a bit confused by this, because as far as I know we're not actually transpiling anything. Is the purpose of this discussion to decide on a policy so that going forward we can potentially start using features from ES2015 and beyond?

Some relevant discussion regarding adding a build step: https://github.com/eslint/eslint.github.io/issues/536

[2019-04-24 08:50] aladdin-add commented on #543
I think @g-plane means eslint.js/espree.js in the demo page -- they were built in eslint repo.

[2019-04-25 19:16] j-f1 commented on #536
Prettier’s [website](https://prettier.io) uses Docusaurus’s versioned docs: https://prettier.io/versions.html. What would likely happen is that the latest (“master”) version of the docs would be pulled from the ESLint repo at build time, but the old versions would live here [in a `versioned_docs` directory](https://github.com/prettier/prettier/tree/master/website/versioned_docs).

[2019-05-03 20:04] RyanZim opened #561 "Demo does not offer 2019 ECMA Version"
The ECMA Versions available in the demo are 3, 5, 2015, 2016, 2017, & 2018. 2019 should be an option as well.

[2019-05-05 04:45] kaicataldo commented on #561
Agreed! We just haven't gotten to it yet. PRs are welcome!

[2019-05-05 06:04] AlokTakshak commented on #561
@kaicataldo Do we need to add jest 2019 in the Ecma version dropdown?
![image](https://user-images.githubusercontent.com/26347838/57189253-c3c01b00-6f29-11e9-9981-45ffd748164b.png)

[2019-05-05 07:50] AlokTakshak commented on #561
#562

[2019-05-05 07:56] AlokTakshak opened #563 "using depcreated gems config"
gems in `_config.yml` has been decpricated , and new one is plugins

`gems:
    - jekyll-sitemap
    - jekyll-redirect-from`

[2019-05-06 15:00] RyanZim commented on #561
Fixed in https://github.com/eslint/eslint.github.io/pull/562.

[2019-05-06 15:00] #561 closed

[2019-05-07 08:39] AlokTakshak commented on #491
@platinumazure
![image](https://user-images.githubusercontent.com/26347838/57285619-36b7c600-70d1-11e9-90af-90c87586303b.png)
as we can see  blockquote is providing the font size 21.25px;

[2019-05-07 14:24] AlokTakshak commented on #491
@platinumazure
It is in styles/main.css
should i update it and raise a PR?

[2019-05-07 14:46] platinumazure commented on #491
@AlokTakshak Nice find! Feel free to raise a PR, but be careful-- I think we only really need the code samples to use a smaller font size. Block quotes for actual prose should probably still be larger size. So I would recommend creating a more specific selector to override for code samples, if at all possible. Thanks for taking a look!

[2019-05-07 15:08] AlokTakshak commented on #491
@platinumazure
`blockquote p, ul {
    font-size: 17px;
}`
I think this should be fine for now or we need to give  for all elements inside blockquote
`blockquote *  {
    font-size: 17px;
}`

[2019-05-23 00:29] sw-yx opened #568 "Suggestion: add blogpost on The inception of ESLint"
It is important to leave a trail for others who may be researching ESLint and writing something similar, i'd like to suggest adding @nzakas's post, either to this site or to the ESLint README (maybe under FAQ)

https://humanwhocodes.com/blog/2018/02/the-inception-of-eslint/

[2019-05-30 15:09] btmills commented on #491
https://github.com/eslint/eslint/blob/9590587cef74c936ef9b7ce2d22a71e2fd0fbbc4/docs/developer-guide/working-with-rules.md#L415-L429

After taking a look at this, my opinion is that this is an issue with the Markdown source and not the CSS. That section is written as a blockquote with the `>` prefixes, but it seems that was being used for indentation rather than quote-like semantics. If we don't ne

[2019-06-05 13:23] AlokTakshak commented on #491
@btmills Yeah that will also work, do you want me to remove the `>` prefix?

[2019-06-05 13:33] platinumazure commented on #491
@AlokTakshak Let's try that first and see how everything looks. If we need to do any further changes, we could do them either in the same PR or in a separate PR. Thanks!

@btmills Please speak up if you feel differently.

[2019-06-05 13:37] AlokTakshak commented on #491
so we are going with initial (i.e adding css property) for now?

[2019-06-05 13:50] platinumazure commented on #491
@AlokTakshak Sorry for being unclear. I meant we should change the Markdown source first since it's semantically incorrect. Let's fix that first, then we can decide if some CSS change might be needed later. Thanks!

[2019-06-06 04:59] AlokTakshak commented on #491
ok, i will make changes in same PR

[2019-06-06 06:09] AlokTakshak commented on #491
@platinumazure   I have removed the '>' prefix, you can check the PR

[2019-06-10 20:51] kaicataldo commented on #536
I spent some time with Docusaurus and wanted to report my findings.

Docusaurus is a lot more opinionated than I had originally thought. I don't believe the limitations I've found need to be blockers, but they do make it more difficult to cut over the site as it is currently designed.

* I didn't realize that Docusaurus uses React only as a rendering engine at build time, meaning that it can only

[2019-06-10 21:21] kaicataldo commented on #536
In pursuing this, I would also like to revisit the idea of adding a build step to our site. We know it would be a prerequisite for any of the options we've discussed above, and separating that task out into its own separate task feels like a much easier way to do things. Besides unblocking us from using a different static site framework, I believe we would get the following immediate benefits:

1.

[2019-06-11 08:49] kkmuffme opened #574 "Allow pasting existing config to demo"
https://eslint.org/demo/ is a great tool to visually see the effect of rules/rule changes.

It already allows me to download the selected config, but it would be great if I could also paste an existing config from .eslintrc.json to use, so I don't always have to manually check the checkboxes.

[2019-06-11 16:23] kaicataldo commented on #574
I agree that this would be a nice thing to have. When thinking about improvements we can make to the demo post site redesign, I’ve thought it could be nice to have both a configuration similar to how we do it now as well as seeing the actual generated JSON.

[2019-06-12 15:40] BrandonYeager opened #575 "User Guide missing the "extends": "eslint:recommended" check mark for "no-console" rule"
The table in the Rules page of the User Guide is missing the checkbox specifying that the "no-console" rule `"extends": "eslint:recommended"` property (https://eslint.org/docs/rules/).

The documentation page for the rule is correct.

[2019-06-12 17:47] not-an-aardvark commented on #575
Hi, thanks for the report. This is happening because `no-console` is being removed from `eslint:recommended` in v6.0.0, which is currently in prereleases. We have a versioned copy of the rule page at https://eslint.org/docs/6.0.0/rules/no-console, but there isn't a versioned copy of the `/docs/rules` page.

[2019-06-14 03:08] kaicataldo opened #576 "Proposal for adding a build step"
Originally from https://github.com/eslint/eslint.github.io/issues/536#issuecomment-500599653.

In pursuing https://github.com/eslint/eslint.github.io/issues/536, I would also like to revisit the idea of adding a build step to our site. We know it would be a prerequisite for any of the options we've discussed in https://github.com/eslint/eslint.github.io/issues/536, and separating that task out int

[2019-06-16 18:06] ilyavolodin commented on #576
I'm not opposed to having a build step, but with the current configuration of the site I'm not sure what it's going to gain us (other then added complexity). In my mind, I would hold off on adding build step until after we have a new design ready.
If you do work on this, please keep in mind that Open Collective API calls should absolutely not be part of this build step, as we run those every hour.

[2019-06-17 00:20] #563 closed

[2019-06-17 00:32] kaicataldo commented on #576
@ilyavolodin I misunderstood how we were getting data from Open Collective. Do we have a cron running these somewhere?

[2019-06-17 00:35] ilyavolodin commented on #576
Basically. It's a jenkins job that runs hourly.

[2019-06-17 00:38] kaicataldo commented on #576
Also, to give some context around my motivation, I also wanted to mention that the site redesign discussions have stalled (since about January), but I think we have enough of it designed out to get working on it. I have some time now and was hoping to make progress now to help unblock future work.

[2019-06-17 00:39] ilyavolodin commented on #576
As I mentioned, I'm not against adding a build step, I just don't really know what we would use it for in the current setup of the site. If you foresee major changes with the next version - sure, it sounds fine to me.

[2019-06-17 23:39] kaicataldo opened #579 "Syntax error resulting missing text in generated site"
Running `bundle exec jekyll build` yields the following errors:
[code]

In looking at the generated [page](https://eslint.org/docs/2.0.0/rules/valid-jsdoc#prefertype), it looks like these are just ignored and don't actually make it into the generated output.

[2019-06-18 01:25] kaicataldo commented on #525
Closing this issue since we haven't heard anything back for quite some time. Feel free to create a new issue if this is something you would like to discuss further.

[2019-06-18 01:25] #525 closed

[2019-06-18 01:27] kaicataldo commented on #531
Closing this issue since it stems from DocSearch's current behavior. Please feel free to make a new issue if there's something we can do here!

[2019-06-18 01:27] #531 closed

[2019-06-18 01:30] kaicataldo commented on #468
Is this still an issue?

[2019-06-18 01:31] kaicataldo commented on #454
Is this still an issue? Are we using Netlify? It looks like `eslint.netlify.com` is still being hosted.

[2019-06-18 01:32] kaicataldo commented on #436
Is this still an issue?

[2019-06-18 01:33] kaicataldo commented on #412
Closing this since there hasn't been any discussion in quite a while and progress on the issue has stalled. While we wish we could accommodate all requests, we have limited resources and do need to prioritize.

Feel free to open a new issue with a proposal to continue this discussion if this is something you would like to continue advocating for. Please also remember that you can always create thi

[2019-06-18 01:33] #412 closed

[2019-06-18 01:35] kaicataldo commented on #402
I'll see if I can fix this. Travis has been failing since we turned it on (for reasons unrelated to this) and should be fixed by https://github.com/eslint/eslint.github.io/pull/578.

[2019-06-18 01:35] kaicataldo commented on #327
Closing this since there hasn't been any discussion in quite a while and progress on the issue has stalled. While we wish we could accommodate all requests, we have limited resources and do need to prioritize.

Feel free to open a new issue with a proposal to continue this discussion if this is something you would like to continue advocating for.

[2019-06-18 01:35] #327 closed

[2019-06-18 01:36] kaicataldo commented on #318
Closing this issue since we haven't heard anything back for quite some time. Feel free to create a new issue if this is something you would like to discuss further.

[2019-06-18 01:36] #318 closed

[2019-06-18 01:37] kaicataldo commented on #314
Related discussion: https://github.com/eslint/eslint.github.io/issues/576

[2019-06-18 01:38] kaicataldo commented on #283
Closing this since there hasn't been any discussion in quite a while and progress on the issue has stalled. While we wish we could accommodate all requests, we have limited resources and do need to prioritize.

Feel free to open a new issue with a proposal to continue this discussion if this is something you would like to continue advocating for.

[2019-06-18 01:38] #283 closed

[2019-06-18 01:39] kaicataldo commented on #172
Closing this issue as it looks like the question has been answered. Please feel free to visit us in the [ESLint Gitter](https://gitter.im/eslint/eslint) if you have any other issues!

[2019-06-18 01:39] #172 closed

[2019-06-18 01:41] kaicataldo commented on #161
Closing this since the work for this specific task is done. Further discussion is occurring [here](https://github.com/eslint/eslint/issues/11512).

[2019-06-18 01:41] #161 closed

[2019-06-18 01:42] kaicataldo commented on #46
@ilyavolodin Is this still something you'd like to pursue?

[2019-06-18 01:51] mk-pmb commented on #436
I'll do some sampling over the next few days. Right now via my current circuit I can see the rules docs.

[2019-06-18 13:35] #490 closed

[2019-06-18 16:58] nzakas commented on #576
Sorry, still struggling healthwise, but wanted to add my :+1:. I think right now the way CSS and the demo are managed are difficult for new contributors to figure out (I've had trouble, too), so I think a build step would be helpful.

I'd also add that this might be a good time to consider hosting the site on Netlify. I've never had good luck trying to build from master and deploy to gh-pages, and

[2019-06-18 17:45] #579 closed

[2019-06-18 18:02] kaicataldo commented on #576
I'll take a look at Netlify and report back - if we can use the existing repo, that might be an easier process than the one I've proposed above.

[2019-06-18 18:15] ilyavolodin commented on #576
Netlify would allow us a lot of flexibility, but I think we need to be careful with it, since it does have a limit on the free account, and I think we will potentially hit that limit very fast.

[2019-06-18 18:33] kaicataldo commented on #576
Netlify offers [a free plan](https://www.netlify.com/legal/open-source-policy/) to open source projects which looks like it has the Pro tier features with unlimited members, so we should be okay if we decide to go that route.

I came across [this issue](https://github.com/eslint/eslint.github.io/issues/454), and it looks like we are already hosting some form of the site at https://eslint.netlify.c

[2019-06-19 20:30] kaicataldo commented on #576
Reporting back on Netlify. It was really simple to set up and I think this is the way to go. Here's [the site](https://awesome-chandrasekhar-5f411d.netlify.com/) being built from `master` with a free plan I just created.

Here is their [Open Source Plan Policy page](https://www.netlify.com/legal/open-source-policy/).

Pros:
* We can build directly from `master` and won't have to create a new repo,

[2019-06-19 20:57] ilyavolodin commented on #576
Additional pros for Netlify is that the site will no longer be fully static. We can use their dynamic functions to provide information to the site without having to re-run build (we can probably use this for team members and maybe even for sponsors). Also, Netlify is flexible in terms of framework usage. So we can use React or Vue later to re-write the website. Netlify CMS also can help in some ca

[2019-06-19 21:49] j-f1 commented on #576
The https://eslint.netlify.com site appears to be owned by @alberto.

When I got a Netlify open source plan for @typescript-eslint, it only took them like 4 hours to grant me the plan.

[2019-06-20 14:15] kaicataldo commented on #576
Quick update: I reached out to @alberto and they have taken eslint.netlify.com down. I’ve also been in touch with Netlify support and we have been granted an open source plan if we would like to use it.

[2019-06-20 21:03] kaicataldo commented on #576
One more update: the TSC voted today to move hosting to Netlify. I am in the process of inviting TSC members who are interested in helping out, and I'll be reaching out to the JSF to inquire about pointing the domain to the new site. Additionally, I've changed the domain to https://eslint.netlify.com/, now that it's free.

[2019-06-20 23:11] ilyavolodin commented on #576
Just to clarify, our domain is not pointed to github. It's pointed at cloudflare which caches our site. So we might not need to move domain, just reconfigure cloudflare. OpenJS Foundation owns that configuration and account as well. It was originally setup by @kborchers (I believe).

[2019-06-21 00:17] not-an-aardvark commented on #576
Oh, I'd been assuming that we would no longer be using cloudflare as a result of the switch to netlify. I'm fine with either option, though.

[2019-06-21 01:07] ilyavolodin commented on #576
I'm also fine with dropping cloudflare. Actually Netlify is saying that you really shouldn't use another CDN in front of it. I don't know if it will result in any problems, but it's possible.

[2019-06-21 01:43] ilyavolodin commented on #46
I'm fine with doing it, or not doing it:-) It would probably help just a bit, but not much.

[2019-06-21 04:11] not-an-aardvark commented on #576
If we do drop Cloudflare, we need to make sure we set up HTTPS with Netlify, or the site won't load. (I'm pretty sure this is possible -- I'm just mentioning it in case it requires additional configuration.)

[2019-06-21 10:14] j-f1 commented on #576
@not-an-aardvark It’s not too hard — Netlify will set up and automatically renew a Let’s Encrypt certificate with the click of a button. If you’re feeling really fancy, I believe there’s an option to upload a custom certificate too.

[2019-06-21 18:27] kaicataldo commented on #576
I think it makes sense to drop Cloudflare and use Netlify’s offerings. According to [Netlify’s docs](https://www.netlify.com/docs/custom-domains/#manual), it looks like we should just be able to create an A record pointing eslint.org to Netlify’s load balancer IP, and then once it verifies the domain configuration Netlify will be able to generate a cert for us.

[2019-06-21 18:28] not-an-aardvark commented on #576
Works for me -- it might be worth announcing site maintenance on twitter in case the switch causes some downtime while the cert is being generated.

[2019-06-21 19:25] mk-pmb commented on #436
Looking good so far. :+1:

[2019-06-21 19:56] j-f1 commented on #576
There should be downtime since the site has an HSTS header that specifies that `eslint.org` should be hardcoded into browsers so it’s always visited over HTTPS.

[2019-06-22 03:13] kaicataldo commented on #576
I can reach out to our JSF contact and see if we can find a mutually convenient time for them to make these changes. That way, I can tweet this out as well.

[2019-06-25 23:30] dudeofawesome opened #584 "eslint.org serving invalid TLS cert"
![image](https://user-images.githubusercontent.com/1683595/60140325-3a2d0c80-9766-11e9-81d6-9e997ae912d1.png)

Looks like the default Netlify cert is being served instead of the eslint.org one.

[2019-06-25 23:36] not-an-aardvark commented on #584
Thanks for the report. We're currently doing some [maintenance](https://twitter.com/geteslint/status/1143610639807647744) on eslint.org as we migrate backends, so some downtime/certificate errors are expected as the DNS changes gradually propagate. In the meantime, you can use https://eslint.netlify.com/ for a mirror of the site with a valid certificate.

[2019-06-25 23:49] dudeofawesome commented on #584
Thanks! Just wanted to make sure you guys were aware.

[2019-06-26 03:52] kaicataldo commented on #584
This should now be fixed!

[2019-06-26 03:52] #584 closed

[2019-06-26 03:54] kaicataldo commented on #576
There are a few kinks that need to be resolved (that look like they might work themselves out as the DNS changes propagate), but we have officially cut over to Netlify!

We should hold off on changing this repo until we're sure DNS changes have propagated, but then I'll be working on adding bundling into the build step as discussed.

[2019-06-27 03:47] kaicataldo commented on #576
One more thing we should discuss here: I've discovered that we can't actually unpublish this GitHub pages site unless we delete the `master` branch or delete (I think that means we can rename?) the repo. That means that once we add a build step, the site hosted at https://eslint.github.org will actually be broken. Thoughts on renaming the repo to `eslint/website`?

According to [GitHub's documenta

[2019-06-27 13:46] j-f1 commented on #576
I’m pretty sure that as long as you keep the `CNAME` file, GitHub will automatically redirect eslint.github.io to eslint.org.

[2019-06-27 15:21] kaicataldo commented on #576
Oh, interesting! I do think it would still be better to just rename the repo, but that's a good thing to keep to in mind.

[2019-06-28 03:52] aladdin-add commented on #468
I'm fine to close it, since it didn't occur again for a long time.

[2019-06-28 04:07] kaicataldo commented on #468
Sounds good - we can always re-evaluate in the future!

[2019-06-28 04:07] #468 closed

[2019-07-02 19:15] BrandonYeager commented on #575
No longer an issue now that v6.0.0 is released

[2019-07-02 19:15] #575 closed

[2019-07-02 19:40] BrandonYeager opened #589 "User Guide has incorrect example code comments in "unicode-bom" rule page"
The example code in the page for the `unicode-bom` rule has incorrect comments (https://eslint.org/docs/rules/unicode-bom#require-or-disallow-the-unicode-byte-order-mark-bom-unicode-bom).

The "always" examples should say `/*eslint unicode-bom: ["error", "always"]*/`
The "never" examples should say `/*eslint unicode-bom: "error"*/`

---

See screenshot for a clearer explanation...

![unicode-bom_U

[2019-07-02 21:13] kaicataldo commented on #589
Nice catch! This does indeed seem to be a bug. Our documentation actually live in https://github.com/eslint/eslint (we copy over those files to this repo when we run releases). Do you mind making an issue over there? PRs are always welcome, as well!

[2019-07-03 15:57] BrandonYeager commented on #589
Done! (https://github.com/eslint/eslint/issues/11937)

I'll look into submitting a PR. I haven't done a lot of collaboration on open source projects, so I'll see if I can figure it out. Thanks for reply and the direction! I really appreciate how quickly you guys respond to issues!

[2019-07-03 16:07] kaicataldo commented on #589
That's fantastic! Hopefully our [documentation](https://eslint.org/docs/developer-guide/contributing/) answers any questions you have, but please feel free to comment on the issue or visit [our chat](https://gitter.im/eslint/eslint) if you any questions!

I'm going to close this issue in favor of the new one.

[2019-07-03 16:07] #589 closed

[2019-07-05 22:36] kaicataldo opened #590 "TypeError on home page"
<img width="1358" alt="Screen Shot 2019-07-05 at 6 31 11 PM" src="https://user-images.githubusercontent.com/7041728/60747438-1e3e1d80-9f53-11e9-84ef-60e17a22662d.png">

The following error shows up in the console for the home page only (this script is guarded in the templates so that it only executes on the home page):

[code]

Taking a quick look, it appears that there isn't an element with the c

[2019-07-06 01:12] kaicataldo commented on #543
It would be nice to have some data - who here has access to the Google Analytics account?

[2019-07-06 02:27] ilyavolodin commented on #543
I have access to google analytics. But creating those reports based on browser version is a major pain, since GA doesn't support it naively, and you have to do a huge number of transformations in Excel. What information are you looking for, specifically?

[2019-07-06 03:42] kaicataldo commented on #543
I was wondering if it would be useful to get a breakdown of what percentage of visits are from various browsers so that we can let that inform our decision here.

[2019-07-06 15:52] ilyavolodin commented on #543
You mean by browser or by browser version (like the table above)? By browser, it's easy, GA has a report that I can generate without any problem. By browser version takes a lot of work, since GA doesn't support that type of report naively and you have to correlate multiple reports by hands in Excel.

[2019-07-06 16:18] kaicataldo commented on #543
@ilyavolodin Maybe we could start with the breakdown of browsers? i.e. if we see that IE is <2% of traffic maybe we can drop support. I think the tricky one here is Safari, since it doesn't automatically update and is tied to macOS versions.

[2019-07-07 00:40] aladdin-add commented on #543
IE 11 is ~0.54%, and I didn't see IE<11 in top40. see https://github.com/eslint/eslint.github.io/issues/543#issuecomment-465231289

should this be discussed in a TSC meeting?

[2019-07-07 01:33] g-plane commented on #543
Demo can't be run on IE now: https://github.com/eslint/eslint/issues/11504 .

[2019-07-07 02:00] kaicataldo commented on #543
Oh, really sorry @ilyavolodin, I don’t know how I missed the breakdown above.

[2019-07-07 02:22] ilyavolodin commented on #543
Well, that breakdown is pretty old. But it took me over an hour and a half to build it, that's why I'm hesitant to commit to redoing it again:-) But here's breakdown for top 10 browsers (not versions) for the last month:
| #   | Browser               | Users (percentage)|
|----|--------------------|---------------------|
| 1.  | Chrome                | 199,277(84.98%)  |
| 2.  | Firefox

[2019-07-10 16:10] kaicataldo commented on #576
We now have a build step! The final thing to decide here is if we want to stop publishing to GitHub Pages. As @j-f1 mention, it currently automatically redirects, but it doesn't feel great that we're deploying an unreachable broken site every time we merge.

Should we just rename this repo to `eslint/website` (See more info [here](https://github.com/eslint/eslint.github.io/issues/576#issuecomment-

[2019-07-11 19:14] #590 closed

[2019-07-11 20:49] kaicataldo opened #596 "Can we bundle ESLint and Espree directly in this repository on build?"
We currently [bundle](https://github.com/eslint/eslint/blob/master/webpack.config.js#L6-L7) `lib/linter/linter.js` and `espree` and [copy the bundles](https://github.com/eslint/eslint/blob/master/Makefile.js#L777-L778) into this repository during the release script.

It would be nice if we could just do all the bundling directly in this repository every time we build.

Some problems to solve:
1. T

[2019-07-11 20:54] ilyavolodin commented on #596
The issue with that is updates to the site that happen outside of regular ESLint release schedule. In that case, we might've already merged some changes into master on ESLint/espree repositories, but haven't yet published them. Site will pull whatever is latest. If we can make it pull from the last known tag, I'd be fine with that (faster release build is always a good thing).

[2019-07-11 22:58] kaicataldo commented on #596
Should have clarified, but that’s what I was intending above. Definitely should build with the latest published release, not what’s in master on GitHub.

[2019-07-12 19:22] aladdin-add commented on #543
just added it to tsc agenda.

please note: demo can't be run on IE now (as @g-plane mentioned), and seems there is no easy ways to fix it.

[2019-07-19 02:18] kaicataldo commented on #576
The TSC voted today to rename this repository to `eslint/website`.

[2019-07-19 02:21] kaicataldo commented on #576
I have updated changed the repo name, made sure publishing to GitHub Pages is turned off, updated the Jenkins job, and made a [PR](https://github.com/eslint/eslint/pull/12006/files) to eslint/eslint to update the release script. Am I missing anything?

[2019-07-20 15:13] kaicataldo commented on #576
The `eslint/eslint` release script has now [been updated](https://github.com/eslint/eslint/pull/12006) and all the Jenkins scripts have been updated to use the new repository name while clone (though they should have worked regardless due to GitHub redirecting the requests).

I think we're done here! Thanks everyone for all the input!

[2019-07-20 15:13] #576 closed

[2019-07-20 23:00] kaicataldo commented on #596
Relevant discussion here https://github.com/eslint/eslint/pull/12006#issuecomment-513076818

[2019-07-20 23:04] kaicataldo commented on #536
Now that the work for https://github.com/eslint/website/issues/576 is done, we are in a position to use any static site framework we'd like!

Have people's opinons changed? There have been mentions of Vuepress, Gatsby, and Docusaurus. I'm still of the mind that using Docusaurus is a win in the long run, since we get to take advantage of the community around that project and since the problem is tr

[2019-07-20 23:46] platinumazure commented on #596
I would love to see if we could have a build/release step which pulls in ESLint and espree and builds them here. Additionally, this repo could be responsible for copying the documentation from the ESLint repository. This would allow ESLint to go back to a mostly standard release (i.e., wouldn't need to add much to what eslint-release already provides), and this repository can then fully "own" the

[2019-07-26 16:42] kaicataldo commented on #596
I really like that idea. We could then change our release build to do the following:

1. Clone `eslint/eslint` and `eslint/website`
1. Run the release script in `eslint/eslint`
1. Run the release script in `eslint/website`, which copies the doc files from `eslint/eslint` and generates the eslint/espree bundles and commits them so that the Netlify build can then also bundle them.

It would be nice

[2019-08-17 22:38] kaicataldo commented on #543
This was discussed at this week's TSC meeting. The TSC resolved that the website will support IE 11, but that we won't support IE 11 in the demo due to it being such a small percentage of visits and doesn't seem like a trivial amount of work.

[2019-08-23 10:00] mysticatea opened #615 "RFC links are wrong"
It's good if the `eslint/rfcs#22` linked to eslint/rfcs#22 correctly.

[2019-08-23 11:32] mysticatea commented on #615
I'm closing this issue because the link was generated in another place.

[2019-08-23 11:32] #615 closed

[2019-08-27 08:20] thers opened #617 "Site is unavailable"
The eslint.org site is currently unavailable.

[2019-08-27 08:21] thers commented on #617
And back to live again :man_shrugging:

[2019-08-27 08:21] #617 closed

[2019-08-31 09:11] mysticatea opened #618 "ESLint Demo doesn't show red-line on the error locations"
![image](https://user-images.githubusercontent.com/1937871/64061793-4af07780-cc1a-11e9-9779-71979839975c.png)

I expected the editor to show red wave lines on the error locations and show popups when I hovered the mouse pointer.

[2019-09-04 21:02] kaicataldo commented on #618
Huh, the red wavy lines were working when I switched out the underlying code editor (though maybe they don't show up when it's only highlighting one character?). What browser are you seeing this in?

This is what I see (in latest Firefox):
<img width="493" alt="Screen Shot 2019-09-04 at 5 01 44 PM" src="https://user-images.githubusercontent.com/7041728/64291262-bba6d500-cf35-11e9-8bcd-53e2f6a57104

[2019-09-04 21:11] mysticatea commented on #618
Repro: https://eslint.org/demo#eyJ0ZXh0IjoiLyplc2xpbnQgbm8tZXh0cmEtcGFyZW5zOiBbZXJyb3IsIGFsbCwgeyBlbmZvcmNlRm9yU2VxdWVuY2VFeHByZXNzaW9uczogdHJ1ZSB9XSAqL1xuXG4vL+KclCBHT09EXG5pZiAoKGEsIGIpKSB7fVxuIiwib3B0aW9ucyI6eyJwYXJzZXJPcHRpb25zIjp7ImVjbWFWZXJzaW9uIjo4LCJzb3VyY2VUeXBlIjoibW9kdWxlIiwiZWNtYUZlYXR1cmVzIjp7fX0sInJ1bGVzIjp7fSwiZW52Ijp7fX19

I have reproduced it on Chrome 76, Firefox 69, and Edge 44.

[2019-09-05 23:11] blake-regalia opened #620 "Document new environments `es2017`, `es2020`"
Let's update the environments listed [here](https://eslint.org/docs/user-guide/configuring) so they reflect https://github.com/eslint/eslint/blob/master/conf/environments.js. Currently, I don't think there is any documentation including the `es2017` and `es2020` environments. It took me an hour to deduce why eslint was err'ing no-undef rule for `BigInt64Array` >_<

[2019-09-29 05:56] platinumazure commented on #620
Hi @blake-regalia, thanks for the issue.

I believe this is now resolved with the latest release. Please confirm and close if you don't see any issues. Thanks!

[2019-09-29 05:59] platinumazure opened #625 "Netlify issues caused by breaking change in Faraday gem"
During the 6.5.0 release and site generation, we ran into Netlify deployment issues.

The root cause was this: https://community.netlify.com/t/jekyll-builds-consistently-failing-with-error-superclass-must-be-a-class-faraday-deprecatedconstant-given/3799

PR #624 worked around the issue by pinning the Faraday gem. This issue is for tracking the eventual full resolution of this issue. My assumption

[2019-09-29 06:03] #620 closed

[2019-09-29 07:49] platinumazure opened #626 "Demo: Rule select-all checkbox does not deselect all rules"
Seems the select-all checkbox does not deselect all rules, after selecting all and then clicking once more. Not sure if this is something related to the recent release, or something else.

[2019-09-29 08:40] g-plane commented on #626
I also encountered this problem.

[2019-09-30 02:24] platinumazure commented on #625
Looks like this might be fixed with the [release of faraday 0.16.2](https://github.com/lostisland/faraday/releases/tag/v0.16.2).

This can be checked by writing a PR to remove the faraday line in the Gemfile and seeing if the Netlify preview builds.

[2019-09-30 03:24] kaicataldo commented on #625
Test PR here: https://github.com/eslint/website/pull/627

[2019-09-30 03:29] kaicataldo commented on #625
Looks like it's fixed! 🎉

[2019-10-01 18:10] platinumazure commented on #625
Closing this as #627 has been merged. Thanks @kaicataldo for putting that PR together!

[2019-10-01 18:10] #625 closed

[2019-10-08 21:12] mdjermanovic commented on #618
Does this particular example look a little better now? Seems that the red lines don't want to go much under the parens in Chrome, but at least something is visible now. It looks ok in Firefox.

This was changed in eslint/eslint#12302, it happens when a rule reports only `loc.start`.

There is an issue eslint/eslint#12334 to fix this in other rules.

[2019-10-09 14:32] mdjermanovic opened #630 "Parser demo error with bigint literals"
Requires ECMAVersion 11 (#629) to test.

Parser demo shows an error on  the following:

[code]

Parser works well, but `JSON.stringify` throws on bigint content. Demo doesn't crash, but shows an error instead of the tree:

`Do not know how to serialize a BigInt`

[2019-10-10 00:45] mdjermanovic commented on #626
The rules seem to be de facto disabled as they don't report errors anymore. It might be that React failed to update the DOM.

[2019-10-10 14:26] platinumazure commented on #626
I've also noticed that refreshing the page (with a persistent demo link) seems to resolve the issue as well, so I think you're right about it being a React DOM update issue.

[2019-10-12 20:11] mdjermanovic opened #636 "Controlled to uncontrolled warning for `Enable globals from all environments`"
Warning in the console (`start:webpack` version) after checking/unchecking `Enable globals from all environments`:

[code]

It doesn't show for `Enable all rules`

[2019-10-14 14:00] platinumazure commented on #636
Hi @mdjermanovic, thanks for this issue.

I'm not familiar with React-- what is the impact or potential impact of this issue? (Not saying it isn't worth fixing-- just trying to learn.)

[2019-10-14 20:06] kaicataldo commented on #636
In this case, I don't know if there's any real impact, since it's a stateless component. But in a component with state, this could lead to bugs because the value of the input could be out of sync with the component's state (and it's a fair assumption the author wants the value of the input to reflect the state because the component is changing it at some point).

Confirmed - PR fix incoming.

[2019-10-14 21:15] mdjermanovic commented on #636
There is a small impact on the screen only:  open this [Demo Link](https://eslint.org/demo#eyJ0ZXh0IjoidmFyIGZvbyA9IGJhcjsiLCJvcHRpb25zIjp7InBhcnNlck9wdGlvbnMiOnsiZWNtYVZlcnNpb24iOjUsInNvdXJjZVR5cGUiOiJzY3JpcHQiLCJlY21hRmVhdHVyZXMiOnt9fSwicnVsZXMiOnt9LCJlbnYiOnsiYXBwbGVzY3JpcHQiOmZhbHNlLCJwcm90cmFjdG9yIjpmYWxzZSwiYnJvd3NlciI6dHJ1ZX19fQ==) (before the fix is merged) and then select & deselect all e

[2019-10-15 15:14] platinumazure commented on #636
Thanks @kaicataldo and @mdjermanovic for the explanations!

[2019-10-15 20:34] #636 closed

[2019-10-20 15:22] mrseanbaines commented on #626
Looks like this is fixed in #632?

[2019-10-20 15:44] g-plane commented on #626
Yes, it is.

[2019-10-20 15:44] #626 closed

[2019-11-13 22:58] ilyavolodin opened #647 "Update scripts to account for Github supporters"
Currently our scripts are only checking OpenCollective for supporters to send twitter messages about and adding them to the site/readme. Now that ESLint org can be supported through Github, we need to update those scripts to use Github API for the same tasks as well.

[2019-11-14 18:31] kaicataldo commented on #596
Would love to continue this discussion! At this point, would it be best to bring this to the TSC?

[2019-11-14 18:34] kaicataldo commented on #537
I'd love to continue this discussion, given I'll now have time to dedicate to this. How would we like to move forward? Do we want to start with the initial design assets we currently have and tweak it as we go along, or do we want to try to find a designer we can actively work with (and compensate)? If we do the latter, it would be great to come up with initial design comps and then to be able to

[2019-11-14 18:46] kaicataldo commented on #536
Would love to continue moving this discussion forward.

## What framework should we use?

I'm currently using Gatsby to build my personal website and no longer think it's a good idea for our use-case here. While I've really been enjoying using it, I think there's just too much overhead with having to understand React, how to correctly write components to work with server-side rendering,  GraphQL,

[2019-11-14 19:15] nzakas commented on #647
I took a quick look at this, and it seems like the GraphQL API isn't (yet?) returning data for sponsors. I tried using a modified version of the script I'm using to pull my personal sponsors list (which does work).

<details>
<summary>GraphQL query</summary>

[code]

</details>

The list of sponsors should be in the `adminInfo` key, but it comes back as `null`. Do you have a contact for reporting

[2019-11-14 19:22] kaicataldo commented on #647
@ilyavolodin It looks like we do have a few sponsors.

[2019-11-14 19:30] ilyavolodin commented on #647
Oh, they just joined today, I guess. I was playing with the GraphQL API yesterday evening and there was no sponsors yet.

[2019-11-14 19:33] ilyavolodin commented on #647
API does return data. Here's the query:
[code]
You can run it here: https://developer.github.com/v4/explorer/

[2019-11-15 00:24] nzakas commented on #647
Nice! I can try updating the script next week but anyone should feel free to take this on in the meantime if the spirit moves you.

[2019-11-15 00:29] nzakas commented on #536
I generally agree with your assessment. I looked at a bunch of options and have felt like they were either too complicated (Gatsby, Docusaurus) or not complete enough (Vuepress). It seems like Eleventy is the simplest and most straightforward port of what we have now.

I don’t think we should tie a platform change to a redesign. I’d still like to investigate hiring a designer to do a proper redesi

[2019-11-15 15:38] ilyavolodin commented on #596
I don't think this requires TSC approval. I'm for trying this out. Seems like a good idea.

[2019-11-15 15:40] ilyavolodin commented on #537
Do we have any assets for the screenshots above? If we do, I think we should just use that until we hire designer for the site re-design. I like the screenshots above a lot more than our current homepage.

[2019-11-15 16:14] nogaraviv commented on #537
Hi Kai!

I'd love to help continue this project and take it to completion.

Are you free Sunday to hop on a call? Think it'll be easier to chat things
through: see where we're at, share my availability to help, etc

Cheers,
Noga

On Fri, Nov 15, 2019, 7:40 AM Ilya Volodin <notifications@github.com> wrote:

[2019-11-15 16:44] kaicataldo commented on #537
@nogaraviv I’ll send you an email!

[2019-11-19 05:15] kaicataldo commented on #536
I know we haven't necessarily decided to go this route, but I opened a PR cutting over the site to Eleventy to see how easy it would be [here](https://github.com/eslint/website/pull/649). It was pretty straightforward!

After going through this process, I like Eleventy. I think it has a low barrier to entry and seems to be quite flexible (down to being able to switch out templating engines). I kep

[2019-11-20 17:54] nzakas commented on #647
Starting to work on this.

[2019-11-21 18:30] #647 closed

[2019-11-22 04:13] kaicataldo opened #652 "Can we remove the parser demo?"
Can we remove the parser demo and instead point people to [AST Explorer](https://astexplorer.net) in our documentation? I don’t think it’s particularly useful in its current state and AST Explorer is a much more robust tool for visualizing ASTs generated by Espree.

[2019-11-22 04:26] kaicataldo opened #653 "Demo: add ability to configure rules"
Our demo is increasingly being used in the issue triage process, and I think it would be beneficial to treat it more as a “Playground” or “REPL” than just as a demo.

I believe a big win would be to add the ability to configure rules (instead of just being able to turn them on or off with their default configuration). It would allow users to create their configs interactively in the browser as wel

[2019-11-22 04:26] kaicataldo commented on #653
Related: https://github.com/eslint/website/issues/574

[2019-11-22 04:46] g-plane commented on #652
I agree with that. Then we don't need to maintain too much of the website.

[2019-11-25 05:59] kaicataldo opened #656 "RSS Feed is missing links"
The current [RSS feed](https://eslint.org/feed.xml) is missing the base URL in links (leading to an empty, self closing `<link />` at the top of the page.

[2019-11-30 20:56] kaicataldo commented on #656
This has been fixed by https://github.com/eslint/website/pull/649.

[2019-11-30 20:56] #656 closed

[2019-12-02 00:15] mdjermanovic opened #661 "Site removes {{ }} message placeholders"
`{{character}}` placeholder is not visible on the site:

https://eslint.org/docs/developer-guide/working-with-rules#suggestion-messageids

https://eslint.org/docs/developer-guide/working-with-rules#placeholders-in-suggestion-messages

It's visible on GitHub:

https://github.com/eslint/eslint/blob/master/docs/developer-guide/working-with-rules.md#suggestion-messageids

https://github.com/eslint/esl

[2019-12-02 03:23] kaicataldo commented on #661
Nice find! This does look like a similar case to the issue listed. `{{}}` denotes interpolated data in liquid, and it’s not rendering anything because that data key is returning a null value in that context. I’ll fix this ASAP tomorrow.

[2019-12-06 00:43] #661 closed

[2019-12-07 06:54] mdjermanovic commented on #630
Closing as obsolete because parser demo doesn't exist anymore.

[2019-12-07 06:54] #630 closed

[2019-12-11 14:59] ilyavolodin commented on #653
I explored this at some point. There's a Mozilla react component that can create a form based on JSON schema that I've tried using. Problem is, our schemas are incomplete, we don't have field names, and things like arrays are not easy to represent in a meaningful UI. Also, all of the components that I've found had very strained relationship with `oneOf`. I think it would be awesome to allow demo r

[2019-12-11 15:00] ilyavolodin commented on #652
Parser demo has been removed, so closing this.

[2019-12-11 15:00] #652 closed

[2019-12-11 15:02] ilyavolodin commented on #536
The site has been migrated from Jekyll to Eleventy, so closing this issue.

[2019-12-11 15:02] #536 closed

[2019-12-11 15:13] ilyavolodin opened #668 "Fix broken links on the site"
I ran a local crawler on the site and here's the list of links that were broken:
[code]

[2019-12-11 15:41] ilyavolodin opened #669 "Site enhancements"
This is a general list of things that I would like to see improved on the site, some of them are pie-in-the-sky type of enhancements, and some others will require larger discussion with the team on the approach:

* Documentation versioning
I think we should version all of the documentation for each released version and allow users to switch from one to another. While it would significantly increas

[2019-12-14 09:54] reduckted opened #671 "Node.js API anchor links are broken"
On the Node.JS API page, the links in the table of contents for the sub-sections are broken. For example, the link in the table of contents to the `SourceCode.splitLines()` method is:

https://eslint.org/docs/developer-guide/nodejs-api#sourcecodesplitlines

But the `id` of the element is `sourcecode-splitlines`. Clicking the "anchor" link next to the heading produces the correct URL.

Interestingl

[2019-12-17 11:33] vitaly-zdanevich commented on #537
Please read this for theme choosing https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-color-scheme

[2020-01-08 23:07] kaicataldo opened #679 "Build: build step takes a long time, causing Netlify deploys to fail"
Our Netlify deploys are currently failing, and I believe it's due to the fact that we're now [bundling ESLint in our build step](https://github.com/eslint/website/commit/75a9d5239fc0a1e844da1cbe7cafc529249e9ead), causing the Netlify build to time out. ~~The bundling takes a long time locally as well (I think this is due to `babel-loader` having to be run on `src/js/demo/node_modules/*`).~~ By addi

[2020-01-08 23:25] kaicataldo commented on #679
As an interim solution, I have temporarily changed the Netlify deploy script from `npm run build` to `npm run build:eleventy && npm run build:less && npm run build:webpack && sleep 500`, which prevents it from timing out.

[2020-01-13 14:52] easilyBaffled commented on #671
I tripped uppon this as well. Looks like is true for [docs/5.0.0](https://eslint.org/docs/5.0.0/developer-guide/nodejs-api) and [docs/6.0.0](https://eslint.org/docs/6.0.0/developer-guide/nodejs-api). This is coming directly from the [markdown file](https://raw.githubusercontent.com/eslint/website/master/docs/6.0.0/developer-guide/nodejs-api.md). It may be worth noting that the anchor link next to

[2020-01-14 16:22] kaicataldo commented on #671
Thanks for reporting this! These links are being generated by [AnchorJS](https://github.com/eslint/website/blob/master/src/js/main/index.js#L35), and it looks like the behavior is different from the links generated on GitHub. I wonder if we can fix it with the JS here?

Here's the markup on GitHub:
<img width="542" alt="Screen Shot 2020-01-14 at 11 21 00 AM" src="https://user-images.githubusercont

[2020-01-18 03:43] kaicataldo commented on #679
Crossing my fingers that [this](https://github.com/eslint/website/commit/fb76431e6ab3e8be876bc86183f8654f402d3988) fixes it. Both the preview and production deploys passed on the first run, and deploy time went from ~12 minutes to ~2:30.

[2020-01-18 03:50] kaicataldo commented on #679
I _think_ we're back in business. All 4 deploys since the PR linked above have passed on the first try in around ~2:30. :crossed_fingers:

[2020-01-22 21:35] mrmowji opened #686 "`no-param-reassign`: `arguments` object is mutated anyhow"
I was testing ESLint for the first time and I decided to use Airbnb style guide.

Let's use an example from the page:
[code]
It passes ESLint check.

But the main point for **Disallowing Reassignment of Function Parameters** is that we don't mutate `arguments` object unintentionally.

But I think that's only true if the `bar` is of primitive type. Because every time I pass a value of a complex typ

[2020-01-22 22:18] kaicataldo commented on #686
@mrmowji Hi, this doesn't seem to be an issue related to our website. Do you mind making an issue in https://github.com/eslint/eslint? I agree that this example is confusing because it come with the caveat that this would not be safe if the parameter is passed by reference. We could either make it clearer in the documentation or see if we can catch this case with an enhancement to the rule (I _thi

[2020-01-22 22:33] mrmowji commented on #686
@kaicataldo Honestly I didn't know what the problem is. I thought it's more of a website issue since there's more evidence against my reasoning. So I just wanted to see if the documentation could be clearer of what is really going on, or where my next step could be. I'll take this issue to the ESLint repo too. Thanks a lot.

[2020-01-22 22:39] ljharb commented on #686
It's not just about mutating the `arguments` object, which happens only in sloppy code. (In strict mode code, reassigning to an argument does not alter the arguments object)

It's also about the clarity of mutating and reassigning - it's easier to understand functions when the arguments are static and constant throughout the life of the function.

[2020-01-22 23:06] mrmowji commented on #686
@ljharb By first paragraph you meant something like this?

[code]

If that's so, it still mutates the `arguments`, even in `strict` mode.

If you meant the actual argument passed to the function, it mutates too:

[code]

[2020-01-23 02:58] ljharb commented on #686
Right, the rule warns in mutation of argument values - not just the arguments object.

[2020-01-23 20:01] mrmowji commented on #686
@ljharb Hope they'd be more specific on the doc. I believe there's a misunderstanding, for example see the comment on StackOverflow I linked to. Thanks.

[2020-01-23 21:21] ljharb commented on #686
Not sure what to say ¯\\\_(ツ)_/¯  the SO comment is wrong, because this rule covers a number of patterns that do not mutate the arguments object.

[2020-02-01 20:00] mdjermanovic opened #688 "Rules added in a pre-release appear in the actual list of all rules"
New rules added in `v7.0.0-alpha.0` are visible in the actual list at https://eslint.org/docs/rules/

`no-useless-backreference` for example.

The links are broken. I guess the rules shouldn't be in the list at this moment?

Ref eslint/eslint#12860

[2020-02-03 18:07] nzakas opened #689 "Build failing"
It looks like eslint.org hasn't successfully deployed in a couple of weeks. Here's the log:

<details>
<summary>Netlify Build Log</summary>
<pre>
7:10:47 AM: Build ready to start
7:10:49 AM: build-image version: 9cade8af58c2cf3a17a1e9433d2e979149488837
7:10:49 AM: build-image tag: v3.3.5
7:10:49 AM: buildbot version: 036f37945d6de439a17a554b3ae02e2f8f0f1fb0
7:10:49 AM: Fetching cached dependencies

[2020-02-03 23:30] ilyavolodin commented on #688
pre-release build was never updated to create  a new rules.yml file. So in previous pre-releases I had to do it manually. You can see rules4.yml file still left over from 4.0 pre-release builds in the _data directory. You would also need to update rules index template under the new version's directory to use that separate rules.yml file. The build steps should be update to do that automatically in

[2020-02-05 17:49] nzakas commented on #689
closed by #690

[2020-02-05 17:49] #689 closed

[2020-02-05 18:08] nzakas commented on #686
It looks like the conversation is stalled here. As this is a question rather than an action item, I'm closing the issue. If you still need help, please send a message to our [mailing list](https://groups.google.com/group/eslint) or [chatroom](https://gitter.im/eslint/eslint). Thanks!

[2020-02-05 18:08] #686 closed

[2020-02-05 18:09] nzakas commented on #596
@kaicataldo has this been addressed? It looks like there were some PRs merged related to this, so just checking.

[2020-02-05 18:13] nzakas commented on #671
This was fixed in https://github.com/eslint/eslint/commit/aea172998ec4e2af1d9186b6767c3f34428945f4

[2020-02-05 18:13] #671 closed

[2020-02-05 18:16] nzakas opened #691 "Platinum sponsor logos not shown on homepage"
It looks like we missed adding new platinum sponsors to the homepage. We are pulling data about platinum sponsors but we aren't actually doing anything with it.

[2020-02-05 21:59] kaicataldo commented on #691
Thanks for working on this!

[2020-02-05 21:59] #691 closed

[2020-02-05 21:59] kaicataldo commented on #691
Closed by https://github.com/eslint/website/pull/692.

[2020-02-05 22:01] kaicataldo commented on #596
Ah, yes! We should be good to go here. Thanks.

[2020-02-05 22:01] #596 closed

[2020-02-05 22:05] kaicataldo commented on #679
Since https://github.com/eslint/website/pull/690 was merged, builds seem to have stabilized. Closing this but will be keeping an eye on builds.

[2020-02-05 22:05] #679 closed

[2020-02-07 21:59] aladdin-add opened #694 "A cookie associated with a resource at http://www.netlify.com/ was set with `SameSite=None` but without `Secure`"
![image](https://user-images.githubusercontent.com/13050025/74068771-74b69180-4a37-11ea-86dd-5b17d8a7f94d.png)

refs: https://www.chromestatus.com/feature/5633521622188032.

broswer: Microsoft Edge 79.0.309.71

[2020-02-08 01:27] nzakas commented on #694
Can you explain more about this? Were you viewing eslint.org?

Any steps to reproduce would be helpful.

[2020-02-08 04:58] aladdin-add commented on #694
yes, it was happening when viewing https://eslint.org/. Plus, I also reproduced it on Chrome 80.0.3987.87

[2020-02-11 01:27] nzakas commented on #694
Hmm. On my phone right now, but maybe the Netlify badge at the bottom is the culprit?

[2020-02-11 14:48] aladdin-add commented on #694
totally agreed, as I didn't see other assets from the the domain.

[2020-02-13 00:04] seansd opened #695 "no-sequence rule documentation is not correct"
The first phrase literally says "Disallow Use of the Comma Operator", but that's not quite correct.
The docs correctly call out cases of usage in a `for` loop or when wrapped in parenthesis are still allowed.

However they completely miss that any variable initialization sequences with the comma operator are also allowed.  These include:

`var x = 10, y = 20, z = 0;`
`const x = 10, y = 20;`

Sugge

[2020-02-13 04:34] kaicataldo commented on #695
PRs are always welcome!

The documentation actually lives in https://github.com/eslint/eslint and gets copied into this repo when we run a release. Do you mind making an issue or PR there?

Seems like it would be informative to include multiple assignments in one statement as always valid, since this is an exception to the rule due to the way operator precedence works in JavaScript.

[2020-02-13 04:34] #695 closed

[2020-02-13 06:05] kaicataldo commented on #695
I found a bug while looking into this and ended up making a PR. https://github.com/eslint/eslint/pull/12908

Please feel free to review it to make sure your concerns have been addressed!

[2020-02-13 06:24] mdjermanovic commented on #695
This isn't comma operator, it's comma character in declaration syntax.

[2020-02-13 07:05] kaicataldo commented on #695
I've been trying to figure out if this is actually considered a comma operator or not - got a link to any reading on the subject?

Regardless, I think it's fine for the docs to list the above as correct code since it provides clarity.

[2020-02-13 07:35] mdjermanovic commented on #695
`,` and `=` characters are used directly in [Declarations and the Variable Statement](https://www.ecma-international.org/ecma-262/10.0/index.html#sec-declarations-and-the-variable-statement) and [Initializer](https://www.ecma-international.org/ecma-262/10.0/index.html#prod-Initializer) definitions, thus I believe they are not [Comma Operator](https://www.ecma-international.org/ecma-262/10.0/index.

[2020-02-13 07:53] kaicataldo commented on #695
That makes sense to me, though I'm curious if [MDN](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Comma_Operator) is incorrect then when it states that:

Seems like the author of those docs considers the comma an operator.

Agreed that `const x = 10, y = 20;` is a statement, but it looks like `x = 10` and `x = 10, y = 20` are valid expressions and can be used as value

[2020-02-13 09:10] mdjermanovic commented on #695
I think they want to point out that `,` has lower precedence than `=`, so when someone wants to use `,` to trigger some side effects before assigning a value, they must use `()`:

[code]

That's probably the meaning of "they don't exist within an expression" (unless parenthesized).

I'm not sure what would be the "normal effect of comma operators", because comma has the lowest precedence.

[2020-02-13 09:41] mdjermanovic commented on #695
Got it now, they consider `,` in `const x = 10, y = 20;` to be an operator, and the "normal effect" is that this isn't equivalent to:

[code]

it's equivalent to `const` applied to both "operands":

[code]

This makes sense as an explanation to avoid common mistakes, but I still think it's a wrong terminology.

I believe this is correct:

[code]

[2020-02-13 10:51] mdjermanovic commented on #695
`x = 10` and `x = 10, y = 20` are expressions in this context, but within `const x = 10, y = 20;` I think the only expressions are `10` and `20` as primary expressions.

That would be great as someone might expect that `no-sequences` also disallows multiple variable declarations in a single statement.

Side note, it can be disallowed with the [one-var](https://eslint.org/docs/rules/one-var)  rule,

[2020-02-19 22:44] primeare commented on #688
Broken URLs still exist in the Rules list. For example: https://eslint.org/docs/rules/no-useless-backreference. This is a bit confusing 😕

[2020-02-25 19:52] dotJoel commented on #668
I can look at this today, if you don't mind.
A spot check revealed some destinations are easy to figure out.

[2020-02-26 15:20] dotJoel commented on #668
These three pages don't exist right now.
- `/docs/6.0.0/rules/`
- `/docs/5.0.0/rules/`
- `/docs/4.0.0/user-guide/formatters/`

`/3.0.0/rules/` and `/4.0.0/rules/` have an `index.liquid`  5 and 6 do not.
`user-guide/formatters/index.md` exists in 3.0.0 and 5.0.0, but not in 4.0.0.

I'm not sure what the team would like to do about this.

The remaining two have obvious fixes:
- `http://localhost:808

[2020-02-27 01:09] nzakas commented on #668
Thanks for digging into that! I think you should be able to check out the version tags on the repo to find the missing files (for example, if you check out the v6.8.0, you should be able to find the missing rules index for v6).

[2020-03-04 09:07] natlibfi-arlehiko opened #701 "Removed rules in documentation"
The following rule pages respond with 404 when access from the [rule list](https://eslint.org/docs/rules/). ESlint CLI doesn't recognized these either:
- default-case-last
- no-useless-backreference
- no-restricted-exports

[2020-03-04 21:16] mdjermanovic commented on #701
Sorry about that! These are actually new rules that will be available in `v7.0.0`:

* https://eslint.org/docs/7.0.0/rules/default-case-last
* https://eslint.org/docs/7.0.0/rules/no-useless-backreference
* https://eslint.org/docs/7.0.0/rules/no-restricted-exports

You can install `v7.0.0-alpha.2`  and try out the rules with: `npm i eslint@next --save-dev`

These rules shouldn't appear in the list f

[2020-03-04 21:16] #701 closed

[2020-03-05 17:11] kaicataldo commented on #688
Sorry for the delay on this - I hope to fix this once I finish my blocking work on v7.

[2020-03-26 23:44] qwright10 commented on #694
Any request to Netflix like has `set-cookie` headers which don't happen to contain a SameSite attribute. This isn't an issue with the website itself and **will not** prevent the website from working.

[2020-03-26 23:45] qwright10 commented on #668
Also https://eslint.org/docs/rules/no-useless-backreference.

[2020-03-27 21:27] kaicataldo commented on #668
@dotJoel Are you still willing to work on this?

[2020-03-30 16:35] dotJoel commented on #668
@kaicataldo yea.. I will try to finish it up today.
I have some changes ready, but need to address broken links found by running LinkChecker myself.  Some seemed related to what I have done so far on this new pending branch.

[2020-04-22 09:19] sidntrivedi012 opened #715 "All Node and CommonJS rules deprecated"
Hey all,

First of all thanks a lot for maintaining ESLint. It is really helpful and useful. 💯

Just wanted to ask that since all the Node and CommonJS issues show `deprecated : true` in their rules source, so are they going to be replaced by any set of new issues or is there any other workaround to use them?

Thanks 🙂

[2020-04-22 09:29] aladdin-add commented on #715
hi, these rules have been included in `eslint-plugin-node`, please give it a try!

[2020-04-22 09:31] sidntrivedi012 commented on #715
Oh, will try it out for sure. Thanks :)

[2020-04-22 09:31] #715 closed

[2020-05-18 21:15] platinumazure opened #731 "Node.js API page could co-locate deprecated API information better"
Main page: https://eslint.org/docs/developer-guide/nodejs-api

There's a few different references to the same deprecated APIs. I think some of them are redundant.

* Full sections still present, with note about deprecation:
    * [`linter`](https://eslint.org/docs/developer-guide/nodejs-api#linter-1)
    * [`CLIEngine`](https://eslint.org/docs/developer-guide/nodejs-api#cliengine)
* [Deprecated AP

[2020-05-19 00:57] nzakas commented on #731
Can you open this in the main repo so we can have it in the same place as the docs?

[2020-05-19 04:38] platinumazure commented on #731
GitHub hasn't created an issue migration feature yet? :frowning_face:

I'll do that tomorrow, thanks.

[2020-05-19 16:48] platinumazure commented on #731
Opened eslint/eslint#13329.

[2020-05-19 16:48] #731 closed

[2020-05-29 16:55] dotJoel commented on #668
@btmills this issue should be resolved by the two PRs. I was not using "refs" the second time to imply that there was work remaining.
I feel this issue is safe to close.

[2020-05-29 16:57] #668 closed

[2020-06-06 17:02] pubmikeb opened #736 "Distinguish between formatting and code-quality rules"
**The version of ESLint you are using.**
7.2.0

**The problem you want to solve.**
Following the issue https://github.com/eslint/eslint/issues/13348, currently [Rules Configuration tool](https://eslint.org/demo) contains a long mixed list of rules, which contains both formatting and code-quality rules all together.

**Your take on the correct solution to problem.**
It's better to separate these ru

[2020-06-06 17:28] kaicataldo commented on #736
Agreed that separating the rules into categories would make the list easier to grok. I think we should group them by the categories in their metadata (similar to https://eslint.org/rules), which should be a fairly simple task!

[2020-06-06 17:31] pubmikeb commented on #736
Category in the metadata (https://eslint.org/docs/rules/) is good, but the main idea of this issue is to be able to select all code-quality rules with one click and download the config file withouth reading of metadata of all 100+ rules.

[2020-06-08 17:16] nzakas commented on #736
I'd like to separate the rules into just three headings: errors, suggestions, and style. Those are already encoded in the rule meta data and I think makes more sense that the category headings we have now.

[2020-06-08 18:31] pubmikeb commented on #736
@nzakas, great idea, i would also add separation to supported and deprecated rules.

[2020-06-08 18:43] nzakas commented on #736
Yeah, I think we’d keep deprecated rules as-is, one list of all of them.

[2020-06-08 18:45] pubmikeb commented on #736
The key idea is to be able to unselect all deprecated rules with one click to not include them into a config.

[2020-06-12 01:00] jooohhn opened #739 "Broken table of contents links in Node.js API docs"
The `ESLint`-related links in the [Node.js API](https://eslint.org/docs/developer-guide/nodejs-api) table of contents are broken.

Problems:
- Don't jump to the correct section within the page
  - constructor() -> static static getErrorResults()
- Lead to a 404
  - LintResult type -> Formatter type

![image](https://user-images.githubusercontent.com/15751908/84453491-c3a24c80-ac0c-11ea-9cf4-637160

[2020-06-12 19:57] kaicataldo commented on #739
Thanks, I have verified this bug. A PR to fix this would be welcome! For whoever ends up working on this, the file that needs to be changed is [here](https://github.com/eslint/eslint/blob/master/docs/developer-guide/nodejs-api.md). We copy this file over to this repository when we run a release.

[2020-06-13 00:13] jooohhn commented on #739
I created a PR for this fix in the main repo (https://github.com/eslint/eslint/pull/13415)

[2020-06-13 01:00] kaicataldo commented on #739
Thank you!

[2020-07-10 15:34] nzakas opened #747 "Search box linking problem"
The search box on the website seems to only ever link to `#top` no matter where in the page the search result is located. It used to link directly to the headings you clicked on in the search results. This is a poor user experience because many of our documentation pages are quite long.

I've contacted support to see if we can get it resolved.

[2020-07-17 19:21] nzakas commented on #747
It turns out this is caused by us. For some reason, we are not generating IDs for our headings and so the search is not picking them up. I suspect this happened when we migrated from Jekyll to Eleventy.

[2020-07-17 21:15] kaicataldo commented on #747
@nzakas By IDs do you mean `id` attributes on the heading elements?

[2020-07-17 22:08] mdjermanovic commented on #747
We're adding id attributes to [these headings](https://github.com/eslint/website/blob/cd5de143646f130b5805efd19560ffd36ef2f20d/src/js/main/index.js#L37) on `DOMContentLoaded`, and the search seems to be working fine with them (for example, type "suggestions" in the search).

[2020-07-20 23:35] nzakas commented on #747
@kaicataldo yes. Jekyll was adding these automatically for us. We are now relying solely on JavaScript to assign IDs, which is why this is breaking.

[2020-07-28 18:33] nzakas commented on #747
Working on this.

[2020-07-30 12:22] #747 closed

[2020-07-31 00:53] ilyavolodin opened #757 "ESLint main Readme.md is not updated with new team members"
Both @mdjermanovic and @anikethsaha are missing from README.md in the main github repo. Looks like automation failed.

[2020-07-31 01:14] nzakas commented on #757
https://eslint.org/team is also not updated

[2020-08-03 20:45] nzakas commented on #757
Looks like `octokit/rest` changed what it exports outside of a major release. :( Fixing it.

[2020-08-03 23:16] #757 closed

[2020-08-24 00:44] bradzacher commented on #739
This is a weird problem.
I've noticed that a recent change to the website has completely changed all of your anchors.

For example, your anchors for the rules page used to be just the title. Now there seems to be a number appended to the anchor:

Eg, previous link:
https://eslint.org/docs/rules/comma-dangle#options
New link:
https://eslint.org/docs/rules/comma-dangle#options-14

This is likely the

[2020-08-25 02:40] bradzacher opened #772 "appended IDs on anchor hashes"
I believe the following is a side-effect of https://github.com/eslint/website/pull/755 (filed as a separate issue as requested).

The site is now somewhat unpredictable to link to programmatically.

Previously, linking to `https://eslint.org/docs/rules/<rule-name>#options` would link to, and auto scroll to the options section for any given rule.

However now it doesn't work. This is because now an

[2020-09-08 07:04] Pratyush-Saxena opened #781 "Using Icons insted of text-links"
I guess icons will look pretty much better than text-links...
![eslint](https://user-images.githubusercontent.com/52444607/92443600-5b451600-f1cf-11ea-9bae-66a87d872543.png)

[2020-09-09 00:13] nzakas commented on #781
Thanks for the suggestion. Are you volunteering to make this change?

[2020-09-09 01:32] mdjermanovic commented on #772
#782 should remove all unnecessary `-1`, `-2`, `-3`, ...

This doesn't entirely revert to previous header IDs, because in #755 we also changed the algorithm (from  AnchorJS's [urlify](https://github.com/bryanbraun/anchorjs/blob/261c6d3e5013cc82a7682e427378f1dd89d8456d/anchor.js#L234), to [github-slugger](https://github.com/Flet/github-slugger) + [our custom code](https://github.com/eslint/website/

[2020-09-09 02:33] bradzacher commented on #772
I don't personally have an issue with having the IDs. It's a little bit weird to see them in the URL, but 🤷‍♂️ (chrome is moving to hiding every but the domain, so that matters less)

The big question for me is the last one I posed:
**Are the anchor IDs stable?***

For example; if I add a new rule called `aardvark-lint-rule` (because it will be alphabetically first) will that cause every single li

[2020-09-09 03:06] mdjermanovic commented on #772
It would be very unstable. I just tried this with the actual version: the new document got `id="options-1"`  and the old documents had `-number` suffixes incremented by 1.

We don't actually need `-number` suffixes, so it's fine to remove them unless there are duplicates on the same page.

I don't think we'll be able to guarantee permanent links (for example, if we add another header with the same

[2020-09-09 04:48] Pratyush-Saxena commented on #781
Yes @nzakas ....why not

[2020-09-09 12:34] shobhitchittora commented on #772
Hi all! I can take a look at this to fix this issue. Let me know if that'd be okay. So from what I understand it'd be okay to remove the auto-increment suffixes from the headers.

Does it have to do anything with search on Algolia? Would it be impacted ?

[2020-09-09 18:11] mdjermanovic commented on #772
Hi @shobhitchittora, thanks for the help!

We already have PR #782 to remove the suffixes where there are not necessary. If it doesn't look good, we can consider another approach.

The search will be affected (links will point to non-existing IDs) for a short period of time until it updates the index with new IDs.

[2020-09-09 20:50] nzakas commented on #781
Awesome, we are happy to have the help! Hopefully the setup instructions are clear enough, but let us know if you need any help getting started.

[2020-09-10 10:44] Pratyush-Saxena commented on #781
@nzakas ....I have created a PR ... #783 .....Pls Have a look and let me know if u want any changes

[2020-09-10 10:46] Pratyush-Saxena commented on #781
@nzakas ....I have created PR .... #783 ...Pls have a look and let me know if u want any changes

[2020-09-10 17:48] naman360 commented on #521
@oliverhr Can you please detail me about how this dead link needs to be removed by changing the link or removing the 'Further Reading' section completely? I want to work on this issue.

[2020-09-11 14:52] cschuller opened #785 "Example for linter.defineParser uses old "parse" API"
The code example in the documentation for eslint.defineParser at
https://eslint.org/docs/developer-guide/nodejs-api#linterdefineparser

uses the old "parse" API.

Change to "parseForESLint" to reflect latest ESLint API.

Yes, I am happy to provide a PR.

[2020-09-14 20:28] #772 closed

[2020-09-14 23:51] oliverhr commented on #521
On the url: `https://eslint.org/docs/2.0.0/rules/no-multi-str` on the "Further Reading" section the link on "Bad escapement of EOL" text is a dead link, since that points to `http://jslinterrors.com/bad-escapement-of-eol-use-option-multistr-if-needed/`

The domain `jslinterrors.com` is not active you can see the legend `THIS DOMAIN NAME MAY BE AVAILABLE FOR SALE`

[2020-09-15 00:19] nzakas commented on #785
Thanks. As mentioned in the PR, parse() is still applicable and parseForESLint() is only there for when people want to provide additional functionality that is specific to Eslint.

[2020-09-15 00:19] #785 closed

[2020-09-15 02:25] naman360 commented on #521
So should I remove the 'Further Reading section from the page'?

[2020-09-15 15:22] oliverhr commented on #521
Well that is an option, the other is tu change the URL to a valid one, I don't know if `eslint.org` has this information on their docs.

[2020-09-16 00:26] nzakas commented on #521
I think the best two options here are 1) do nothing, or 2) add a header that says “You are viewing documentation for an older version of ESLint. Click here for the most recent version.”

I don’t want to edit the actual content.

[2020-09-24 20:54] #521 closed

[2020-09-26 18:18] RunDevelopment opened #791 "More documentation on conflicting fixes"
I'm writing a plugin and many of my rules create fixes with potentially overlapping text ranges (I use `replaceTextRange`). So I have conflicts. The problem here is that the (code) output depends on how these conflicts are resolved, so I need information on that.

Right now, the [documentation](https://eslint.org/docs/developer-guide/working-with-rules) on conflicts states:

That's too little to w

[2020-09-28 19:23] nzakas commented on #791
Conflicting fixes are fixes that would be applied to the same part of a string. So if two fixes want to modify characters 0 through 5, only one will be applied. The best way to mitigate the risk is to make edits as small as you can.

Keep in mind that fixes are explicitly not guaranteed to occur. We make our best effort to apply all fixes but we can also bail out to ensure correctness of the code.

[2020-09-28 20:59] RunDevelopment commented on #791
Maybe "Conflicting fixes are fixes that would be applied to overlapping parts of a string" is more precise?

Unfortunately, this isn't always an option. Here's an example:

Regexes again. Let's say we have a rule 1 that removes the `i` flag of a regex literal if removing the `i` flag doesn't change the meaning of the pattern. Another rule 2 will check all character classes and tries to simplify th

[2020-09-29 00:30] nzakas commented on #791
This isn’t possible. Rules are intentionally isolated from each other to avoid side effects like this.

Just FYI: if you’d like to propose doc changes, those go in the main eslint/eslint repo. The docs in that repo are copied here during a release.

[2020-09-29 11:21] RunDevelopment commented on #791
Thank you for the information. I'll make an issue there.

May I ask how this goes against the isolation of rules? All rules would still be executed as they are now - unknowing of other rules. The only difference is that ESLint may choose to not apply certain fixes (all of this happens after all rules were executed). The ordering information could be stored as part of configs, so rules remain compl

[2020-09-29 11:21] #791 closed

[2020-09-30 00:25] #781 closed

[2020-11-27 19:29] nzakas opened #814 "Update fetch sponsors script"
The `sponsor` object in GitHub GraphQL is deprecated and will be removed. We need to replace [these lines](https://github.com/eslint/website/blob/master/_tools/fetch-sponsors.js#L134-L140) in the script with:

[code]

[2020-12-01 19:15] #814 closed

[2021-01-26 02:09] nzakas commented on #669
Given that there are no action items here, I'm closing this issue.

[2021-01-26 02:09] #669 closed

[2021-02-17 02:40] nzakas opened #829 "Missing Substack logo"
The Substack logo is missing from the homepage. This is notable because it's one of the two sponsors we have through GitHub and it appears that the API isn't returning information for it. The other GitHub sponsor is Microsoft, but that seems to be working okay.

All of the Substack data is missing from the sponsors.json file.

[2021-02-17 18:38] nzakas commented on #829
Working on this.

[2021-02-18 05:25] #829 closed

[2021-02-21 22:12] TimvdLippe opened #833 "Add date posted for blog posts"
Linked in one of the ESLint issues I found the following blog post: https://eslint.org/blog/2020/05/changes-to-rules-policies However, I wasn't able to determine on which date the blog post was published. Eventually I figured out that the full blog page shows all dates: https://eslint.org/blog/

Could you add the "date published" to a specific blog post page, to be able to determine how old a part

[2021-02-23 07:13] aladdin-add commented on #508
@nzakas  is this still an issue?

[2021-02-23 07:17] aladdin-add commented on #508
seems the default is still es5, will make a PR to fix it.

[2021-02-23 14:45] mdjermanovic commented on #833
Makes sense to me :+1:

[2021-02-24 01:56] nzakas commented on #833
Honestly, the reason we don’t have dates (or authors) is because I was too lazy to design that area when I launched the website. It’s always been in the back of my mind to get back to. If someone wants to take a stab at it, I’m all for it.

[2021-03-02 19:05] #508 closed

[2021-04-10 01:47] snitin315 commented on #833
I will add it 👍🏻

[2021-06-11 00:46] nzakas opened #852 "Add a way to manually add sponsors"
GitHub currently doesn’t integrate invoiced sponsors into their recurring payments systems, so these sponsors end up as one-offs and our script doesn’t pull their info.

I contacted GitHub and they said a fix is still months away for the API, so in the meantime we need to hardcode those sponsors to give them the recognition they deserve.

I’m thinking of creating a _data/custom-sponsers.JSON file

[2021-06-11 18:13] nzakas commented on #852
As it turns out, these new sponsors are represented in our current system but I missed them. So, no need to do this.

[2021-06-11 18:13] #852 closed

[2021-07-05 17:23] mdjermanovic commented on #739
This is fixed now, so closing.

[2021-07-05 17:23] #739 closed

[2021-07-23 21:04] bmish opened #859 "Docs: Add emoji and notice to indicate which rules provide suggestions"
A number of core ESLint rules can provide automated suggestions. I would like to update the ESLint website (rules list and individual rule docs) to indicate which rules provide these suggestions.

* Add a 💡 emoji (represents idea/suggestion) next to rules that provide suggestions in the rules list/table
* Add the following to the top of individual rule docs:
  * 💡 Some problems reported by this ru

[2021-07-24 00:31] nzakas commented on #859
Seems reasonable. FYI, you don’t need to open an issue for this sort of thing. Just opening a PR is fine. The most likely feedback is “can I see a screenshot?” so doing the PR with the change so we can see the deploy preview helps make the case.

[2021-07-29 18:09] #859 closed

[2021-08-31 21:25] nzakas opened #867 "Proposal: Split up website"
## Background

Since the beginning, the ESLint website has always had a mix of several different purposes, and each purpose has its own lifecycles and uses. At best, we can break up the website into the following sections:

| **Section** | **Base URL** | **Update Frequency** |
|--------------|---------------|--------------------------|
| Blog | `/blog` | Periodically |
| Demo | `/demo` | Every rel

[2021-09-08 19:55] nzakas commented on #867
**TSC Summary:** This issue proposes splitting up the website into three sites:

1. The marketing site (homepage, blog, sponsors, about) to be stored in the `website` repo.
2. Documentation site (docs.eslint.org), to be stored in the `eslint` repo.
3. Playground site (play.eslint.org) to be stored in a new `play.eslint.org` repo.

**TSC Question:** Do we want to pursue such a change?

[2021-09-09 00:56] thomasgilmore95 commented on #568
Hi, can I take on this issue?

[2021-09-09 01:15] aladdin-add commented on #568
sure, please feel free. :)

[2021-09-09 17:32] nzakas commented on #568
I wouldn’t mind that, but I’d like to improve the design of the blog before doing that. Right now, we don’t have important aspects on a blog post such as author name, date, or an easy way to specify the canonical URL for the content.

[2021-09-09 19:52] thomasgilmore95 commented on #568
I am happy to help with both. I can add the author name and date to each article under the title if that works. Can I get more information regarding "an easy way to specify the canonical URL for the content". Thank you.

[2021-09-09 22:39] thomasgilmore95 commented on #833
Hey! I'm not sure if this issue is still open. I would like to help if it is.

[2021-09-10 00:16] nzakas commented on #568
Ideally, we could put “canonical_url” in the front matter of a blog post and have it both insert the meta tag and insert a notice at the top of the post saying it is being reposted with permission.

[2021-09-10 00:17] nzakas commented on #833
Still open and still looking for help!

[2021-09-10 01:34] thomasgilmore95 commented on #833
Ok, I will start working on.

[2021-09-17 22:09] thomasgilmore95 commented on #833
I created a pull request for this. Not sure if I need to do anything else for licence/cla to pass. Let me know what you think about the dates thank you.

[2021-09-18 00:22] nzakas commented on #833
Sorry about that. We changed CLA bots and the old one creeps up periodically.

[2021-09-18 00:30] thomasgilmore95 commented on #833
All good, thank you for letting me know.

[2021-09-23 00:24] #833 closed

[2021-09-23 01:14] #694 closed

[2021-09-23 03:07] nzakas commented on #537
Closing due to age

[2021-09-23 03:07] #537 closed

[2021-09-23 19:55] thomasgilmore95 commented on #568
I can add the author / contributors name of the blog post into the front matter of the blog post if you would still like.

[2021-09-24 00:17] nzakas commented on #568
@thomasgilmore95 that would be great!

[2021-09-24 00:42] thomasgilmore95 commented on #568
Sounds good I will start working on this

[2021-09-24 19:54] thomasgilmore95 commented on #568
I created a pull request for this issue for the blog post authors to make sure I'm doing this the best way. Please let me know if you would like me to make changes on this before I continue with this. Thank you.

[2021-10-10 08:29] pubmikeb opened #878 "Cleanup the rules list in Rules Configuration of Demo"
The [Demo](https://eslint.org/demo) section has very useful `.eslintrc.json` configurator, the only problem it contains deprecated, duplicated, and actual rules.

It would be great:
1. to remove duplicated (renamed) rules/aliases, e.g. `id-blacklist` vs. `id-denylist`.
2. to split the [Demo](https://eslint.org/demo)'s Rules section to two sections:
   * actual rules
   * deprecated rules

So we co

[2021-10-12 00:20] nzakas commented on #878
We would gladly accept a pull request for these changes. :)

[2021-10-12 06:12] pubmikeb commented on #878
@nzakas , I've have a look on [Configuration.jsx](https://github.com/eslint/website/blob/master/src/js/demo/components/Configuration.jsx) which is looks like to be responsible for [Demo](https://eslint.org/demo) content:

[code]

Unfortunately, I don't see where `this.props.options.rules` is populated and if this list contains a rule state property (e.g. `ative`/`deprecated`).

[2021-10-13 00:27] nzakas commented on #878
It looks like it’s coming from here:
https://github.com/eslint/website/blob/c7ee67d8deec5c0d347c0f62b94a4ed8f6da72af/src/js/demo/components/App.jsx#L225

Each rule has a meta property that should give you the data you need:
https://github.com/eslint/eslint/blob/44f7de5ee4d934dee540d3d55305126c670f6bfc/lib/rules/no-process-exit.js#L14

[2021-10-13 10:46] aladdin-add opened #880 "add ecmaversion "latest" in demo"
* add "latest"
* set "latest" as default

[2021-10-14 00:40] nzakas commented on #880
Good idea!

[2021-10-21 20:53] pubmikeb commented on #878
Unfortunately, currently I can't allocate enough time to implement the issue in a reasonable time.

[2021-10-22 00:32] nzakas commented on #878
No worries. Unfortunately the demo is a pretty low priority for the team right now so it’s unlikely this will get addressed anytime soon. I’ll leave the issue open in case anyone else wants to take this.

[2021-10-25 19:00] thomasgilmore opened #883 "Update: Add authors to newer blog posts"
The older blog posts have the authors added to them.

[2021-10-25 20:55] #883 closed, assigned to nobody

[2021-10-30 02:49] nzakas commented on #568
Here's what the blog post will look like (feel free to make a PR including this):
https://gist.github.com/nzakas/bf6d129e4b48b27c96e9ae4dbb9b29eb

The `url` values in the frontmatter shouldn't be at the same level, so they won't conflict.

If `page.original` is present, the canonical URL should be set to `page.original.url` and otherwise it should be `page.url` (what we currently have). So somethi

[2021-10-31 17:04] thomasgilmore95 commented on #568
I created a PR for this. Let me know if I'm on the right track for this. Thank you.

[2021-11-09 23:31] thomasgilmore95 commented on #568
Is there anything else regarding this issue that needs to be worked on?

[2021-11-10 01:09] nzakas commented on #568
Nope! Post is live. Thanks so much.

[2021-11-10 01:09] #568 closed

[2021-12-05 13:41] snitin315 commented on #402
I think we can close it since we have added a lint job workflow. - https://github.com/eslint/website/blob/master/.github/workflows/ci.yml

[2021-12-05 13:41] #402 closed

[2021-12-06 03:50] snitin315 commented on #878
I opened a PR that will differentiate the deprecated rules by adding `(deprecated)` next to the rule.

[2021-12-06 07:15] #543 closed

[2021-12-06 07:16] aladdin-add commented on #543
Closing due to age.

[2021-12-07 01:22] #878 closed

[2021-12-09 03:45] nzakas opened #894 "Update blog post front matter"
For the new website, we'll have categories, tags, authors, and images. In preparation for that, we need to update our existing blog posts (in the `_posts` directory). This is a great way for new contributors to get started. :)

Each post needs to be updated in the following ways:

## 1. Make sure every post has a layout specified

All posts should have `layout: post` in their frontmatter, like thi

[2021-12-09 04:17] iamrahulrnair commented on #894
Hi can beginners work on this?

[2021-12-10 01:57] nzakas commented on #894
@iamrahulrnair absolutely! And don’t feel like you need to do them all, either. You can start with just one year’s posts and send a pull request for that. If you then want to go on and do more, we would of course appreciate it.

[2021-12-10 11:36] iamrahulrnair commented on #894
Hey, for categories how should i select them? on what criteria i mean?

[2021-12-11 01:17] nzakas commented on #894
Just do your best based on the descriptions of the categories I posted on this issue. It’s not a big deal if you guess wrong, they are easy to fix.

[2021-12-18 03:18] snitin315 commented on #894
@nzakas categories can be multiple, right? For example -

[code]

[2021-12-18 05:00] snitin315 commented on #894
I created a PR that will complete the 3rd and 6th points - https://github.com/eslint/website/pull/897

[2021-12-18 20:42] nzakas commented on #894
There can be multiple categories, yes, but the first will be the primary category.

[2021-12-20 16:24] stephenwade commented on #894
FYI, here is a list of posts that don't have `author` or `authors`:

2019-03-04-eslint-v5.15.1-released.md
2019-03-15-eslint-v5.15.2-released.md
2019-03-18-eslint-v5.15.3-released.md
2019-06-24-eslint-v6.0.1-released.md
2019-07-20-eslint-v6.1.0-released.md
2019-08-23-eslint-v6.2.2-released.md
2019-09-30-eslint-v6.5.1-released.md
2019-11-24-eslint-v6.7.1-released.md
2019-11-30-eslint-v6.7.2-release

[2021-12-20 16:43] snitin315 commented on #894
Thanks, I can update those post with authors in near future.

[2021-12-21 09:52] snitin315 commented on #894
All these posts seem to have `authors` now, added in https://github.com/eslint/website/pull/897.

[2021-12-24 11:23] snitin315 commented on #894
Working on `teaser` property - Part 4

[2021-12-28 22:58] btmills opened #899 "Add warning for suggested changes to rule docs"
In the 2021-12-16 TSC meeting, we discussed [feat: Fixer for missing unicode flag in no-misleading-character-class](https://github.com/eslint/eslint/pull/15279). That PR adds an editor suggestion that will add the `u` flag. Sometimes, adding that flag may change behavior of other portions of the regular expression unrelated to the misleading character class. While adding the `u` flag is probably t

[2021-12-30 14:39] pranay101 commented on #899
Hi, I am new to open source and I would like to work on this issue. Please guide me further on what needs to be done.

[2021-12-30 17:47] nzakas commented on #894
It looks like we've addressed everything so closing. Thanks everyone!

[2021-12-30 17:47] #894 closed

[2022-01-01 10:34] snitin315 opened #903 "Make sure every blog post has a teaser"
From https://github.com/eslint/website/issues/894

Following posts doesn't have `teaser` property -

- [ ] `_posts/2021-12-01-contra-gold-sponsor-eslint.md`
- [ ] `_posts/2021-02-18-nx-gold-sponsor-eslint.md`
- [ ] `_posts/2021-01-13-chrome-gold-sponsor-eslint.md`
- [ ] `_posts/2020-12-10-automattic-platinum-sponsor-eslint.md`
- [ ] `_posts/2020-10-07-year-paying-contributors-review.md`
- [ ] `_po

[2022-01-03 23:05] nzakas commented on #903
Thanks for catching that!

[2022-01-08 00:23] nzakas commented on #899
@pranay101 thanks for the interest! We would need to add a link here:
https://github.com/eslint/website/blob/a9e5dbf11025f05d2717a8d855772b55fd070ed9/docs/rules/index.liquid#L10

And then add a page that it links to describing what suggestions are and how they might produce changes that alter the code behavior.

[2022-01-10 20:08] Yash-Singh1 opened #905 "Disable anonymous proxy"
![3876AE78-84F7-491E-AE40-2CF8AC9EFE46](https://user-images.githubusercontent.com/53054099/148832044-5b8a6506-a5e7-4d0a-a29b-ec1030e79bbb.jpeg)

I don’t know if this is something that the eslint website’s hosting provider enables by default or if this is setup, but many security/device management platforms like my school district’s disable sites that are detected anonymous proxies.

[2022-01-11 00:42] nzakas commented on #905
We use Netlify as our host, with their standard setup, so there’s nothing we can configure. It seems like your school may be overly aggressive in what it blocks.

Unfortunately, your best option is probably to talk to your school’s IT department to see if they can loosen the restriction. A lot of sites are hosted on Netlify, and blocking them all seems like overkill.

[2022-01-23 07:13] pranay101 commented on #899
hey @nzakas  which link would you like me to redirect the users to?

[2022-01-24 14:42] sorokinvj opened #908 "Search results are not scrollable"
Hey guys,

Search is impossible to use if you can't see all the results. Consider this:

![Jan-24-2022 14-41-34](https://user-images.githubusercontent.com/4914235/150803826-40fbc29f-5559-45a3-b2a9-164e7a267a41.gif)

I think `body` should have `overflow: hidden` with every modal opened.

[2022-01-24 15:30] AkashaRojee commented on #903
Hello!

Is this issue available to work on, please? If yes, I would like to do this.

[2022-01-24 17:33] nzakas commented on #908
We're using the default Algolia search component, so unfortunately we don't have a lot of control over that. It's something we're looking to improve in the new site but won't be spending any time for the current one.

[2022-01-24 17:33] #908 closed

[2022-01-25 00:30] nzakas commented on #903
Yes it is! We still aren’t sure which posts have teasers and which don’t, so we would appreciate the help.

[2022-01-25 00:33] nzakas commented on #899
We can probably start with /user-guide/fixes-and-suggestions. Note that we would also need to add this into the main eslint repo in the docs folder (which is the source of truth for the website)

[2022-01-25 05:31] AkashaRojee commented on #903
Great! I'll take it :)

[2022-01-26 13:05] AkashaRojee commented on #903
Hello!

I'd just like to share some updates.

- Work is happening [here](https://github.com/AkashaRojee/eslint-website/tree/903-add-teasers)

- Found other posts without teasers

  - `_posts/2020-08-28-eslint-public-roadmap.md`
  - `_posts/2020-08-10-making-eslint-more-inclusive.md`
  - `_posts/2016-07-01-eslint-new-rule-format.md`
  - `_posts/2014-11-15-es6-jsx-support.md`

- Completed: posts up

[2022-01-27 02:00] nzakas commented on #903
Nice! Feel free to submit a PR as you finish each year rather than waiting for it all.

[2022-01-31 16:28] AkashaRojee commented on #903
Sorry for the delay. Everything is complete now, so I submitted one PR. Please, let me know if there's any changes required, though.

Thanks!

[2022-01-31 21:29] AkashaRojee opened #913 "Authors not displayed on blog posts with more than 1 author"
On blog posts with more than 1 author, the authors aren't displayed, only one GitHub URL is generated, and the URL is also incorrect.

For e.g. the post [Making ESLint more inclusive](https://github.com/eslint/website/blob/master/_posts/2020-08-10-making-eslint-more-inclusive.md) has authors `nzakas` and `kaicataldo`, but nothing is displayed after "by", and the generated GitHub URL is `https://gi

[2022-01-31 23:09] mdjermanovic commented on #913
Hi @AkashaRojee,

Thanks for finding this error, a PR is welcome!

[2022-02-01 01:47] #903 closed

[2022-02-01 08:55] AkashaRojee commented on #913
Hi @mdjermanovic,

Great, I'm on it!

[2022-02-02 01:46] #913 closed

[2022-02-02 16:54] nzakas opened #918 "Fix blog post authors"
I've been reviewing the authors listed on various blog posts, and in general, all of the posts with multiple authors listed are incorrect. It looks like people who simply contributed commits to a release are now listed as an author on the blog post, which is pretty confusing.

We need to go through and update every post with multiple authors to eliminate all but the first author that is listed. Th

[2022-02-02 19:47] AkashaRojee commented on #918
Happy to take this :)

[2022-02-03 01:42] nzakas commented on #918
Thank you 🙏

[2022-02-03 02:14] nzakas opened #919 "Build broken"
The latest build broke:

[code]

https://app.netlify.com/sites/eslint/deploys

[2022-02-03 10:34] mdjermanovic commented on #919
I updated Build & Deploy > Environment > Environment Variables > NODE_VERSION. Its value was 12, I changed it to 16.

Now deploys use Node v16 and npm v8:

[code]

It seems to work, as Retry Deploy > Deploy Site was successful.

This was probably caused by a newer version of npm updating package-lock.json in an incompatible way for npm 6, which we were using for deploys.

This issue might be relat

[2022-02-03 16:40] nzakas commented on #919
Awesome, thank you.

[2022-02-03 16:40] #919 closed

[2022-02-04 19:55] #918 closed

[2022-02-17 17:23] AkashaRojee commented on #899
Hello!

Is this issue already being worked on, please? If not, then I would like to take it.

Thanks!

[2022-02-18 01:49] nzakas commented on #899
@AkashaRojee you are free to work on it 👍

[2022-02-18 11:00] AncientSwordRage opened #926 "Please provide documentation in yml format as well"
Currently the web page only shows documentation as a JSON object:
[code]

But I'm moving towards using yaml more, so I've started a project with .eslintrc.yml and I'm having to mentally convert between JSON and yaml, or reading these: https://gist.github.com/alefteris/39c9cfe3a6baa9fc5acf

But now I have LintLens installed in vscode, I'm realising there's not even an option to switch between forma

[2022-02-19 01:23] nzakas commented on #926
We are actually moving away from YAML as a configuration format, so we won’t be adding any more documentation about it. Sorry for the inconvenience.

[2022-02-19 01:23] #926 closed

[2022-02-20 09:03] AkashaRojee commented on #899
Great!

I worked on a first draft of the suggestions page for `no-unsafe-negation`.

Please, find it [here](https://github.com/AkashaRojee/eslint-website/commit/75c150ca09a1b5b934ae50482f485ff5266277ec?short_path=6637a8e#diff-6637a8e0a8b96de68eeccb593b63a8015783404d59a9650881405c091d3f0da7).

Is the content correct?

I understand that

2. Which folder/file structure is preferred:

- /user-guide/fi

[2022-02-20 09:43] AkashaRojee commented on #899
Great!

I worked on a first draft of the fixes and suggestions for `no-unsafe-negation`.

Please, find it [here](https://github.com/AkashaRojee/eslint-website/commit/75c150ca09a1b5b934ae50482f485ff5266277ec?short_path=6637a8e#diff-6637a8e0a8b96de68eeccb593b63a8015783404d59a9650881405c091d3f0da7).

I have a few questions about the next steps. Once they are confirmed, I will proceed to the fixes and

[2022-02-23 01:57] nzakas commented on #899
Thanks so much for working on this. I think we may have a misunderstanding here: we aren’t looking for individual updates to rules where we list what happens with each suggestion. All we are doing here is adding a link from the rules index page that explains suggestions in all rules may not be safe.

As such, option 1 is the best choice to display a generic message about why suggestions may not be

[2022-03-07 05:46] AkashaRojee commented on #899
@nzakas Thanks for the clarification. Sorry for the delay, I was out of action. I'll get to it this week 🚀

[2022-03-09 01:13] nzakas commented on #899
No problem, thanks for the followup.

[2022-07-11 18:58] nzakas commented on #867
This is complete! 🎉