[2014-01-19 18:06] noahcollins opened #3 "ESLint Demo Page"
Add embeddable text editor. Orion is first choice. Go with Codemirror for the first version if Orion will take too much time and research.

[2014-01-19 18:09] noahcollins opened #4 "Favicons"
Generate favicons for various platforms. Update template to point to correctly-sixed favicon sources.

[2014-01-19 18:18] noahcollins opened #5 "Mobile cleanup"
- Tweak jumbotron background position
- Correct jumbotron heading letterspacing
- Remove jank in menu transition
- Improve type contrast for lead-in text

[2014-01-19 18:24] noahcollins opened #6 "Layouts"
Work on column width, positioning, type hierarchy, and sidebar content where needed.

- Main landing page
- Docs pages
- Blog index
- Blog post

[2014-01-19 18:27] ilyavolodin opened #7 "Add Respond.js for legacy support"
IE6-8 is really not important at all anymore. But considering it's a one line change, we should probably do it.

[2014-01-21 23:18] #7 closed, assigned to nobody

[2014-03-09 18:55] ilyavolodin opened #12 "Add Integrations to the site"
I can't seem to find Integrations (https://github.com/eslint/eslint/tree/master/docs/integrations) on the site. It would be very nice to add it in.

[2014-03-11 16:30] #12 closed, assigned to nobody

[2014-11-01 18:00] DavidBruant opened #17 "Lots of broken links in http://eslint.org/docs/rules/"
Lots of rule documentation links end on `.md` as for http://eslint.org/docs/rules/no-alert.md
Some links to documentation rules end with `.html` which leads to a page like http://eslint.org/docs/rules/no-implied-eval.html

[2014-11-02 02:31] #17 closed, assigned to nobody

[2015-01-18 01:08] TylerEich commented on #3
@nzakas [Here's a Plunk](http://plnkr.co/edit/jUNamd6xKvYWzckqpnBn?p=preview) I threw together today. I can't commit to any future work on this, but it may serve  as a starting point.

Here are some errors:
![editor-error](https://cloud.githubusercontent.com/assets/3460063/5791028/788fe90a-9e84-11e4-8818-55b57578d007.png)

And here's lint-free:
![editor-no-lint](https://cloud.githubusercontent.com

[2015-01-25 02:50] #3 closed

[2015-01-30 21:03] nzakas opened #21 "Update demo to use CodeMirror"
Change the text entry to use CodeMirror so we can see lint errors inline. Code donated from here:
https://github.com/angelozerr/codemirror-lint-eslint

We just need to integrate it.

[2015-03-07 00:09] ilyavolodin opened #25 "Clean up site's code"
Each page on the site includes two 404s for the following files:
http://eslint.org/js/vendor/codemirror-js-mode.js
http://eslint.org/js/main.js

Those are not necessary, so they should be removed from the main template.

[2015-03-07 00:11] ilyavolodin opened #26 "Add rule configuration option to the demo"
ESLint has a ton of different rules, I think it would be good to add ability for users to play with different rules on the demo page. For that, we need to expose a way to configure them. It would be even cooler, if we would allow to use plugins, but I don't think that's possible with the current setup.

[2015-03-07 00:45] nzakas commented on #26
Plugins are a stretch, but options would be nice.

[2015-03-07 00:45] nzakas commented on #25
Yikes, nice catch.

[2015-03-07 00:46] ilyavolodin commented on #25
Working on this.

[2015-03-07 00:55] ilyavolodin commented on #26
Correct me if I'm wrong, but currently, there's absolutely no way to do plugins in a browser, right? That feels like an oversight, maybe that should be looked into.

[2015-03-07 00:56] nzakas commented on #26
You are correct. It's not an oversight - ESLint is made primarily to be used on the command line. We only create a browserified bundle for demo purposes, but it's in no way meant to have all the functionality available on the command line.

[2015-03-07 01:29] ilyavolodin commented on #26
I was thinking more in terms of Orion, but I guess, they are forking ESLint anyways, if they want plugin support, they should be able to add it in.

[2015-03-07 02:26] nzakas commented on #26
Yeah, they just need to create a plugin loader and it should work fine.

[2015-03-07 03:06] #25 closed

[2015-03-07 03:25] ilyavolodin commented on #26
I started looking into this, and the biggest problem that I see is rule configuration options. We do not have central place that lists all available options for rules, and in order to make this even remotely user friendly, I would need to list config options as something like checkboxes.
I also do not want to maintain options separately from rules themselves, because that means that the page will

[2015-03-07 03:40] nzakas commented on #26
I think in the short term it makes sense to just toggle options off or on rather than configuring them completely.

We do have this issue open to figure out how to deal with rule options more sanely: https://github.com/eslint/eslint/issues/967

[2015-03-08 01:39] #26 closed

[2015-03-18 00:25] ilyavolodin opened #31 "SEO issues"
This is a list of issues with the site that can improve SEO.
- [ ] Fix page titles. Rule documentation should list rule name, all the pages should include major keywords in the title "JavaScript" and "Linting". Titles should be changed to "ESLint - Pluggable JavaScript linter" or something like that.
- [ ] Page descriptions should be modified to expand on the title. Should also include all major k

[2015-03-18 00:48] nzakas commented on #31
:+1:

[2015-03-18 00:55] ilyavolodin commented on #31
@nzakas Do you mind creating gmail account for eslint and sharing login information with me, so that I could setup WMT (https://www.google.com/webmasters) (or setting up WMT and giving my existing gmail account access to it, if that's supported. Can't remember if it is.).
Btw, just found out that google gives unfair advantage to Google+ accounts, so it might be also worth registering Google+ accou

[2015-03-18 01:57] nzakas commented on #31
Sure, will set it up in the next couple days.

[2015-03-18 02:14] ilyavolodin commented on #31
Also, once you set it up, can you give that account access to GA, and my email as well? GA has some additional tooling once WMT is connected to it.

[2015-03-18 17:12] nzakas commented on #31
I just set it up - had to move tracking from my old Gmail account to a new one, so might take a bit to set up. I added you to the GA account. Feel free to do whatever you want in there. :)

[2015-03-18 17:24] ilyavolodin commented on #31
Thanks. Just got GA invite. Now just need WMT and I can setup XML sitemap which alone should boost rating a bit (since google for some reason only indexed half the site so far, not sure why).

[2015-03-18 17:36] nzakas commented on #31
Okay, I'll get that setup.

While we're add it, I think some of the stuff that's in the eslint repo should be moved to be in this repo instead. Basically, anything that doesn't directly have to do with features in ESLint (contribution guidelines, integrations, etc.) I think should live in this repo instead.

[2015-03-18 17:38] ilyavolodin commented on #31
Agree. It would also make it much easier to control. I think basically the only thing that should be left in ESLint repo is rules documentation and possibly developers/setup guide

[2015-03-18 17:39] nzakas commented on #31
I think also configuring should be in the eslint repo.

In any event, I just setup WMT and added you. Can't link GA and WMT right now for some reason, will have to look into it more later.

[2015-03-18 17:49] nzakas commented on #31
Crap, I messed this up by using the wrong Gmail account. Need to fix.

[2015-03-18 17:49] nzakas commented on #31
Ugh, I need to delete the WMT account, sorry :( Will recreate in a moment.

[2015-03-18 17:51] nzakas commented on #31
Okay, it appears I didn't have to delete it. Should be set.

[2015-03-19 01:24] ilyavolodin opened #32 "Move and restructure documentation"
As mentioned in #31 we should move some of the documentation out of ESLint repository and into this one. I suggest we not only move it, we also restructure some of it. I propose removing "Docs" link on the website all together and then:
* Moving "Architecture" under "Developer Guide".
* Renaming "Configuring" to "Configuration" and making it a top level menu, and then moving "Command Line" under i

[2015-03-19 02:51] nzakas commented on #32
In my mind, the top level should be:

* User guide
* Developer guide
* Demo
* About

I think everything we have falls under these quite nicely. We can probably debate which bucket is appropriate for a few.

Thoughts?

[2015-03-19 02:53] ilyavolodin commented on #32
Sounds good. I'm just a bit worried about removing "Rules" from top level. That's probably why most of the people come to the site. Other then that, I think it would simplify navigation significantly. I might even suggest possibly removing "About" as well, and just putting it's content on the home page (will improve CEO as well:-)

[2015-03-19 02:59] nzakas commented on #32
We could always link to the rules landing page from the homepage as well.

We might need a new homepage design to have room for the content on About. I'm not opposed to that, it's just really hard to get design help.

[2015-03-19 03:03] ilyavolodin commented on #32
We can leave "About" in for now, and if/when we get some design help, we can remove it and move content to the home page. Linking rules from home page also works fine. I'll work on pull request for those changes in the near future and then I can create and submit XML Sitemap to google.

[2015-03-19 15:27] nzakas commented on #32
Awesome!

[2015-03-19 17:23] ilyavolodin commented on #31
@nzakas Whenever you have time, could you connect GA to WMT? I can't do that, cause only owner has permissions to do that. Just navigate to GA, go to Acquisitions -> Search Engine Optimization -> Queries and then click on "Setup Webmaster Tools data sharing" and follow instructions from there (the important part is at the very bottom of the page under "Webmaster Tools settings"). This is not urgen

[2015-03-19 18:55] nzakas commented on #31
Okay, should be set. It kept getting confused because I have four Gmail accounts open.

[2015-03-19 18:55] nzakas opened #33 "Add users page"
I really like what Babel did with this page: http://babeljs.io/users/

I'd like to have something similar for the site.

[2015-03-20 20:01] lo1tuma commented on #32
I would prefer to keep all docs in the eslint repository.

1. If I have no internet connection (e.g. when I am working in a train), I can still read the markdown files in my local eslint copy (that one from npm, not from git).
2. Additionally to eslint/eslint#993 I think it would be a nice feature to have all documentation available as a man page.

[2015-03-20 20:17] nzakas commented on #32
I understand the desire. The problem is that it's really starting to become impractical to keep all documentation in the code repo. I wanted documentation *related to code* to be kept in the eslint repo, but we ended up sticking everything in there out of convenience. That meant important documentation changes always had to wait for another release.

We will be keeping the rules documentation and

[2015-03-21 02:38] #32 closed

[2015-03-21 04:02] lo1tuma commented on #32
Why do you think so? I think the documentation should be delivered with the project. The website is just one frontend which displays the documentation.

Yes!! A bug in the documentation is also a bug in eslint and it SHOULD be fixed with a patch release.

Exactly. As I sad it would be nice to have ALL the documentation of eslint available as a man page (I should create an issue for this feature re

[2015-03-21 06:32] ilyavolodin commented on #32
I completely disagree with your position. Majority of the large projects on Github don't keep their documentation in the repo. jQuery, Esprima, Grunt, D3 have their documentation on the website, but not mixed with their code. There are multiple reasons for that:

Only a very small percentage of people will clone main repository, 99% will just install it through NPM and read documentation on the we

[2015-03-21 16:13] nzakas commented on #32
@lo1tuma I think we are actually saying same the thing: There is a distinction between website content and eslint documentation. We may be using different words, but fundamentally we are in agreement.

The eslint documentation will remain in the ESLint repo. What we are doing is pulling out the website content so we can manage that separately. We want a relationship where the ESLint documentation

[2015-03-21 21:22] #31 closed

[2015-03-23 18:05] ilyavolodin opened #38 "Fix Contributing section of the site"
Since documentation has been moved around, contributing section is now incorrect (it still says all documentation is in eslint repo). That should be fixed.

[2015-03-28 21:54] ilyavolodin opened #46 "Register sitemap in Bing developer tools"
Google webmaster tools are all set now. We should also register the site on bing as well. @nzakas could you create an account here please: http://www.bing.com/toolbox/webmaster and give me access? I'd rather you have ownership of all of those accounts.

[2015-03-28 23:18] nzakas commented on #46
Sure thing. Will likely get to it Monday.

[2015-03-28 23:46] ilyavolodin commented on #46
No rush. We get no traffic from Bing at all. JavaScript developers don't really use Bing much.

[2015-03-28 23:47] ilyavolodin commented on #33
Creating a page is really easy. Getting people to add their logos is a bit trickier.

[2015-03-29 00:24] nzakas commented on #33
We just need to seed a few to get the ball rolling.

[2015-04-03 23:49] nzakas opened #51 "Add Architecture to Developer Guide menu/index"
Right now, the Architecture page isn't linked from anywhere. It should be part of the Developer Guide listing.

[2015-04-04 01:51] #51 closed

[2015-04-04 02:53] #6 closed

[2015-04-04 04:42] ilyavolodin commented on #21
It looks like it should be possible to do with Orion as well, They have Annotations that would do exactly the same thing. Unfortunately their documentation is not really great. @mamacdon would you be able to help us with this? As far as I understand it should be possible to add annotations through `editor.getAnnotationsModel().addAnnotation()` but I don't fully understand what goes into it, and wh

[2015-04-06 15:35] mamacdon commented on #21
Hey guys. There's an easier way: `editor.showProblems(Problem[])` where each Problem looks like [this](https://wiki.eclipse.org/Orion/Documentation/Developer_Guide/Plugging_into_the_editor#The_Problem_object).

Here's a fix that worked for me: https://github.com/mamacdon/eslint.github.io/commit/fc0670351a0dcdbb88233f3d987e226d46045b31

It's not perfect:
* I set the `end` offset for each annotation

[2015-04-06 15:35] mamacdon commented on #21
Also, the Orion jsdoc in this area is poor, I'll try to improve it. Thanks for pointing it out.

[2015-04-06 23:43] cvrebert opened #54 "no-param-reassign "Version" section problem"
http://eslint.org/docs/rules/no-param-reassign contains the text "## Version" under the "Further Reading" section. Presumably the start of a new section entitled "Version" was intended instead.

[2015-04-07 00:26] ilyavolodin commented on #54
Thanks for the report. I think that might be because no-param-reassign is missing empty line at the end of the file. I'll verify.

[2015-04-07 01:17] ilyavolodin commented on #21
Awesome! Thanks for the help @mamacdon I'll create a pull request for this.

[2015-04-07 01:35] #21 closed

[2015-04-07 01:56] #5 closed

[2015-04-07 20:31] ilyavolodin opened #57 "Create a section of the site with links to tutorials"
There's already a few tutorials/articles out there on how to setup ESLint. It would be nice to have a section of the site with those links. Some of them explain how to configure ESLint much better then our documentation does. Although, maybe the goal should be to have our documentation be better then those articles?:-)

[2015-04-07 23:57] nzakas commented on #57
:+1:

[2015-04-08 00:05] ilyavolodin commented on #57
I can add that page in, and collect a few links. But I just wonder if we should write our own quick guide sort of thing, and then link to those other articles for more information. What do you think?

[2015-04-08 01:33] nzakas commented on #57
Probably a good idea, though it would be weird to link out from our own guide and say "for more info, see stuff we didn't write." I'd probably keep the two separate.

[2015-04-12 00:17] ilyavolodin opened #59 "Site was not regenerated correctly for 0.19.0 release"
Stuff is missing that should've been there. Like my commit: https://github.com/eslint/eslint/pull/2204 doesn't seem to be present in the new version of the site. Not sure what went wrong.

[2015-04-12 01:11] nzakas commented on #59
Weird. I did have some trouble with site generation during the release, but I thought I fixed the problems. Here's the commit: https://github.com/eslint/eslint.github.io/commit/90af43c07e1b23b0ce70dbe60c4c6ca07cd8e2b1

Anything else missing?

[2015-04-12 02:21] ilyavolodin commented on #59
I spot-checked a few other commits, and mine seems to be the only one missing. Don't know why.

[2015-04-13 12:13] spadgos opened #61 "Documentation: word missing in output"
*(Copied from eslint/eslint#2297)*

On [Working with rules](http://eslint.org/docs/developer-guide/working-with-rules) under the `context.report()` heading, the source reads:

    context.report(node, "`{{identifier}}` is unexpected!", { identifier: node.name });

But the output shows:

![selection_006](https://cloud.githubusercontent.com/assets/426222/7111744/77ed9aa4-e206-11e4-9504-35df11cfce4c.

[2015-04-25 20:40] ilyavolodin commented on #59
@nzakas There's still some problem with site generation. 0.20.0 should've included `linebreak-style` however, README in rules hasn't been updated with it... I'll try to regenerate the site right now and see if it will work for me.

[2015-04-25 21:31] ilyavolodin commented on #59
Nevermind. I was under the impression that `linebreak-style` made it into 0.20.0 release, but it didn't.

[2015-04-26 00:33] nzakas commented on #59
Can we close this now?

[2015-04-26 00:34] ilyavolodin commented on #59
Yes. Closing.

[2015-04-26 00:34] #59 closed

[2015-05-15 16:53] ilyavolodin commented on #54
This issue has been fixed. Closing.

[2015-05-15 16:53] #54 closed

[2015-05-18 07:43] spadgos commented on #61
Fixed in https://github.com/eslint/eslint/pull/2299

[2015-05-24 02:54] bryanbraun opened #67 "Add Anchor links to sections in the docs"
It would be nice to link [directly](http://ux.stackexchange.com/questions/36304/use-of-mouse-over-paragraph-marker-in-headlines-for-permalink) to various sections in the docs and developer guide via anchor links.

I happen to maintain [a tool](http://bryanbraun.github.io/anchorjs/) that helps with that and would be happy to help set it up.

[2015-05-24 03:21] ilyavolodin commented on #67
I was planning on adding links to sections at some point. All of our documents already have anchors, since they are generated from .md files by jekyll, we just don't expose a menu anywhere yet.

[2015-05-24 04:18] bryanbraun commented on #67
I've added a PR with one possible approach.

[2015-05-31 23:41] stevemao opened #69 "It would be good to be able to search for rules on the site"
I wanted to search for the equivalent of jscs `disallowKeywordsOnNewLine` but couldn't find an easy way. Would be great if I could do that.

[2015-06-01 01:53] gyandeeps commented on #69
I think I like the idea. As personally I always have to do a cntrl + f to lookup rules.

[2015-06-01 01:55] ilyavolodin commented on #69
I was planning on adding search by at least name to the rules page. I'm just waiting to get rule schemas completely added into eslint first.
However, I'm not sure if search by name would help in this case...

[2015-06-01 01:56] stevemao commented on #69
@gyandeeps
Well you can't do that for searching equivalents or keywords (detail info) of a rule.

[2015-06-01 01:58] ilyavolodin commented on #69
@stevemao I don't think we will ever add full text search into the site. Our site is hosted using github pages, that doesn't allow server-side code, and doing such search on the client-side is not feasible. Our site, however, is fully indexed by google, you can always do a search there.

[2015-06-01 02:02] stevemao commented on #69
Full text search might be a bad idea. But I would like to search by rules (all rules including jshint and jscs).

Another thought. Maybe we can add a "equivalents" page (mostly for people who are using jscs and jshint in the past)?

[2015-06-01 02:13] ilyavolodin commented on #69
We do not keep a list of jshint or jscs rules. And I don't think we will be able to create "equivalents" page. Our rules update quite rapidly (and same goes for jscs), and we also don't have one-to-one mapping. Some of our rules cover only parts of rules from jshint/jscs and some cover quite a bit more then counterparts. Keeping this page up to date would be a nightmare. You can try https://jslint

[2015-06-01 02:37] stevemao commented on #69
I understand. It doesn't have to be one-to-one mapping or anything strict like this. It could be very rough.

Reason I open this is because in some pages I see

Compatibility
JSHint: indent
JSCS: validateIndentation

I personally like this as I wanted to switch from jshint or jscs in some projects. This makes everything easier. It would be great to quickly search for those. Mainly for starters.

[2015-06-01 02:40] ilyavolodin commented on #69
Only a few rules have compatibility section, and that was done mostly early on, when we were trying to catch up to JSHint in terms for rules parity. I'm not sure we would be able to parse it out of the .md files, but I can take a look. For now, though, I suggest you use google search, and just prefix your search term with ` site:eslint.org`. That should give you pretty accurate results.

[2015-06-01 18:00] nzakas commented on #69
You can search the site via Google, just use:

[code]

[2015-06-01 19:51] rabbitfang opened #70 "0.22.0 and 0.22.1 blog posts incorrectly dated"
The blog posts for the 0.22.0 and 0.22.1 releases are dated the 30th of June, 2015, which has not yet occurred. They should be dated for the 30th of *May*, 2015.

[2015-06-02 19:22] nzakas commented on #70
Oops, thanks for the heads up! @ilyavolodin do you have time to fix this?

[2015-06-02 19:24] ilyavolodin commented on #70
I will try to do it tonight. Was planning on fixing it yesterday, but...

[2015-06-02 22:05] #70 closed

[2015-06-05 02:30] #67 closed

[2015-06-10 23:35] PiPeep opened #74 "eol-last documentation page is confusing"
Compare: http://eslint.org/docs/rules/eol-last
With: https://github.com/eslint/eslint/blob/master/docs/rules/eol-last.md

The newlines got stripped in the code block, making the examples impossible to understand.

[2015-06-10 23:40] gyandeeps commented on #74
I think we need to just get rid of the last 2 examples.

[2015-06-11 00:24] nzakas commented on #74
Either way, this is an issue for the ESLint repo, since that's where the docs live.

[2015-06-11 01:12] gyandeeps commented on #74
@PiPeep Can you please log this issue here: https://github.com/eslint/eslint/issues
and then close this one.
thanks

[2015-06-11 18:03] #74 closed

[2015-06-24 02:07] stevemao commented on #69
It would be great if we add this to the docs?

[2015-06-24 02:46] ilyavolodin commented on #69
What do you mean? Add google's search box up top? Yes, I guess we could do that, but I always sort of hated that kind of integration.

[2015-06-24 02:49] stevemao commented on #69
The google search box looks ugly. I was thinking this could be added to something like "Pro Tips".

[2015-06-24 02:51] ilyavolodin commented on #69
Ahhh.. I got it, just an explanation on how to search the site. We could do that. In all honesty, I would rather just add a full blown search, but that's a bit problematic, since we are hosted in Github.

[2015-06-24 02:53] stevemao commented on #69
Yup :smile:

[2015-06-25 14:28] xjamundx opened #77 "Add Espree Parser"
Let's do an updated version of this using espree:
http://esprima.org/demo/parse.html

We could borrow the style used here:
https://babeljs.io/repl/

[2015-06-29 08:13] Semigradsky opened #80 "Lint es6 code in demo"
Please, add more [Environments](http://eslint.org/docs/user-guide/configuring#specifying-environments) to [demo page](http://eslint.org/demo/).

![image](https://cloud.githubusercontent.com/assets/1198848/8404328/ca6a752e-1e54-11e5-9839-65a5093d25c5.png)

![image](https://cloud.githubusercontent.com/assets/1198848/8404345/e31b363a-1e54-11e5-9bbe-96e42ce992d4.png)

[2015-06-29 16:38] nzakas commented on #80
es6 environment doesn't work inline due to https://github.com/eslint/eslint/issues/2705

Are there other environments you'd like added?

[2015-06-29 16:52] Semigradsky commented on #80
I would like to be able to lint es6 code. It seems that `es6` environment should allow it.

In the list rules there are rules specific to es6:
![image](https://cloud.githubusercontent.com/assets/1198848/8413320/5d15ac48-1e98-11e5-8fb5-922f4aca3e6d.png)
But I see `Unexpected token const` error

[2015-06-29 17:00] rabbitfang opened #81 "Link from 0.24 release blog to "preparing for 1.0.0" broken"
The link "the release plans" on the 0.24.0 blog post is a relative link that naviates to http://eslint.org/blog/2015/06/eslint-0.24.0-released/preparing-for-1.0.0 instead of http://eslint.org/blog/2015/06/preparing-for-1.0.0/, giving a 404 error.

[2015-06-29 17:06] Semigradsky opened #82 "Grouping a list of rules in the demo"
It would be great if the rules in the list would be somehow grouped.

For example as in the [documentation](http://eslint.org/docs/rules/).

[2015-06-29 19:35] #81 closed

[2015-06-29 19:38] nzakas commented on #80
Please see the issue I linked in my previous comment for discussion of why it doesn't work.

[2015-06-29 22:02] ilyavolodin commented on #80
Environments in the demo are not supplied inline, so es6 should work. However, I did try to get it to work some time ago, and I couldn't figure it out. I'll give it a try again at some point (probably when we'll be ready to merge in Espree demo).

[2015-07-09 23:53] jesstelford commented on #33
To kick it off, my company [Domain.com.au](http://domain.com.au), one of the leading property portals in Australia, uses ESLint.

[Here](https://mega.nz/#!lxZyGb7C!e37obu-sKWqlU9ymXUpedW4HvjiaXQd456YMGOYRBR0) is an SVG logo you can use.

[2015-07-10 00:22] nzakas commented on #33
Would you be interested in submitting a PR to create this page?

[2015-07-10 00:23] ilyavolodin commented on #33
I'm looking into that right now.

[2015-07-10 00:44] nzakas commented on #33
@ilyavolodin <3

[2015-07-10 01:23] ilyavolodin commented on #33
How does this look? I didn't create a separate page (we don't really have enough logos for that yet). I just added a carousel to the bottom of the homepage. I added a few companies without permission (well, actually all that I added I don't have permission from except for Domains), but that's was just done for testing.

![eslint](https://cloud.githubusercontent.com/assets/1380062/8610481/90420a0e-

[2015-07-10 02:50] jesstelford commented on #33
@ilyavolodin Looks great! Maybe the title could be "Who's using ESLint?" to remove the corporatey feel (although; it really is a carousel of corporate logos!).

Thanks for putting it together so quick :)

[2015-07-10 02:56] nzakas commented on #33
Looks nice, couple notes:

1. :-1:  for the carousel. I'd just let all logos show.
2. I like @jesstelford 's idea about changing the text. That would allow projects to add their logos too.
1. I'd kill the border around the logos.
3. Instead of hardcoding in HTML, I'd suggest using a [data file](http://jekyllrb.com/docs/datafiles/) and render using that. I think that will make it easier to move thi

[2015-07-10 03:00] ilyavolodin commented on #33
If you want all of the logos to show, should we do it on the home page, or on the separate page? I though to have a carousel for 3 logos at a time that would either expend to show all logos on click, or link to a separate page with the list of all logos.

[2015-07-10 03:03] nzakas commented on #33
Ah, that makes sense. I still wouldn't do a carousel, that's the worst web interaction there is IMHO.

But if you want to show three with a link out to a larger page, that sounds good.

[2015-07-10 03:04] ilyavolodin commented on #33
Ok, I'll change it around tomorrow

[2015-07-10 14:54] gyandeeps opened #85 "Demo: Should also include rule name in the error messages"
I think it would be a good idea to include rule names inside the error messages. It will be consistent based on how eslint works and also it helps to find out which rule is throwing errors.

[2015-07-10 14:56] ilyavolodin commented on #85
Rule names are shown if you mouse over red dots on the right side of the editor. But, yes, we should also include them in error messages. I haven't been paying attention to the demo, because I'm planning a full re-write for it at some point.

[2015-07-10 14:57] gyandeeps commented on #85
Sounds good.

[2015-07-12 18:31] ilyavolodin commented on #33
Ok, here's a new screenshot. I removed carousel, switched to using data file, randomized array of logos. Clicking on "see more" link will expend the container above and show all of the available logos. (box logo still doesn't look right, since it's narrower then the rest, it looks a lot bigger, even thought they all the same height).

![eslint](https://cloud.githubusercontent.com/assets/1380062/86

[2015-07-12 19:56] nzakas commented on #33
:+1: pretty

[2015-07-12 19:57] ilyavolodin commented on #33
Now we need more logos:-) We need at least 4 to start with. We currently have box and Domains only. @nzakas do you want to reach out to some people and ask for permission?

[2015-07-12 20:17] nzakas commented on #33
@xjamundx can you get us a PayPal logo?

@zpao would it be OK to put a Facebook logo on this page?

@goloroden can we use a logo for the next web on this page?

@zij can we use a Fitbit logo on this page?

[2015-07-13 00:42] jesstelford commented on #33
@ilyavolodin

Love it - will keep it fresh for every visit :)

[2015-07-13 06:59] goloroden commented on #33
@nzakas Yes, of course :-)

Feel free to use [this one](http://www.thenativeweb.io/images/brand.png)

[2015-07-13 20:17] zpao commented on #33
Feel free to use the logo or if you want the new wordmark instead: https://www.dropbox.com/s/vyhb16c20l8upke/Facebook-06-2015-Blue.png?dl=0

[2015-07-14 01:35] ilyavolodin commented on #33
@goloroden Could you provide a larger logo please? Something like 150px height.

[2015-07-14 03:17] xjamundx commented on #33
I'll get you the PayPal logo in the morning!

[2015-07-14 06:16] goloroden commented on #33
@ilyavolodin Yes, of course :-)

I'll ask our designer about this and get back to you as soon as possible.

[2015-07-14 14:41] goloroden commented on #33
![tnw_logo_h150px](https://cloud.githubusercontent.com/assets/906327/8676004/296b4ffa-2a47-11e5-9df0-2b7597904ca3.png)

[2015-07-14 14:41] goloroden commented on #33
Here we go: 150px in height, PNG with transparent background.

[2015-07-14 14:51] ilyavolodin commented on #33
Awesome, thanks @goloroden

[2015-07-14 18:45] bgw commented on #61
I think this should be reopened. The fix didn't really work (eslint/eslint#2299 followed by eslint/eslint#2502), and it's still broken on the website.

[2015-07-15 00:56] #33 closed

[2015-07-16 03:13] mysticatea opened #99 "Demo: an ability to specify code with URL."
I want to use demo to report issues.
I'm happy if I can specify code with URL.

Such as:

[code]

[code]

[2015-07-16 03:14] gyandeeps commented on #99
I like it. Its so handy when I want to share it with people.
I know esprima does it on their website.

[2015-07-16 03:14] ilyavolodin commented on #99
Yes, it's on my todo list. It's just not that simple, because rule configuration matters a lot. And we have a lot of rules and options. I don't think it all will fit on query string, so we probably need to get a database to store configuration + code and output a token.

[2015-07-16 14:47] nzakas commented on #99
Eek, I really wanted to keep the site static for simplicity - otherwise we will be spending time debugging why the DB connection is slow, broken, etc.

[2015-07-16 14:49] ilyavolodin commented on #99
I wasn't planning on making the site dynamic. Just exposing a web service,
that can be called to save and retrieve examples.

[2015-07-16 17:50] nzakas commented on #99
Yup, that's what I was referring to...why introduce something that could break? The demo isn't really meant to be anything more than just that, a demo to try it out. I think doing anything more than the query string solution is a lot of work for very little gain and maintenance headaches.

[2015-07-16 18:52] ilyavolodin commented on #99
My idea for this change was to turn demo into a bug reporting tool as well. It would be much easier and quicker to ask people to reproduce their issue in the demo, and past URL into github issue, then chase them for version of ESLint, .eslintrc and error messages that they are seeing.
I originally hoped to find some free service that just allows arbitrary key-value pair storage and retrieval, but

[2015-07-17 17:45] mrspeaker opened #101 "No clear install instructions"
I was told by a coworker that we were moving to eslint, so I came to the website and scoured it looking for the big "install now!" button or some call-to-action... looked through the "configuring eslint" page, then tried the "about" page, then clicked the "latest news link" but the install instructions looked strange as it said it was a "pre-release" version... because I'd clicked on everything el

[2015-07-17 20:09] nzakas commented on #101
Yeah, I can see your confusion. We should probably have that right smack on the homepage. For what it's worth, we do have installation information here: http://eslint.org/docs/user-guide/command-line-interface

[2015-07-19 17:34] mrspeaker commented on #101
Yeah, I found them in the end! You can close off this issue - I just wanted to bring it up even though it's minor, because I know it's hard to look at your own docs from the perspective of someone who has no idea about your project - so it's easy to lose people who might otherwise stick around.

[2015-07-30 00:13] IanVS commented on #101
The `eslint --init` initialization wizzard is a great first step for beginners.  How about a big button that provides download instructions, first steps (like the `--init` wizzard) and a super-basic explanation of concepts with links to dive in deeper?

[2015-08-03 19:12] xjamundx commented on #80
Yeah I'd love to help get this working. Maybe I'll work on this and the espree demo thing again.

[2015-08-04 08:29] Nirazul opened #108 "Hard to separate working blocks from failing ones"
I know the docs are autogenerated. But maybe there's a way to do that:

Currently, every block is formatted the same way. It would be much clearer to use some sort of color coding to separate the "good" examples from the ones that fail tests. A good example for color coding is found on [bootstrap](http://getbootstrap.com/components/#alerts-links).

Would be looking like that:
![rules](https://clou

[2015-08-04 13:14] IanVS commented on #108
I agree that it would be good to put some thought into UI/UX for this.  I'm not sure if colors are the best way (considering r/g colorblind folks), but perhaps it could be used in conjunction with a larger redesign at some point?  I'd love to see some consistency between how options are explained and examples are given.  I just don't know how that design should look.

[2015-08-04 14:29] Nirazul commented on #108
Colors were just the most obvious way I came up with to solve the problem. Currently, we are all treated as colorblinds.
If you want to tackle it at a more general level, perhaps a table is a better way to display qualities:

Rule: **`yoda`**
default: **`"never"`**

Configuration | validates | fails
------------- | --------- | -----
`"yoda": [2, "never"]` | `if (color === "red") {}` | `if ("red" =

[2015-08-04 15:49] nzakas commented on #108
The problem becomes how to generate such changes automatically. It's unlikely we will get a volunteer to reformat every for by hand, so what can be done such automation?

[2015-08-05 13:52] btmills commented on #108
If we can find a solution for this that will also solve the remaining blocker in my mind on eslint/eslint#2271 (how do we lint valid examples but only check invalid examples for syntax?), then we could solve this at the same time we (likely meaning "I") go through and use configuration comments (related discussion eslint/eslint#3208) for all the examples.

[2015-08-05 14:32] IanVS commented on #108
Is it just a matter of wrapping code blocks with a div of an appropriate class?  I don't know how the file loader / documentation linting works, but that could potentially be used at least for styling.

[2015-08-05 14:34] IanVS commented on #108
And @btmills I would be happy to change docs to use configuration comments. Your mind/time is better utilized on less tedious activities.

[2015-08-05 17:16] ilyavolodin commented on #108
I don't think it's a matter of wrapping the code in a div. We write everything in MD format. And code blocks are converted into `<pre>` tags by jekyll. I don't actually know how we can achieve valid vs. invalid styles with .md

[2015-08-05 17:35] IanVS commented on #108
[code]

Is valid markdown, and the background can be styled with:

[code]

I've tested it out in my blog (which also uses markdown) and it worked, and can try it on the this repo tonight.

[2015-08-06 07:34] Nirazul commented on #108
@IanVS If your example works out, would you agree with my idea to use tables? It'd be basically the same approach:

[code]

[code]

[2015-08-06 14:08] IanVS commented on #108
I can try tables as an experiment, but in my experience markdown tables are kind of a pain to work with.   I do think in general the result might look nicer and be clearer, but we could run into the issue of wrapping lines, which is always ugly in code examples. Also, changing to tables would require much more drastic changes to all of the rule docs. I'll try it out though.

[2015-08-06 16:33] nzakas commented on #108
Just to reiterate: anything manual is not a good solution. These are manual solutions which mean we are going to have to manually convert everything and also manually enforce their usage on pull requests. In both cases, this is a lot of work, so I'm skeptical this is a good direction.

[2015-08-06 16:39] btmills commented on #108
What if the examples in the docs were all *live*? If the demo could be made into something reusable, then invalid examples would have the actual error messages right there.

[2015-08-06 16:41] nzakas commented on #108
And how would you automate that?

[2015-08-06 17:15] btmills commented on #108
For illustration, I'll borrow an example from eqeqeq:

--

The following patterns are considered okay and do not cause warnings:

[code]

The following patterns are considered warnings with "smart":

[code]

--

`npm test` runs the linter on the docs using the Markdown preprocessor. `Makefile.js` will fail the build on errors (parse errors in valid and invalid examples and lint errors in the valid

[2015-08-06 18:12] nzakas commented on #108
Interesting. And how do we update the already existing docs?

[2015-08-06 18:14] IanVS commented on #108
I've volunteered to update them.

[2015-08-06 18:33] #101 closed

[2015-08-09 17:21] robotvert opened #110 "Demo: Export settings function"
Hi,

Recently I had to setup a new dev machine, including re-installing things like eslint.

Couldn't remember how to start using it so I went to the demo page and found myself searching for some "export these settings" functionality.

I don't know how people use the demo page but if trivial to make that functionality might be a cool addition.

Just my 2 cents, feel free to close this "issue" at w

[2015-08-10 14:23] IanVS opened #111 "1.0.0 Migration Guide is hard to find"
It might be worth adding a link to one or all of the following:

- Getting Started guide
- The User Guide menu
- The homepage itself

[2015-08-10 23:03] nzakas commented on #111
+1 for the first two spots

[2015-08-11 14:02] #111 closed

[2015-08-12 15:04] JamesThorpe opened #115 "Demo: Rules configuration tooltips not including examples"
On the demo page, some of the checkbox tooltips within the Rules Configuration section are written with the intent to include examples.  These examples do not appear as they're not being included in the markup for the toolip:

![image](https://cloud.githubusercontent.com/assets/8236566/9227464/9886614c-410b-11e5-98f3-0e5d0b6818dc.png)

[2015-08-12 15:07] JamesThorpe commented on #115
Looks like it's because these are built to automatically read the first paragraph from the documentation pages:

https://github.com/eslint/eslint.github.io/blob/master/js/app/demo.js#L124

Unsure of the best fix at this point, as obviously some of the documentation is quite lengthy.

[2015-08-12 15:09] nzakas commented on #108
Cool :)

[2015-08-12 15:10] nzakas commented on #110
I'm not sure how hard it would be. @ilyavolodin any thoughts?

[2015-08-12 15:10] nzakas commented on #115
Thanks, we will take a look.

[2015-08-13 17:19] callumlocke opened #117 "It's hard to find out if a given rule is on/off by default"
The top of the [rules](http://eslint.org/docs/rules/) page says:

But I can't find any further explanation of which configuration setting will turn on which rules.

On a specific docs page, e.g. [no-const-assign](http://eslint.org/docs/rules/no-const-assign), there is no mention of if/when the rule is enabled by default. Does this mean the rule is never on-by-default, even with the `es6` env enabl

[2015-08-13 18:54] IanVS commented on #117
The rules which end with `(recommended)` are turned on by extending `ESLint:recommended`.  By default (meaning you've not extended anything or specified any rules or added any plugins), all rules are off.

Perhaps we could make the explanation more clear, by changing the note you reference to something like:

[2015-08-13 18:55] IanVS commented on #117
By the way, after `1.0.0`, setting an `env` will never turn on or off rules.

[2015-08-13 21:49] ilyavolodin commented on #115
I don't really think it's fixable. I just grab the first paragraph from the documentation page and hope that it has something that would explain what this rule does. Unfortunately, our documentation doesn't follow strict formatting, so in a lot of cases, first paragraph might be incomplete, or might not explain anything about the rule...

[2015-08-13 21:50] ilyavolodin commented on #110
It shouldn't be too hard to add. However, currently rule configuration for the demo only supports on/off mode, and a lot of our rules are configurable. I was planning to add ability to configure rules and at the same time add ability to export selected configuration.

[2015-08-13 23:55] IanVS commented on #108
You're right, this doesn't work in `redcarpet`, Jekyll's markdown processor.

[2015-08-14 03:25] xjamundx commented on #80
I think I figured it out...will issue a PR tomorrow

[2015-08-14 07:28] JamesThorpe commented on #115
Yeah - completely understand.  Perhaps one approach could be to keep the popovers open for longer, rather than disappearing as soon as you move off the element, and put a "read more..." link in them that goes to the full documentation page?

[2015-08-14 14:20] #85 closed

[2015-08-14 14:21] #80 closed

[2015-08-14 14:52] ilyavolodin commented on #115
@JamesThorpe That might solve it. But I think better approach would be to populate tooltip with short rule description from here instead: http://eslint.org/docs/rules/
At least most of those are meaningful.

[2015-08-18 13:53] callumlocke commented on #117
That docs wording change looks good to me, thanks.

[2015-08-18 14:01] callumlocke commented on #117
Is there a list of all the rules that get turned on by `eslint:recommended`?

It's not mentioned on the [configuring](http://eslint.org/docs/user-guide/configuring#extending-configuration-files) page.

[2015-08-18 14:32] callumlocke commented on #117
What will setting an `env` actually do, if it doesn't turn on or off rules? Is it purely for pre-defining globals?

[2015-08-18 14:52] IanVS commented on #117
This can be found in a few places.  There is a list in the [migrating guide](http://eslint.org/docs/user-guide/migrating-to-1.0.0#all-rules-off-by-default), and they are indicated by `(recommended)` in the [rules list](http://eslint.org/docs/rules/).

Setting `env` defines globals and sets `ecmaFeatures` for the Espree parser.  You can see the definition of the environments in: https://github.com/

[2015-08-18 20:14] #77 closed

[2015-08-22 02:06] xjamundx commented on #77
This is super cool:
http://felix-kling.de/esprima_ast_explorer/

[2015-08-22 05:23] IanVS commented on #77
Very nice indeed! Looks like he's planning to add other parsers as well (Espree included): https://github.com/fkling/esprima_ast_explorer/issues/20

[2015-08-22 22:52] fkling commented on #77
I'm almost there, will publish something in the next few days.

I was also thinking to support eslint plugin prototyping. Currently, when you click the transform button, you will get jscodeshift for generic AST-to-AST transform stuff. But if I generalize this a bit, then the "transform" could be interpreted as eslint plugin (and load and run eslint). It should be relatively easy then to add new to

[2015-08-24 05:32] fkling commented on #77
Added espree and got a shine new domain: http://astexplorer.net/.

[2015-08-26 00:16] nzakas commented on #117
Handling this in the ESLint repo.

[2015-08-26 00:16] #117 closed

[2015-08-26 00:20] #61 closed

[2015-08-26 03:34] IanVS opened #123 "Demo: Add "Check/Uncheck All Rules" button"
Sometimes I'd like to turn off all rules besides the one I am interested in.  It would be nice if there was a quick way to turn them all off.

[2015-08-28 01:45] mysticatea opened #125 "Demo's annotations are not 1-based column"
![image](https://cloud.githubusercontent.com/assets/1937871/9537338/cd30690c-4d71-11e5-942e-907bf32b01cb.png)

[2015-08-28 04:05] IanVS opened #126 "Long lines of code in <pre> blocks wrap to next line"
On smaller screens, or for longer lines of code, the current behavior is to wrap to the next line.  This reduces readability, and will become more of an issue when https://github.com/eslint/eslint/commit/0873e01b7240139ceac731e0b6232bf3f94fedfb hits the site, as there are some long error comments.  For example:

![array-bracket-spacing_wrap](https://cloud.githubusercontent.com/assets/4616705/95389

[2015-08-28 04:19] IanVS commented on #126
Another comparison:

![eslintignore_wrap](https://cloud.githubusercontent.com/assets/4616705/9539082/61d7c198-4d1a-11e5-85da-af82d2217067.png)  vs  ![eslintignore_scroll](https://cloud.githubusercontent.com/assets/4616705/9539083/64375714-4d1a-11e5-9fea-3d42b1f64bf2.png)

[2015-08-28 15:30] ilyavolodin commented on #125
Yeah, demo was never fixed after 1.0 release.

[2015-08-28 15:41] #126 closed

[2015-09-03 23:21] #125 closed

[2015-09-03 23:38] mysticatea commented on #125
Thanks!

[2015-09-04 00:07] ilyavolodin commented on #125
Sure, I figured since I can't really force myself to find time to rewrite demo, I might as well fix this issue.

[2015-09-04 00:10] ilyavolodin commented on #38
The whole contributing section has been re-written, so closing.

[2015-09-04 00:10] #38 closed

[2015-09-06 19:57] mzgol opened #137 "The es6 option doesn't work in demo"
When I enable the `es6` environment at http://eslint.org/demo/, the following basic code:
[code]
is still not recognized:
[code]

[2015-09-06 19:57] mzgol commented on #80
It still doesn't work for me: #137.

[2015-09-06 20:01] gyandeeps commented on #137
I just tried it. Works for me.

[2015-09-06 20:16] mzgol commented on #137
I didn't. IMO having to click "OK" is very unintuitive, most online systems with switches I encounter update the options immediately after checking them. Is there a reason why clicking OK should be required?

[2015-09-06 20:19] gyandeeps commented on #137
Since we have a large set of checkboxes where we did put a OK button so that when the user is done making all the choices then he can say OK. Bu that's a separate discussion where we can come up witha better way if possible.

But to your question of its working or not working, we can say it works right?

[2015-09-06 20:22] mzgol commented on #137
Yeah, this issue is invalid.

[2015-09-06 20:22] #137 closed

[2015-09-07 14:00] xjamundx opened #138 "Demo: Update Without OK Button"
Per #137 we should just let each option automatically update the options.

I can do this.

[2015-09-07 14:02] xjamundx opened #139 "Demo: Add Ability to Configure Rules"
Currently there is no way to configure rules in the demo.

I'd like to add the ability to read `.eslintrc` files directly and for them to update the rule-set as well as the ability to configure rules.

There are several possible UI treatments, I'd love feedback on the best way before I move forward.

My current thought is to just have a file-upload box that will update the configuration.

And inst

[2015-09-07 14:03] xjamundx commented on #110
I will do this.

[2015-09-07 15:01] ilyavolodin commented on #139
Umm... That would make uploading .eslintrc a primary use case of the demo. And playing with different rules distant and very inconvenient second. I think if you already have .eslintrc file, you probably have eslint installed and can test out your changes locally. I think primary use case for the demo is exploring eslint and finding out more about rules.
Something like this is what I was thinking o

[2015-09-07 15:12] xjamundx commented on #139
I think we can accommodate both use cases :)
On Mon, Sep 7, 2015 at 8:01 AM Ilya Volodin <notifications@github.com>
wrote:

[2015-09-07 15:52] ilyavolodin commented on #139
Sorry, I was talking mostly about your suggestion about `input` boxes for rules. I don't think that will cut it.

[2015-09-07 19:35] xjamundx commented on #110
Presumably we can either put the output in a modal popup or just use something like https://developer.mozilla.org/en-US/docs/Web/API/URL/createObjectURL (which seems to have decent browser support per http://caniuse.com/#feat=bloburls) to allow them to download a file created dynamically in the browser. Should be a fun project.

[2015-09-07 23:43] nzakas commented on #138
:+1:

[2015-09-08 01:28] mysticatea commented on #138
:+1:

[2015-09-08 23:53] #138 closed

[2015-09-08 23:54] mysticatea commented on #138
Yay!

[2015-09-11 18:58] xjamundx commented on #139
<img width="624" alt="screen shot 2015-09-11 at 11 58 10 am" src="https://cloud.githubusercontent.com/assets/246143/9823649/70a3bf84-587c-11e5-9011-2e580ecda60f.png">

working on something like this....when you click on the arrow you will be able to configure the rule....

[2015-09-11 19:01] ilyavolodin commented on #139
Sounds good. I tried playing with the libraries I linked above, but couldn't make them accept our json schema, would be interested to see what you did.

[2015-09-12 00:41] ilyavolodin opened #142 "Local Storage cache is not auto-clearing"
Since the demo stores all of the rules into local storage, and doesn't have any mechanize for clearing it, new releases do not add new rules to demo for people who viewed the site earlier. We should somehow clear the local storage after every release.

[2015-09-17 19:15] mzgol commented on #138
The OK button still exists; is it still needed now?

[2015-09-17 19:55] xjamundx commented on #138
It closes the box :)

[2015-09-17 20:00] ilyavolodin commented on #138
Ok button is not really needed, but it also doesn't hurt anyone. And in the case where you don't know if update was triggered or not, it's a way to force an update

[2015-09-17 20:41] mzgol commented on #138
@ilyavolodin

Since the content is already updated it doesn't really force an update but is a noop when it comes to applying rules. But, as @xjamundx wrote, it closes the box so perhaps this is enough to keep it.

[2015-10-06 14:03] pixelastic commented on #69
_I initially posted the same issue in the wrong repo (eslint core), so I'm adding my voice to this issue as well:_

I, too, am bothered by the fact that everytime I need to find documentation about a specific rule, I have to get out of the website, do a `eslint {name-of-the-rule}` google search, and get back to the website. It would be much more easier if I could do my search directly from the web

[2015-10-06 14:06] ilyavolodin commented on #69
@pixelastic I think it would be nice to add a search to the site. Quick question though. As far as I remember Github pages don't support arbitrary jekyll plugins. Would algolia plugin work with Github pages? Also, how much control do we have over output of the search engine?

[2015-10-06 14:20] pixelastic commented on #69
@ilyavolodin The search would totally work on websites hosted on GitHub pages. But, to reindex your data (ie. keep your search data in sync with your real content), you will have to manually run the `jekyll algolia push` command whenever you usually push to `gh-pages`. As you said, GitHub pages will not execute Jekyll scripts that are not in their whitelist, so this would have to be done from your

[2015-10-06 15:10] ilyavolodin commented on #69
@nzakas Do you have jekyll installed locally, would we be able to add `jekyll algolia push` into the release script before pushing website out?

[2015-10-06 16:32] nzakas commented on #69
Since I'm on Windows, I can't get Jekyll to work, so anything that requires me to run Jekyll manually is a nonstarter.

The only real option would be to publish the site through an intermediary to another host, but that seems like overkill.

[2015-10-06 18:24] ilyavolodin commented on #69
Hmm.. that would be a problem. I did get Jekyll to run on my Windows machine, but it took me hours to setup correctly.

[2015-10-07 10:52] pixelastic commented on #69
Hmm, the `jekyll algolia push` command is tightly bound to Jekyll internals, a node script won't do it.

Is Docker easier to install than Jekyll on Windows? I could provide a Dockerfile that will do the `jekyll algolia push`, but that seems a bit overkill.

There might also be a way to do it automatically through TravisCI now that I think of it. I'm going to test if this is doable.

[2015-10-07 13:44] ilyavolodin commented on #69
Travis CI solution would be ideal, since we can set it up to kick of on any master branch update.

[2015-10-07 13:58] pixelastic commented on #69
I just did a quick test with TravisCI and this is working fine. Still, it requires a bit of configuration:

- Adding a `Gemfile` with the `jekyll` and `algoliasearch-jekyll` version numbers
- Adding a `.travis.yml` (running `bundle exec jekyll algolia push` when pushing to `gh-pages`)
- Adding an `ALGOLIA_API_KEY` env variable in the TravisCI config panel

@ilyavolodin: Would that work for you?

[2015-10-07 15:52] pixelastic commented on #69
I've updated the documentation of our plugin with more detailed information of what is required to make it work with Travis: https://github.com/algolia/algoliasearch-jekyll#github-pages

[2015-10-14 09:47] pixelastic commented on #69
@ilyavolodin and @nzakas : Would the TravisCI solution suggested above be acceptable for you? It still requires a minimal bit of configuration the first time, and then every reindexing of data will be automatic on every updates on the `gh-pages` branch.

If so, I'll start working on the search implementation.

[2015-10-14 13:06] ilyavolodin commented on #69
@pixelastic I think it's a reasonable approach. Let's try that. The only correction is we need Travis to kick out a new build on update of master branch, not `gh-pages`

[2015-10-14 17:06] pixelastic commented on #69
Sure, this can easily be changed.

[2015-10-18 19:50] platinumazure opened #146 "Code Conventions document should be linked in Contributing doc"
(Migrated from eslint/eslint)

I spent a while digging around for the Code Conventions doc because I couldn't remember where info on `@author` and `@copyright` could be found, and unfortunately it's not part of the "Developer guide" menu of the site. Any chance that could be fixed?

(N.B. This is a documentation issue, not a code issue, so not supplying any version or test case information.)

----

[2015-10-18 20:05] platinumazure opened #147 "Repository lacks .gitignore"
Since there are devDependencies, it's worth adding a `.gitignore` file to ensure `node_modules` don't accidentally get committed.

[2015-10-19 18:03] nzakas commented on #147
I'm not sure this is needed. @xjamundx ?

[2015-10-19 18:04] #146 closed

[2015-10-19 18:10] ilyavolodin commented on #147
It would also help if you run Jekyll locally, as Jekyll generates `_site` folder where it puts compiled code.

[2015-10-20 06:31] platinumazure commented on #147
@nzakas Is it *needed*? No. Is it a best practice to avoid the possibility of a well-intentioned newbie checking in something he or she shouldn't? Yes. Is it the end of the world if someone does commit those folders or files? No- but it's history you don't need in the repo.

@ilyavolodin If you see value in my amending the issue and PR to include `_site`, I can do that. Let me know.

[2015-10-20 15:56] xjamundx commented on #147
I personally do like including this as I think it makes it easier for folks working on the project. May not be absolutely needed, but makes it easier for reviewers to not miss accidental check-ins so I'm :+1:

[2015-10-22 01:05] ilyavolodin commented on #147
@platinumazure Sorry, lost track of this issue. Yes, could you update PR to include `_site` and I'll merge it in.

[2015-10-22 01:07] ilyavolodin commented on #69
@pixelastic Any updates on adding algolia search?

[2015-10-22 09:46] pixelastic commented on #69
Sorry, didn't have time to start this this week. I'll give it a go probably next week, I'll keep you informed.

[2015-10-23 14:15] platinumazure commented on #147
Sorry for the delay- work has been crazy. I will update the pull tonight!
On Oct 21, 2015 8:05 PM, "Ilya Volodin" <notifications@github.com> wrote:

[2015-10-25 02:29] #147 closed

[2015-11-05 10:55] pixelastic commented on #69
I've been working on it this week, I should be able to show something in the next days. Sorry for the delay.

[2015-11-12 04:42] ilyavolodin opened #154 "Add a note that search is provided by Algolia"
Would a note in the footer of search autocomplete work? CC: @pixelastic

[2015-11-12 07:30] pixelastic commented on #154
Absolutely. I can even do the PR if you want.

[2015-11-12 17:03] #154 closed

[2015-11-13 16:07] platinumazure opened #156 "Demo: Demo does not work in Firefox"
I get two errors in Firefox 42.0 (using Firebug console). Unfortunately, I'm not sure which of these are relevant. Sorry.

And:

The second one seems to be from autocomplete.min.js, but not 100% sure.

The odd thing is, I actually get similar errors in Chrome, so... if my diagnostics are useless, I apologize.

[2015-11-13 16:54] xjamundx commented on #156
<img width="1236" alt="screen shot 2015-11-13 at 8 54 14 am" src="https://cloud.githubusercontent.com/assets/246143/11151845/25a8f85c-89e4-11e5-8147-feaf62a28257.png">

[2015-11-13 16:54] xjamundx commented on #156
I noticed there's no search bar on this page as well, probably the JS that's included is different than the JS for the rest of the site and it's blowing up....

[2015-11-13 16:57] ilyavolodin commented on #156
I hate debugging requireJS errors. But it looks like firefox was having issues with `text` plugin for require.

[2015-11-13 16:58] xjamundx commented on #156
I can probably fix this if you want. Just give me a day.

[2015-11-13 16:58] ilyavolodin commented on #156
Sounds good. Let me know if you will not find anything, I can then take a look at it over the weekend.

[2015-11-13 23:58] platinumazure commented on #69
I think this can be closed?

[2015-11-14 00:30] ilyavolodin commented on #69
Yes, thanks.

[2015-11-14 00:30] #69 closed

[2015-11-14 16:39] #156 closed

[2015-11-20 21:48] nzakas opened #159 "Algolia search failing in Travis"
Looks like the Travis setup isn't quite working.

https://travis-ci.org/eslint/eslint.github.io/builds/92346666

@pixelastic any ideas?

[2015-11-20 21:58] ilyavolodin commented on #159
Looks like travis config is missing a step to install required gems.

[2015-11-21 17:33] pixelastic commented on #159
Hmm, looks like your `master` branch does not have a `Gemfile`, so the `bundle install` run by Travis fails.

This is weird, I thought I added the `Gemfile` to my PR, but I check and it is not in it. In any case, here is the content of the `Gemfile` I have on my laptop, that should work:

[code]

[2015-11-21 17:36] pixelastic commented on #159
I can submit a PR with the missing file if you prefer.

[2015-11-21 17:57] gyandeeps commented on #159
Sure. Thanks

[2015-11-23 14:16] #159 closed

[2015-11-25 17:19] nzakas opened #161 "Publish documentation translations"
We have the opportunity to have Chinese translations for our documentation. Some things we need to figure out:
1. How would we store this documentation in the repo? (Is it a separate repo?)
2. How will people get to it? (cn.ESLint.org? eslint.org/cn?)
3. How can we do this in a way that doesn't negatively affect SEO?

[2015-11-25 17:22] ilyavolodin commented on #161
If we are talking specifically about Chinese translation, then as far as I understand, offer implied maintaining a separate repository and a completely separate site. I don't think it would be great idea to merge translations into this repository and use our existing site for it, since we would need to do a release every time translations are updated.

[2015-11-25 17:25] nzakas commented on #161
Yes, that's what the offer was, I'm looking at additional options. I want to make sure we are considering all possibilities before diving in.

[2015-11-25 17:32] ilyavolodin commented on #161
Well, I think I definitely wouldn't want to keep rule documentation translations in eslint main repository, since it would require release for publishing every time and would in general create a bunch of commits unrelated to the core project.
Keeping it in this repository vs. having a separate repository doesn't seem to make much of a difference, other then, with a separate repository, merges can

[2015-11-25 17:34] nzakas commented on #161
I'm not opposed to having a separate repo,, but what would we do about share CSS, images, etc? Manually copy them whenever they changed?

[2015-11-25 17:41] ilyavolodin commented on #161
Good point, I'm actually not 100% sure what to do about those. Doesn't Github allow for nested repositories somehow? I though I saw something like that. Could we possibly use that?

[2015-12-10 11:13] arnaugm opened #165 "Git Precommit Hook doesn't check new files"
The **Git Precommit Hook** suggested in the *Integrations* page doesn't check new created files. Shouldn't be interesting to provide a more robust hook?

[2015-12-10 16:31] nzakas commented on #165
Those links are submitted by others. If you have a link to add, feel free to send a pull request.

[2015-12-11 09:59] arnaugm commented on #165
No I don't have one sorry. I'll open a PR if I find it.

[2015-12-11 16:41] nzakas commented on #165
OK, in the meantime I'm going to close this. Feel free to send in the PR if/when you find something.

[2015-12-11 16:41] #165 closed

[2015-12-12 21:59] gyandeeps opened #167 "Online parser demo is broken"
I think our espree alpha release got pushed to the demo and as their were some breaking change we didn't make those for the demo. Like
We need to fix the `ecmaFeature` to `ecmaVersion` change.

[2015-12-13 16:30] nzakas commented on #167
Oops, yeah. We should just revert the JS to the previous version.

[2015-12-14 17:00] #167 closed

[2015-12-17 05:33] isiahmeadows opened #169 "CommonJS recommendation + `global` variable"
In http://eslint.org/docs/user-guide/configuring#specifying-environments, it specifies to use `commonjs`, not `node` for Browserify/Webpack/etc. The most common CommonJS implementations have a `global` variable, even though it's not mandated in the CommonJS spec, mostly following Node's lead. In browsers, `global` is an alias for `window`.

Could this recommendation be either fixed/clarified on th

[2015-12-17 16:01] nzakas commented on #169
Let's track this on the ESLint repo.

[2015-12-17 16:01] #169 closed

[2015-12-17 23:55] mysticatea commented on #161
Node.js seems to have repositories for localization: e.g. https://github.com/nodejs?utf8=%E2%9C%93&query=ja

I image that "gensite" script takes localization contents from those repositories.
At the time, the script inserts a note "this translated content might be old" if the localization content is older than original.

[2015-12-18 17:17] nzakas commented on #161
Okay, so we can start with a separate repo.

[2015-12-21 16:46] molee1905 commented on #161
Well, [vuejs](https://github.com/vuejs?utf8=%E2%9C%93&query=org) has the same characteristic, with separated repo and new branches.

It seems the final solution for now.

Actually, in the past three weeks, with the efforts of my teammates, the translation is basically completed without proofreading, and has been published to [a temporary site](http://smocean.github.io/) mixing Chinese and English.

[2015-12-21 16:56] nzakas commented on #161
Yes, if I setup a repo for cn.ESLint.org, can you use that?

[2015-12-21 20:09] nzakas commented on #161
I setup a repo for cn.eslint.org. @molee1905 I've given you permission to push to that repo. Please let me know who else should have permission.

[2015-12-22 19:04] molee1905 commented on #161
Very thanks.

Now  the mixed version [eslint-zh](https://github.com/smocean/eslint-zh) forked from [eslint.github.io](https://github.com/eslint/eslint.github.io/) is on [smocean](https://github.com/smocean),  i will move it to the new repo after preliminary proofreading  to eliminate typos, inaccurate or obscure statement in Chinese , and work on the new repo, to let more people take part in.

[2015-12-22 21:05] nzakas commented on #161
I've setup cn.eslint.org CNAME, so it's now using the new repo: http://cn.eslint.org/

[2016-01-08 10:44] wheresrhys opened #172 "Better documentation of config by comment"
Am I blind, or are the only docs for config using inline comments now in the cli docs http://eslint.org/docs/user-guide/command-line-interface#no-inline-config? Either they've gone from elsewhere, or have become harder to find in the last few days ( a few days ago I found them with no problem)

[2016-01-08 13:12] ilyavolodin commented on #172
The link you provided is a new option that was added recently to disallow any inline configurations. Documentation for inline configuration is where it's always been: http://eslint.org/docs/user-guide/configuring#configuring-rules I agree it's not the most clean way of showing it, but I'm not sure how we can make it better.

[2016-01-18 23:46] nzakas opened #177 "Search bar defaults to returning results in 2.0.0"
According to the latest [news](http://eslint.org/blog/2016/01/eslint-v2.0.0-beta.1-released/) the ESLint beta release isn't intended for production use.

However:

- the documentation search bar always pulls up the 2.0 docs (even if I manually change the url to 1.0.0)
- there's nothing in the UI of the site to switch back to an older version, or even indicate which version is being viewed (it's vi

[2016-01-19 00:16] nzakas commented on #177
@pixelastic is there a way to exclude certain directories from the search?

[2016-01-20 13:31] pixelastic commented on #177
Yes, it is possible to exclude pages from the custom hooks. I'll submit a PR if you want.

[2016-01-20 14:37] #177 closed

[2016-01-27 21:26] nzakas opened #185 "Website redesign"
We'd like to do a redesign of eslint.org, with the goals of:

1. Making the landing page more useful. Some sites we think do this well (@eslint/eslint-team, feel free to add more here):
  * http://facebook.github.io/react/
  * http://emberjs.com
  * http://gruntjs.com/
  * http://babeljs.io/
  * https://git-for-windows.github.io/
1. Ensuring the most recent ESLint version number is featured promin

[2016-01-27 21:38] pedrottimark commented on #185
Example of a simple inconsistency which pushes me out of the flow a bit each time I learn a new rule:

http://eslint.org/docs/rules/ has rule string as hyperlink text followed by hyphen and rule description in all lowercase, for example:
comma-dangle - disallow or enforce trailing commas

http://eslint.org/docs/rules/comma-dangle heading has rule description in title case followed by rule string i

[2016-01-27 21:54] nzakas opened #186 "Improve information architecture of site"
The information architecture we have at present is mostly an accident of how our folders were setup initially. There was only a small amount of thought put into how best to organize the documentation, as we just wanted to write as much documentation as possible without worrying about the best way to present it.

Now that we have a massive amount of documentation, we could really use some help figu

[2016-01-27 22:30] ilyavolodin commented on #186
Some of the things to look into would be to break up large articles like http://eslint.org/docs/developer-guide/working-with-rules into smaller pages, or provide internal navigation through them. Make configuration options more prominent and easier to find.
Also, keep in mind that majority of our documentation is auto-generated from .md files, so we don't always have full control over layout and s

[2016-01-27 22:32] ilyavolodin commented on #185
Small list from me:
https://karma-runner.github.io/0.13/index.html
http://nightwatchjs.org/
https://code.visualstudio.com/
https://atom.io/

[2016-01-27 22:33] pedrottimark commented on #186
Example of a simple inconsistency which pushes me out of the flow a bit each time I learn a new rule:

http://eslint.org/docs/rules/ has rule string as hyperlink text followed by hyphen and rule description in all lowercase, for example:
comma-dangle - disallow or enforce trailing commas

http://eslint.org/docs/rules/comma-dangle heading has rule description in title case followed by rule string i

[2016-01-28 16:44] nzakas commented on #186
@pedrottimark and what would be the solution?

[2016-01-28 17:37] pedrottimark commented on #186
@nzakas Hello! Here are 2 example of tactical goals and possible changes to achieve them:

* Make it easier to scan the lists in http://eslint.org/docs/rules/

a. Move icons (for recommended and fix) from the end to beginning of line, possibly as columns of tables (without borders) instead of the bulleted lists.

b. Slightly reduce punctuation, possibly use some white space separation, but not sep

[2016-01-28 20:06] nzakas commented on #186
That's very helpful, thanks. I agree that those seem like excellent goals for the page.

As for my vision as owner, I'm perfectly happy to delegate this completely. The team feels, in general, that the content isn't organized well enough right now. That's not something we can quantify, but we get periodic feedback and we try to make things better (for instance, I don't think anyone is happy with t

[2016-01-28 20:24] pedrottimark commented on #186
In case it is helpful for you to know about me:
1. I prefer to find consensus and confirmation on problem analysis (who, what, when, where, why) before going too deeply into problem solution (how) both to prioritize and give space for alternatives.
2. I lean more to applying available solid research on user experience (by temperament and because of resource limitations) than empirical methods like

[2016-01-28 20:49] omerbalyali commented on #185
UI Design for Landing Page. There will be feature drill-down with illustrations below the scroll. This page (home), has a title Getting Started, so this page acts as a starting point to understand what is ESLint (and Linting), what are the capabilities of it, which companies are using and links to more detailed guides/documentation.

Features:
- Everythings is pluggable
- Add Rules at Runtime
- Ev

[2016-01-28 22:06] nzakas commented on #185
Thanks @omerbalyali, this looks like a good start. Some thoughts (in no particular order, and skipping over any notes on content):

* Really love the header
* Cool graphic
* Perhaps a bit too much purple and too dark at the top? For some reason, I'm thinking that splash area could use a faded-back background graphic rather than just color (maybe because that's what we have now, but I'm not sure).

[2016-01-28 22:12] ilyavolodin commented on #185
I know design taste is a very personal thing, but I'm definitely not liking this direction. Very heavy, hard to read mono-sized fonts, dark background, no air, colors that don't play well together, etc.
I do like visual linting representation though. Red -> Green text idea is pretty neat.

[2016-01-28 22:19] nzakas commented on #185
@ilyavolodin it sounds like your biggest complain is being too dark (similar to my "too much purple")? I'm not sure the text reads as mono or hard to read to me, are you viewing the image in full size? (It took me a minute to realize I wasn't the first time I viewed the image.)

[2016-01-28 22:21] nzakas commented on #186
Sounds good on both counts. :) I think @ilyavolodin may be the most passionate about doing this, so I'd defer to his thoughts.

[2016-01-28 22:21] BYK commented on #185
Agree with "too much purple/too dark" complaints. Rest looks pretty good. Key points got my attention immediately that we want a user looks answers to:

- What is this thing?
- How do I use it?
- What is the current version
- Is it pretty/polished?

[2016-01-28 22:24] omerbalyali commented on #185
Thank you Nicholas,

I agree with the need of a background graphic but I didn't think of anything to illustrate so I just leave it with some transparent dotted lines.

@ilyavolodin We are trying to make the ESLint website accessible and easy-to-use for everyone, so it's important to get every feedback to make it so.

For the colors, I'm not sure which direction to go: purple or more blue, or in be

[2016-01-28 22:30] omerbalyali commented on #185
For the color complaints; we can remove the background and use white background with some illustrations on top of it. I will experiment with it.

@BYK There will be features and installation/usage instructions below, I'm working on it. I will upload a wireframe, so it will be easy to discuss.

Thanks for the feedback.

[2016-01-28 22:36] ilyavolodin commented on #186
@pedrottimark The way I see it, most of the people who will visit website are looking for either information about rules, or information about how to install/configure eslint in general. Small portion of population is going to be looking into creating plugins/shareable configs.
Right now, rules documentation is easy to find, but each rule has a slight difference in formatting and it's hard to find

[2016-01-28 22:38] nzakas commented on #185
Aw, I liked the purple header. :) I think the biggest issue is the giant purple splash. If we can lighten that area up, I think the purple header could work.

[2016-01-28 22:40] ilyavolodin commented on #185
@omerbalyali Yes, that's what I was getting to. Text is more readable on white background. I don't really mind purple or blue (I'm not in love with the combination of two, I'd rather see a combination of cold and warm color, but that's a personal preference), but I think they should be used as accent colors. Our site is 98% text, and making it easy to read is a key, I think.

@nzakas I was talking

[2016-01-28 22:52] omerbalyali commented on #185
@nzakas You mean the top bar or the jumbotron?

@ilyavolodin I agree using warm-cold color combination. I will use orange-red as secondary color.

The important thing about font is, fonts like DIN or Avenir are available in webfont through fonts.com and the service is surely expensive. (30$/m for 1m pageview and 140$/m for 5m pageview, billed once for 3 years. There are monthly and annually paymen

[2016-01-28 22:58] ilyavolodin commented on #185
@omerbalyali Just to clarify, when you are talking about main brand font, you are mostly talking about logo? The font used in the logo is a bit too heavy for my taste, I would rather see something lighter.

[2016-01-28 23:01] pedrottimark commented on #186
@ilyavolodin That is a great list of pain points (well, you know what I mean). Yes, please do get some analytic data. For extra credit, think about what data to get now to allow some kind of basic before and after comparison of improvement in the experience using the site.

[2016-01-29 04:40] ilyavolodin commented on #186
So here's some of the analytic data that I was able to pull from September 30th, till today:

Total number of sessions: 282389
New Sessions: 42.02%
Avg. Session Duation: 4m 51s
Avg. Pages / Session: 3.30

Top Landing pages:

URL         | Total Sessions | New Users
------------ | -------------------| ---------------
/ | 27.85% | 62.34%
/docs/user-guide/configuring | 19.42% | 62.16%
/docs/rules/int

[2016-01-29 04:57] IanVS commented on #186
It's silly, but it feels pretty good to see that a page I threw together (getting started) is the fourth most visited on the site, with nearly 25,000 views.  :open_mouth:

This is part of why OSS is so fun to work on.  Small changes can have a large reach/impact.

[2016-01-29 08:24] jacobp100 commented on #185
Possible free (and lesser known) alternatives to,
Avenir: https://www.google.com/fonts/specimen/Montserrat
DIN: https://github.com/larsenwork/Gidole

Design (including logo) looks great though!

[2016-01-29 15:02] omerbalyali commented on #185
@jacobp100 Gidole looks great, thanks!

[2016-01-29 18:38] pedrottimark commented on #186
@IanVS Congratulations 👏 That is leverage 💪

What are your thoughts about strengths to keep intact and problems to solve in ESLint website?

[2016-01-30 12:39] angelozerr opened #189 "Documentation about --fix"
It should be cool if we could have a documentation:

 * which list the whole rules which supports fix like http://eslint.org/blog/2015/10/eslint-v1.6.0-released/
 * for each rule, like https://github.com/eslint/eslint.github.io/blob/master/docs/rules/brace-style.md to know if the rule support fix or not and better show a sample of the fix.

[2016-01-30 12:41] angelozerr opened #190 "Eclipse support for ESLInt"
Is it possible to add [Eclipse support for ESLint](https://github.com/angelozerr/tern.java/wiki/Tern-Linter-ESLint)  inside http://eslint.org/docs/user-guide/integrations.html

[2016-01-30 14:58] ilyavolodin commented on #189
You can see all of the rules that support fixes here: http://eslint.org/docs/rules/ and each rule that supports fixing should mention it in the documentation: http://eslint.org/docs/rules/no-extra-semi Are you looking for something else?

[2016-01-30 14:59] ilyavolodin commented on #190
Sure. Do you want to send a pull request to this file: https://github.com/eslint/eslint.github.io/blob/master/docs/user-guide/integrations.md ?

[2016-01-30 16:08] angelozerr commented on #189
Thanks @ilyavolodin for your answer.

Sorry for my question, your doc is very good, I have none seen it.

[2016-01-30 16:08] #189 closed

[2016-01-30 16:14] angelozerr commented on #190
Thanks @ilyavolodin for your answer. I have done a PR for that https://github.com/eslint/eslint.github.io/pull/191

[2016-01-30 16:14] #190 closed

[2016-02-01 03:13] IanVS commented on #186
@pedrottimark I think @ilyavolodin already covered all of my thoughts.  I would really like to see a standard format for rule docs, and I think all pages should have some kind of Table Of Contents at the top to ease navigation and provide a clear mental modal for readers approaching the page for the first time.  I like the way Babel handles this by putting it in the right sidebar.  The amount of i

[2016-02-02 02:19] ilyavolodin commented on #186
Some more data for the same period of time:

Top exit pages for long sessions (>1 minute):

| url | % exit | avg session duration | avg time on page | avg pages per session |
|-----|---------|----------------------------|-----------------------|-------------------------------|
|/docs/user-guide/configuring.html|53.34%|00:04:33|00:04:16|1.68|
|/|32.44%|00:04:39|00:01:13|1.45|
|/docs/user-guide/conf

[2016-02-02 02:22] ilyavolodin opened #192 "Add search tracking to GA"
We added site search through Algolia, but we are not tracking search terms through GA. It would be helpful to add that in, since it might give us a good insight into what people are searching for.

[2016-02-02 17:12] ilyavolodin opened #194 "Update site for Jekyll 3"
I already got an email notification saying that redcarpet will be disabled on May 1st. We should update the site to use kramdown and see if we can also enable any of the new features.

[2016-02-02 21:07] nzakas commented on #194
What new features are there?

[2016-02-02 21:14] ilyavolodin commented on #194
Nothing jumps out right away, other then switching code colorization to native ruby (so we should start getting color for code highlighting). But I think kramdown has a few nice features vs. redcarpet, like affix and eee... something else, can't remember right now.

[2016-02-02 22:45] ilyavolodin commented on #194
Btw, @nzakas do you remember the reason we are currently using redcarpet? Anything I should be looking for while converting to kramdown?

[2016-02-03 17:22] nzakas commented on #194
I think it had something to do with the code fences, but can't recall anything specific.

[2016-02-03 19:09] ilyavolodin commented on #194
I remember having issues with unicode characters at some point, and that might've been the cause, but maybe it was code fences. Anyways, I'll try converting it to kramdown and do a few smoke tests.

[2016-02-04 14:51] pedrottimark commented on #194
Well, this is timely. The header of a table is optional in kramdown, unlike other dialect of markdown. I will explore and prototype what lists of rules would look like as tables, because it would be possible with this change.

[2016-02-04 19:48] nzakas commented on #185
Here's another that I think looks good, and uses some purple, too. :)

https://sumome.com/

[2016-02-09 18:07] nzakas commented on #185
And another: http://krakenjs.com/. I think this one does the upper-dark, bottom-light thing really well.

[2016-02-12 18:09] nzakas opened #195 "Update demo for 2.0.0"
The demo still has "modules" under `ecmaFeatures`. We should probably change this to be `sourceType` with a radio or dropdown for "Script" or "Module".

I can't for the life of me figure out how that information is populated. :)

[2016-02-12 18:12] nzakas opened #196 "Update parser demo"
The parser demo needs to be updated with the correct options for the new version of Espree. So, it should have ecmaVersion as an option and allow you to specify `sourceType` as "script" or "module".

@xjamundx I couldn't quite tell how the parser demo was built, can you take a look (and also, can you add some docs in the readme about how to build the parser demo files)?

[2016-02-12 18:47] xjamundx commented on #196
Sure thing. Give me a few days.

[2016-02-12 18:47] xjamundx commented on #195
It was some crazy magic when we did it before. Something to do with the browserify bundling or something. Total madness. :)

[2016-02-12 22:32] nzakas commented on #196
Thanks!

[2016-02-12 22:32] nzakas commented on #195
I was looking at parser.index.js....seems like that was generated somewhere else?

[2016-02-12 22:57] xjamundx commented on #195
https://github.com/eslint/eslint.github.io/blob/master/package.json#L11

`npm run build`

[2016-02-13 22:10] xjamundx commented on #196
80% done

[2016-02-14 10:38] alberto commented on #123
:+1: Very useful when you want to triage a reported bug, only enabling the rule in question.

[2016-02-15 20:47] xjamundx commented on #196
Okay I think this is done, only question is why does `eslint.js` only include `espree 2.2.5`

[2016-02-16 04:37] kaicataldo commented on #142
Curious how this could be achieved. Could we have a unique id number stashed with the `localStorage` cache that changes/increments with each release that busts the cache if it doesn't match?

[2016-02-16 08:25] BYK commented on #142
Can we use `sessionStorage` instead or use ESLint version as the namespace key?

[2016-02-16 18:22] ilyavolodin commented on #142
ESLint version as a key might be a good idea. That would make things easy, I think. `sessionStorage` wouldn't help, since the whole idea of the caching will be lost

[2016-02-16 18:51] kaicataldo commented on #142
Yeah, I like that idea too! Might try to take a look at this later tonight

[2016-02-17 17:01] pedrottimark commented on #108
@Nirazul @IanVS @nzakas @btmills @ilyavolodin

Can you think of any additional **objectives** which are relevant to this issue?

*   _Given_ incorrect or inconsistent _code_, _find a rule_ (and its options) to prevent it.

*   _Given a rule_ (and its options) in the configuration for a project, _write correct code_.

What do you think about the following pattern for the **sentence** preceding an e

[2016-02-17 17:04] pedrottimark commented on #108
Rule has no options: no-console

Baseline:
<img width="650" alt="no-console-baseline" src="https://cloud.githubusercontent.com/assets/11862657/13117548/6a2f061c-d56e-11e5-84d7-73bcdeeddcea.png">

Suggested:
<img width="650" alt="no-console-suggested" src="https://cloud.githubusercontent.com/assets/11862657/13117554/73472aae-d56e-11e5-8663-811e2ddd179e.png">

[2016-02-17 17:08] pedrottimark commented on #108
The default value of an option: consistent-this

Baseline:
<img width="650" alt="consistent-this-default-baseline" src="https://cloud.githubusercontent.com/assets/11862657/13117709/12eea53c-d56f-11e5-8490-a7ec49d1f83a.png">

Suggested:
<img width="650" alt="consistent-this-default-suggested" src="https://cloud.githubusercontent.com/assets/11862657/13117717/18cd66aa-d56f-11e5-9022-4ccb561517e2.png"

[2016-02-17 17:10] pedrottimark commented on #108
A second set of examples for an option: consistent-this

Baseline:
<img width="650" alt="consistent-this-when-baseline" src="https://cloud.githubusercontent.com/assets/11862657/13117751/3bd299b8-d56f-11e5-823c-d2f9e5e62bb2.png">

Suggested:
<img width="650" alt="consistent-this-when-suggested" src="https://cloud.githubusercontent.com/assets/11862657/13117759/43ae6c7a-d56f-11e5-9930-306379012cd1.pn

[2016-02-17 17:11] pedrottimark commented on #108
Another value of an option: space-before-function-paren

Baseline:
<img width="650" alt="space-before-other-baseline" src="https://cloud.githubusercontent.com/assets/11862657/13117816/7619ed38-d56f-11e5-8d2f-541ad1c1eb2a.png">

Suggested:
<img width="650" alt="space-before-other-suggested" src="https://cloud.githubusercontent.com/assets/11862657/13117831/7ee61e3c-d56f-11e5-8147-e5bbe37136ee.png">

[2016-02-17 17:17] pedrottimark commented on #108
An object value of an option: space-before-function-paren

Baseline:
<img width="888" alt="space-before-object-baseline" src="https://cloud.githubusercontent.com/assets/11862657/13117955/072c9d20-d570-11e5-8b92-73bab21810ae.png">

Suggested:
<img width="888" alt="space-before-object-suggested" src="https://cloud.githubusercontent.com/assets/11862657/13118018/4ab17e76-d570-11e5-8037-152f6860e4ec.pn

[2016-02-18 01:25] ilyavolodin commented on #108
@pedrottimark I like it. I never cared much for "patterns are considered problems" I also like green/red backgrounds too. Maybe we can combine those two?

[2016-02-18 02:00] IanVS commented on #108
I think the green/red problem is a technical one.  I haven't found a way to accomplish it, but would love it if we could do at least some subtle shading differences.

[2016-02-18 05:07] kaicataldo commented on #142
I'm still not entirely clear on how the ESLint version gets updated - is it a manual thing? Or is it pulled in somewhere and updated programmatically?

[2016-02-18 05:20] xjamundx commented on #142
I'm looking at that for #195. I think you have to run `npm run browserify` or `make browserify` or something from the main eslint repo. A bit of magic for sure. I believe there may some sort of automated way the site gets updated. @ilyavolodin will know for sure :)

[2016-02-18 11:00] mysticatea commented on #142
I hope "turn all rules off" button.

I'm using the demo after I turned all rules off.
I'm afraid that I must do that on every release...

[2016-02-18 13:59] pedrottimark commented on #108
Let’s take a **background** distinction as part of the solution and trust that we will find a way. Just saw some resources for accessible color contrast ratios, so will make some example pictures to discuss.

In addition to distinguishing incorrect from correct, readers can quickly distinguish these examples from any general examples of code or configurations.

A question which I forgot to ask: If

[2016-02-18 14:57] ilyavolodin commented on #142
ESLint version gets updated from the main repository by running `npm run browserify` (or rather by running `npm run minor/major/patch` which will run `npm run gensite` which will run browserify task). `npm run gensite` will automatically update the site, but it will also pull all of the documentation from main repository, so not something you want to do when you just want to update demo page.

[2016-02-18 15:00] ilyavolodin commented on #108
I think in the scope of a larger page, having a bunch of smaller wells might be slightly disconcerting. We should also think about possible future were we will support ES7 as well and possibly TypeScript/Flow. That might be just too many wells to deal with.

[2016-02-18 15:10] pedrottimark commented on #108
Good point that we need to limit the total visual complexity.
* The lighter background for inline code has made some pages more readable for my eyes. #202
* That reminds me to ask how likely the text of code examples might have coloring in the future, because that affects how much background color or pattern will be reasonable. #194

[2016-02-18 15:12] ilyavolodin commented on #108
I'll try to do kramdown upgrade this week, that might bring syntax highlighting, but I'm not 100% sure.

[2016-02-19 03:07] ilyavolodin commented on #194
I tried doing this today, and ran into a bunch of issues. All code wells seems to be broken, H1s are not rendering correctly, etc. I'm not really sure why this is happening. I'll try to take a look at it more.

[2016-02-19 03:14] ilyavolodin commented on #194
Well, great. Was just reading kramdown issue tracker, and apparently they do not support fenced code blocks with \`\`\` syntax. They are saying that it's something that Github invented, and it's not part of the markdown spec. So it looks like we have to replace all \`\`\` with \~\~\~. Still not sure about H1s. They seem to be working on the homepage, but not in rule documentation.

[2016-02-19 03:19] ilyavolodin commented on #194
Figured it out. You have to have a linebreak on the line before H1 for it to render... I'm not entirely sure what Github was thinking when they forced the switch to kramdown, since it doesn't even support their own syntax... Guess I'll have to fix release script to make all of those changes on the fly.

[2016-02-19 03:28] ilyavolodin commented on #194
Nevermind. Apperantly issues that I found on kramdown tracker were old, they do support Github fenced code style, just need to enable an option for that.

[2016-02-23 01:25] IanVS commented on #108
@ilyavolodin any luck with Kramdown?

[2016-02-23 01:37] pedrottimark commented on #186
Related to the idea of a **tutorial** to set up and configure ESLint mentioned in https://github.com/eslint/eslint.github.io/issues/186#issuecomment-176457525 someone recently suggested **videos** to me. Made me think of the 30 short lessons on egghead about Redux. Any thoughts who (not limited to core team) might rise to the challenge the way Dan Abramov did?

[2016-02-23 02:19] ilyavolodin commented on #186
@xjamundx Started doing that at some point, but I'm not sure when/if he stopped.

[2016-02-23 04:17] ilyavolodin commented on #108
I tried it locally, and found two major issues. Code fences were not working and H1 headers were missing on rule docs. Code fences just required config switch, but H1 headers require modification of our build script. We do not leave empty line before H1s, so they don't render correctly. I'm not sure if there are any more issues, I've been pretty busy the last few days and haven't had the chance to

[2016-02-23 04:50] xjamundx commented on #186
I'll do a series for you guys. I need to make some for work anyway.

On Mon, Feb 22, 2016 at 6:19 PM Ilya Volodin <notifications@github.com>
wrote:

[2016-02-23 18:58] xjamundx commented on #186
Can anyone suggest a video to start with and i'll try to do it today? 2 min on anything.

- Installing eslint
- `eslint --init`
- ??

[2016-02-23 19:05] ilyavolodin commented on #186
`eslint --init` can be split up into multiple short lessons. One for autoconfig, one for styleguide, one for answering questions.
Then you can select a topic, like `whitespaces around functions` and describe all of the rules that deal with that topic.

[2016-02-23 19:08] ilyavolodin commented on #186
Oh and here's the list of other potential topics:
* `global` vs `local` install
* comment configuration
* editor integrations
* task runners
* formatters
* select plugins (react, angular, etc.)

[2016-02-23 19:12] pedrottimark commented on #186
A good way to prioritize is whether something is painful-not-to-know instead of nice-to-know.

A good goal is for people with beginning-to-intermediate level of experience to feel after viewing: I could do that.

[2016-03-04 20:26] ilyavolodin opened #211 "New maintainer-guide broke navigation"
Menu hasn't been updated with the new link to maintainer-guide so the old Governance Model link is now broken.

[2016-03-04 22:51] #211 closed

[2016-03-06 22:34] #194 closed

[2016-03-06 22:45] ilyavolodin opened #216 "Algolia push fails in Travis"
I just upgraded site to use kramdown and jekyll 3.0, but now algolia push fails with every Travis build with the following message:
[code]
@pixelastic any chance you can help with this? I really don't know anything about ruby.

Also two other search related questions that I had were:
* Is there a way to tie in Algolia search with google analytics somehow?
* Search results seem to be adding `.html`

[2016-03-07 16:33] pixelastic commented on #216
I'll have a look at this. I already fixed a few issues with Jekyll 3, but I might have overlooked something.

Regarding integration with Analytics, we have nothing out of the box, but you can plug whatever code you want to the event fired when a result is selected in the list:
https://github.com/eslint/eslint.github.io/blob/master/js/app/search.js#L77-L80

Regarding the `html` file, you can have m

[2016-03-07 16:49] ilyavolodin commented on #216
@pixelastic If you could take a look at the build issue, that would be great. Everything else is not critical, and I can look into it myself (analytics and `.html`).

[2016-03-08 14:54] pixelastic commented on #216
I've submitted a PR on the `jekyll` branch. Tell me if this fixes the issue :)

[2016-03-08 15:19] #216 closed

[2016-03-08 15:51] ilyavolodin commented on #216
@pixelastic Travis is not successfully completes and pushes updates to Algolia. Thanks again for your help!

[2016-03-11 21:08] pedrottimark commented on #108
The following comments have pictures for your feedback about how **background color** could help people quickly see whether code is an incorrect, correct, or general example.

After the example sentences become consistent, a possible solution to the technical problem is **replace rules** in the doc.html layout file:

`replace: '<p>Examples of <strong>incorrect</strong> code', '<p class="incorrect"

[2016-03-11 21:11] pedrottimark commented on #108
Distinguish general code in the introduction of no-shadow from incorrect code:

<img width="800" alt="general-incorrect" src="https://cloud.githubusercontent.com/assets/11862657/13715594/c0a8e41c-e7a3-11e5-8f97-6e9c4ed2d464.png">

[2016-03-11 21:13] pedrottimark commented on #108
Distinguish incorrect from correct code for the default option of comma-dangle:

<img width="800" alt="incorrect-correct-1" src="https://cloud.githubusercontent.com/assets/11862657/13715623/017b865c-e7a4-11e5-8d0d-740d6d9540b3.png">

[2016-03-11 21:14] pedrottimark commented on #108
Distinguish incorrect code from correct code in adjacent options of no-shadow:

<img width="800" alt="incorrect-correct-2" src="https://cloud.githubusercontent.com/assets/11862657/13715647/2b273db6-e7a4-11e5-9f9c-4d8ad3dab6d2.png">

[2016-03-11 21:16] ilyavolodin commented on #108
That looks nice, and might work in terms of markup. Although it means we need to go and put paragraphs with classes around each code example. I'm not sure you can do that with markdown.

[2016-03-11 21:19] pedrottimark commented on #108
I was thinking the replace rules take effect *after* the conversion from markdown to HTML?

So that the only requirement in the content is consistency in the beginning of the sentence.

Imitating the following:

`replace: '(recommended)', '<span title="recommended" aria-label="recommended" class="glyphicon glyphicon-ok"></span>'`

`replace: '(fixable)', '<span title="fixable" aria-label="fixable"

[2016-03-11 21:25] ilyavolodin commented on #108
You are right, replace kicks in after conversion. Sorry, didn't notice that you mentioned replace. That might work

[2016-03-11 21:26] ilyavolodin commented on #108
I'll try to do this over the weekend and see if it works.

[2016-03-11 21:28] pedrottimark commented on #108
Here is the CSS I used to make those picture:

[code]

[2016-03-14 14:57] gkrinc opened #224 "Website search is broken"
When searching on the website (http://eslint.org/) on any page, search.js throws errors

[code]

<img width="1377" alt="screen shot 2016-03-14 at 10 56 52 am" src="https://cloud.githubusercontent.com/assets/2718382/13748508/7f94d86e-e9d3-11e5-8ca3-4609d64aa3e0.png">

[2016-03-14 16:46] nzakas commented on #224
Hmmm. It seems to be working OK for me. What browser and version are you using?

[2016-03-14 17:04] pedrottimark commented on #224
For your info, a quick test seems okay on OS X 10.11.3 for all of the following:
* Chrome 49 stable
* Firefox 45 stable and 47 aurora
* Opera 35 stable
* Safari 9.0.3 stable

[2016-03-14 17:05] gkrinc commented on #224
Chrome v48.0.2564.166

On Mon, Mar 14, 2016 at 12:46 PM, Nicholas C. Zakas <
notifications@github.com> wrote:

--
*Greg Smith*
*President*
GKR Enterprises Inc

[2016-03-14 17:08] nzakas commented on #224
@gkrinc and you're on Windows?

[2016-03-14 17:10] gkrinc commented on #224
Nope, on Mac OS 10.11.4 and updated to Chrome v49 and I'm still seeing the
issue :(

On Mon, Mar 14, 2016 at 1:08 PM, Nicholas C. Zakas <notifications@github.com

--
*Greg Smith*
*President*
GKR Enterprises Inc

[2016-03-14 17:45] ilyavolodin commented on #224
@gkrinc It's possible that this is happening because you are running mobile emulator inside chrome. Based on the error message, your Chrome is not respecting cross-origin headers for AJAX calls, so either something is stripping them out (maybe Chrome, maybe proxy server or firewall), or something is wrong with Chrome setup.

[2016-03-14 18:29] pedrottimark commented on #186
The following comments have pictures for your feedback about **layout at the top** of rules pages.

While my mental slow cooker works on the CSS, y’all correct (or revoke :) these visual usability goals:

* Display **recommended** and **fixable** icons in a predictable place so they are easy to find (or ignore).

* Limit **line length** to improve readability and make a **margin** for the ad. Get

[2016-03-14 18:30] pedrottimark commented on #186
comma-dangle is recommended:

<img width="1203" alt="comma-dangle_recommended" src="https://cloud.githubusercontent.com/assets/11862657/13755362/440900e0-e9f1-11e5-9273-ce4c479b1c84.png">

[2016-03-14 18:31] pedrottimark commented on #186
no-multi-spaces is fixable:

<img width="863" alt="no-multi-spaces_fixable" src="https://cloud.githubusercontent.com/assets/11862657/13755385/6571b330-e9f1-11e5-816e-46055f56ed18.png">

[2016-03-14 18:33] pedrottimark commented on #186
no-extra-semi is recommended and fixable:

<img width="1203" alt="no-extra-semi_recommended_fixable" src="https://cloud.githubusercontent.com/assets/11862657/13755431/94769380-e9f1-11e5-8864-19b9a8784114.png">

[2016-03-14 18:33] pedrottimark commented on #186
no-extra-parens is neither recommended nor fixable:

<img width="1203" alt="no-extra-parens" src="https://cloud.githubusercontent.com/assets/11862657/13755463/af75f130-e9f1-11e5-8f0f-f47e499520aa.png">

[2016-03-14 18:34] pedrottimark commented on #186
no-multi-spaces with the current layout has a gap above the first code well:

<img width="1203" alt="no-multi-spaces_layout-current" src="https://cloud.githubusercontent.com/assets/11862657/13755477/c6442df0-e9f1-11e5-85c0-2d8f8cedc570.png">

[2016-03-14 18:34] pedrottimark commented on #186
no-multi-spaces with the proposed layout displays more information above the fold:

<img width="1203" alt="no-multi-spaces_layout_proposed" src="https://cloud.githubusercontent.com/assets/11862657/13755488/d93799a6-e9f1-11e5-8f61-924cbb114252.png">

[2016-03-14 18:35] pedrottimark commented on #186
Most rules under Possible Errors have icons:

<img width="1203" alt="rules_dense" src="https://cloud.githubusercontent.com/assets/11862657/13755499/eb4c4dd0-e9f1-11e5-8cae-4d586721ac25.png">

[2016-03-14 18:35] ilyavolodin commented on #186
Nice. Although I'm not sure checkmark next to the name of the rule is going to be self-explanatory (on the rule's page).

[2016-03-14 18:44] pedrottimark commented on #186
Few rules under Best Practices have icons:

<img width="1203" alt="rules_sparse" src="https://cloud.githubusercontent.com/assets/11862657/13755512/fcc79bd2-e9f1-11e5-8884-effa9b36b4ba.png">

[2016-03-14 18:47] pedrottimark commented on #186
That is the kind of “new eyes” feedback this needs!

Here a lightly edited version of the introduction to the list:

<img width="1203" alt="rules" src="https://cloud.githubusercontent.com/assets/11862657/13755806/4eff95c0-e9f3-11e5-9f95-f7b7a696aea6.png">

[2016-03-14 18:53] ilyavolodin commented on #186
@pedrottimark Sorry, I think on the index page, icons are fine, since we have an intro at the top. However, on a given rule page, there is no explanation of what those icons mean. Fixable icon is right next to the paragraph that explains that this rule is fixable, so it should be fine, but checkmark is next to the name of the rule, without any explanation, so it might be tough for a user to figure

[2016-03-14 19:16] pedrottimark commented on #186
Yes, at first glance it seemed “asymmetrical” for a rule page to display fixable but not recommended. But out of the context of the list, ESLint-recommended might even mislead people who use packaged configurations like eslint-config-airbnb.

Maybe we can take a few Twitter polls to understand how people are using ESLint and who needs what kind of technical information.

[2016-03-14 19:52] nzakas commented on #224
Hmm, ad blocker maybe?

[2016-03-15 14:45] gkrinc commented on #224
No ad blocker running.

It fails in all OSX browsers: Chrome, Firefox and Safari. Also, fails in
Chrome on Windows.

I shut off all dev tools to see if that was the problem and it wasn't. Ajax
calls on other website work just fine. Definitely looks like a CORS issue
though:

XMLHttpRequest cannot load
http://xwxg7mebsb-dsn.algolia.net/1/indexes/*/queries?x-algolia-api-key=653…id=XWXG7MEBSB&x-algol

[2016-03-15 14:48] btmills commented on #224
Those headers are normally present, so as @ilyavolodin said, something must be stripping them. Can you try from your phone over data and over wifi?

[2016-03-15 14:53] gkrinc commented on #224
You're right. It works fine on my phone using cell data but doesn't work
over WiFi :s

I'll talk to my network guys.

On Tue, Mar 15, 2016 at 10:48 AM, Brandon Mills <notifications@github.com>
wrote:

--
*Greg Smith*
*President*
GKR Enterprises Inc

[2016-03-15 14:56] ilyavolodin commented on #224
Most likely you have a firewall/proxy in place that strips out headers that it's not aware of (pretty standard feature), and apparently it's not aware of Access-Control headers (that's not standard, might be a VERY old proxy). Closing, as it looks like it's not an issue for most people.

[2016-03-15 14:56] #224 closed

[2016-03-16 14:17] pedrottimark commented on #108
What do you think about this blue/yellow color contrast, which is **more accessible** than red/green?

<img width="800" alt="no-negated-in-lhs_accessible" src="https://cloud.githubusercontent.com/assets/11862657/13815102/a0030eee-eb5f-11e5-8a03-5fdc141c534a.png">

Here are the recommended changes:
* inline code: black on light gray like GitHub, instead of ESLint theme lavender (not in this picture

[2016-03-16 14:30] ilyavolodin commented on #108
While I understand that red/green is less accessible to some, it's much more standard to most. I think I would just stick with light red/green for incorrect/correct examples.

[2016-03-18 00:45] IanVS commented on #108
I think red/green is okay, especially since we are not _relying_ on the color coding.  We've all made it this long without it, after all.

[2016-03-29 02:09] #196 closed

[2016-03-29 02:23] ilyavolodin commented on #57
We added getting started page, I think that's good enough. At this point, there are too many tutorials out there to link to them all.

[2016-03-29 02:23] #57 closed

[2016-03-30 00:56] #108 closed

[2016-04-01 11:22] molee1905 commented on #161
http://cn.eslint.org/  is available now

[2016-04-01 15:39] nzakas commented on #161
Awesome!

[2016-04-03 19:29] kaicataldo opened #233 "Bad link to "Code Path Analysis" page"
From the ESLint repo's issues: https://github.com/eslint/eslint/issues/5777

I have a fix here: https://github.com/eslint/eslint.github.io/pull/232

[2016-04-03 19:31] kaicataldo commented on #233
Fix merged.

[2016-04-03 19:31] #233 closed

[2016-04-06 18:08] xjamundx commented on #139
@ilyavolodin I'm considering a full react-based re-write. any interest?

[2016-04-06 18:56] ilyavolodin commented on #139
@xjamundx We were just talking about this yesterday on Gitter with @kaicataldo Yes, that's my plan as well. I was planning on starting it this weekend and then @kaicataldo will jump in to help. Neither of us dealt with React yet, so we wanted to use this as a learning exercise.

[2016-04-06 19:41] xjamundx commented on #139
Okay let me know if you get stuck on anything. I'd prefer if this things:

1. Was built on `webpack` instead of require.js + browserify
2. Had its own build system (/ possibly separately deployable)

[2016-04-06 19:46] kaicataldo commented on #139
Excited to learn about React :) And any help/insight is very welcome on my end!

[2016-04-06 19:48] ilyavolodin commented on #139
@xjamundx In ideal scenario, I would prefer that too, but since eslint is compiled in one repository and demo is in another, I don't think webpack would work in that case. Also, having it's own build system - yes, but we don't want to require a built with every eslint release. Right now release management is more or less just copy files over, and check them into website repository. Adding a build

[2016-04-07 11:17] mysticatea commented on #139
Everyone is thinking the same thing :D
I was also thinking it.
Though I'm very busy recently....

[2016-04-07 16:08] nzakas commented on #139
Yes, **please** do not require a build step during the release. I'm not a huge fan of React due to all the hoops you have to jump through to get it deployed. I also think it's overkill for this particular use case, but as long as the release won't require anything more than copying files and you document absolutely everything about building and deploying, I'll keep my mouth shut.

My other concern

[2016-04-07 16:41] pedrottimark commented on #139
Using React.createElement instead of JSX notation might solve the double-check-in problem?

http://facebook.github.io/react/blog/2015/12/18/react-components-elements-and-instances.html

[2016-04-07 18:09] ilyavolodin commented on #139
@pedrottimark no build step means you can't use ES6 either. And it's tough to find examples of React code without ES6 and JSX. I don't think there's a huge issue with keeping compiled and source in-sync. We'll add compile script as part of the client-side build, so whenever you make changes to the source, you compile and check-in both compiled and source. I'm also planning to do the same thing wit

[2016-04-07 19:12] btmills commented on #139
I threw up a quick demo comparing ES5 vs ES6 React at [btmills/es5-react-demo](https://github.com/btmills/es5-react-demo). Realistically, the demo shouldn't* need to many unique components. I think it would be a reasonable choice to start without any sort of build step and see how far that gets before adding one.

--

*Famous last words.

[2016-04-07 21:36] nzakas commented on #139
@ilyavolodin I'd just like to point out that there are many ways to create structure in a project, and React is just one of them. :) I really don't feel like arguing, I just feel like this conversation escalated way too quickly to, "and we'll rewrite the whole thing in React!" without any real discussion of the pros and cons. I've seen this happen way too frequently with projects and I'm not a fan

[2016-04-07 22:17] hzoo commented on #139
If you don't want to setup a build system you can include babel-browser (or [babel-standalone](https://github.com/Daniel15/babel-standalone)).

[code]

[2016-04-08 18:49] nzakas commented on #139
I had another idea last night while I was thinking about this. Let's say, for fun, that we want the demo to become a more formal web application that has a build step and then a deployment step. That would mean, necessarily, that we should also have tests for the code (because it's now more complicated) that we should run on pull requests and deploy. I think at that point, we need to completely se

[2016-04-08 18:52] xjamundx commented on #139
Yes basically that was what I was trying to suggest originally. I'd already built a totally separate webpack version at one point and had to revert to require.js-ness. I think just making it its own thing would be super nice and I'm happy to help however!

[2016-04-08 18:53] ilyavolodin commented on #139
@nzakas Now who is jumping too far?:-) I'm not opposed to the idea, but I would want to see if we can get the demo to work in the current repository without build/deploy steps first. Or with only client-side build step.

[2016-04-08 18:56] kaicataldo commented on #139
I really like that idea. I was particularly excited about using the project as a way to start learning React, but whatever is best for the project and the users is obviously more important and I'm happy to help however I can!

[2016-04-08 19:11] nzakas commented on #139
@ilyavolodin I'm just hopping on the crazy train. :) If we're going to treat it like its own application, then let's take it all the way and make it it's own application. I'm not saying I love the idea, but I'd much rather do that than try to hack it into how we've been doing it so far. Doing this halfway is much more perilous that doing it all the way.

I'd personally prefer a more incremental ap

[2016-04-11 03:34] ilyavolodin commented on #139
I created a WIP PR #235 for no-build-required approach for rewriting the demo. @nzakas I think that would work pretty well with our existing release scripts, since it doesn't need any type of build or deployment. Let me know if this is reasonable approach, or we still want to turn it into a full fledged application and deploy it separately to DigitalOcean.

@kaicataldo Feel free to jump in with PR

[2016-04-15 02:08] kaicataldo commented on #185
Not sure if this is still being worked on or not, but I'm happy to help with building this when we get closer to a finalized design. Liking the screenshots posted by @omerbalyali :D

[2016-04-15 20:21] nzakas opened #242 "Huge spike in Algolia docs"
For some reason, there was a huge spike in our Algolia records today. The only real change was to the Gemfile (https://github.com/eslint/eslint.github.io/commit/bc2d8b490fdfceb1c90fb17963887b2eb0a02e36). As a result, I got an email saying that our account could be suspended.

I have no idea what could have caused such a spike or how to fix it. I reverted the Gemfile change for now, but still don't

[2016-04-15 20:22] nzakas commented on #242
For reference:

![algolia](https://cloud.githubusercontent.com/assets/38546/14573895/05ed801c-030d-11e6-9096-969456270055.png)

[2016-04-15 22:32] pixelastic commented on #242
Whoo, that's a lot of records!

I'm going to have a look at this.

Also, FYI we released another project recently, named [DocSearch](https://community.algolia.com/docsearch/). It is a crawler of technical documentation, to index results in Algolia to make them searchable. It is the exact same principle than the Jekyll plugin, except that instead of indexing records when building the website, it cr

[2016-04-15 22:44] pixelastic commented on #242
Looks like you had a huge spike of records on April 15th (120k+), while your average is 5500. This went over your attributed quota, so you got a warning email. Shortly after that your number of records got down to its usual value.

I still don't know what happened exactly. This might be caused be a large number of build operations being run in parallel (~20 I'd say, given the numbers). Maybe a lot

[2016-04-16 16:25] ilyavolodin commented on #242
@pixelastic The search output was also broken. We would not get left-side column in the output, and then other then the first item, all the rest of the items would be exactly the same. No idea what might've caused it though, other then the change to Gemfile.

[2016-04-19 09:07] pixelastic commented on #242
Couldn'd find anything obvious in the logs. I'll put it on a temporary hiccup (looks like too many jobs were run in parallel on the same index, resulting in corrupted data in the end). I'll keep an eye on the issue on our side.

Sorry for that!

[2016-04-19 12:56] ilyavolodin commented on #242
Thanks for looking at this! Appreciate your help. I'll close this issue for now, if we see this again, we'll let you know.

[2016-04-19 12:56] #242 closed

[2016-04-25 15:55] nzakas opened #251 "Remove ad"
The jQuery Foundation has requested we remove the ad from the site. We don't really need the extra revenue since they will be footing the bill for most stuff. :)

[2016-04-26 16:41] #251 closed

[2016-04-27 12:06] IanVS opened #254 "Remove ESLint cla page"
We should take down http://eslint.org/cla/, now that we use the jQuery CLA.

[2016-04-27 12:21] gustavnikolaj commented on #254
I wanted to quickly fix this as I did the above referenced PR, but I opted out of it again. I don't believe that it should just be deleted, as there is multiple references to the existing CLA page in among other things [older versions of the documentation](https://github.com/eslint/eslint.github.io/search?q=cla&type=Code&utf8=%E2%9C%93).

The appropriate fix seems to be replacing the `cla/index.md

[2016-04-27 12:25] IanVS commented on #254
I like that plan, sounds good.

[2016-04-27 15:23] nzakas commented on #254
I'd just make it a redirect to the jQuery one.

[2016-05-16 22:43] ilyavolodin opened #258 "Website build is failing"
Website build (more specifically algolia re-indexing) has been failing for the last 5 builds. That means that our search is 3 version behind (last successful update was for version 2.9.0). Could somebody with some experience with Ruby take a look? I don't feel right bugging @pixelastic every time we have an issue.

cc: @eslint/eslint-team

[2016-05-16 22:45] ilyavolodin opened #259 "Demo is completely broken"
Currently demo is completely broken and doesn't run at all. Not sure when it started happening. But I think maybe at this point we just want to replace it with the prototype that I have? Although, I think right now, the failure is actually in the browserified bundle. I have no experience with browserify, could somebody take a look?

cc: @eslint/eslint-team

[2016-05-16 22:46] ilyavolodin commented on #259
Same goes for Espree demo as well. Same error. So I think it might actually be browserify issue.

[2016-05-16 23:23] ilyavolodin commented on #259
I fixed both ESLint and Espree demo by regenerating browserify eslint.js file and pushing it to the website. It looks like what happened is @nzakas had a merge conflict when doing last release (I'm guessing that's because he didn't pull latest master for website before the release, and since I've done last 2 release, his branch was out of sync). So browserified filed contained diff with the previo

[2016-05-16 23:23] #259 closed

[2016-05-16 23:33] ilyavolodin commented on #258
Some additional information. The only difference that I found between successful build and failed is versions of the installed gems:
[code]

The error message is `	jekyll 3.0.5 | Error:  undefined method `captures' for nil:NilClass`. So it might be due to the issue with algolia and jekyll 3.0.5. I have no idea what version of jekyll github pages are running, but maybe we should lock down gem depen

[2016-05-17 09:53] pixelastic commented on #258
No worries, you're not bugging me. I'd like this search to work flawlessly.

I don't think GitHub pages has any impact on this. The Algolia plugin is only run when you do `jekyll algolia push` and GitHub pages only do `jekyll build`. It's the Travis build that is triggering the command.

I'll clone your repo and see what is going on. I am currently working on releasing an official v1 of the plugin

[2016-05-17 13:03] ilyavolodin commented on #258
@pixelastic Thanks for looking at it! I think DocSearch makes sense for us. We update website documentation only on releases and those don't happen more then once/twice every two weeks. How do we go about doing that? Just signed up on your site?

[2016-05-17 14:47] pixelastic commented on #258
Yep, just sign up with the eslint website address and an email and we'll configure the crawler on our end and get back to you with the custom 4 lines of JS code to add.

[2016-05-17 15:17] ilyavolodin commented on #258
@nzakas Could you do that please? It would be easier if we can remove Travis build all together for the site.

[2016-05-17 15:43] nzakas commented on #258
My concern with DocSearch is that results won't show up for a day. For instance, if we release some new rules, those wouldn't show up in search results until the next day. Even though we don't update all the time, when we do, that's when we would want the search results updated ASAP. Is there any way to do that?

[2016-05-17 16:45] pixelastic commented on #258
Currently no, and that is the drawback I was talking about. The crawler is configured to run every 24 hours and there is currently no way to tell it something changed on your side.

We plan to open-source the whole thing soon, so you'll be able to run it from Travis on demand. But in your use case, this won't change much from what you already have...

I cloned your repo and run the command from my

[2016-05-17 16:55] ilyavolodin commented on #258
@pixelastic Absolutely. Here's the link to the built history: https://travis-ci.org/eslint/eslint.github.io/builds last 7 builds are all failing with the same issue. Here's the last build that failed: https://travis-ci.org/eslint/eslint.github.io/builds/130870741

[2016-05-19 18:34] pixelastic commented on #258
I've submitted a PR with an edit to the code that was parsing page title to a search hierarchy. This should fix the issue :)

[2016-05-27 19:33] nzakas commented on #258
Looks like we're still having trouble: https://travis-ci.org/eslint/eslint.github.io/builds/133462573

[2016-05-27 23:16] pixelastic commented on #258
Oh but it seems my PR wasn't merged. I did sign the CLA, but not with the correct username apparently. Let me try again.

[2016-05-28 16:23] #258 closed

[2016-05-30 05:49] pixelastic commented on #192
FYI, you have access to analytics data in your Algolia dashboard. It displays things like most common queries, most common queries without results, number of words typed, and all that including or excluding typos.

You only had 1 day of analytics retention, I just bumped it to 30 days.

[2016-05-30 18:37] platinumazure opened #261 ""About" page references rule severity numbers and probably shouldn't"
From the "About" page:

The last bullet point is problematic for a few reasons:

1. It mentions the numeric severities, which are still allowed but semi-deprecated in favor of strings
1. In my opinion, it's way too specific about implementation/usage details for a high-level about page
1. In my opinion, it is redundant given the point about ("Can be set to a warning or error individually")

I woul

[2016-06-01 17:30] nzakas commented on #261
Agreed. This file is on the main ESLint repo, though, so can you open an issue there?

[2016-06-01 17:34] platinumazure commented on #261
Thanks. Re-filed at eslint/eslint#6309.

[2016-06-01 17:34] #261 closed

[2016-06-09 19:44] Sidewinder1138 opened #262 "Website search tray obscured"
On the eslint.org website, when you start typing in to the search bar, the tray no longer appears properly, but is instead clipped:
![search_tray_cutoff](https://cloud.githubusercontent.com/assets/17938200/15943845/b6205ae2-2e3f-11e6-80db-edc22e45a3cb.png)

It's doing the same thing in Chrome and Firefox. I'm using Windows 10, Chrome 51.0.2704.84, Firefox 46.0.1.

[2016-06-09 19:46] pedrottimark commented on #262
Thank you. My bad. Fixing ASAP.

[2016-06-09 21:10] pedrottimark commented on #262
@Sidewinder1138 Can you verify it works correctly again now?

[2016-06-09 21:17] clairebaire commented on #262
I was about to remark on the issue too, but it looks to be working correctly again in Chrome 51 at least.

[2016-06-09 21:19] pedrottimark commented on #262
@clairebaire Thank you, we corrected about 30 minutes ago. Does that timing sound about right?

[2016-06-09 21:21] clairebaire commented on #262
@pedrottimark It does indeed!

[2016-06-09 21:34] pedrottimark commented on #262
Found another style mistake to fix but will wait until Friday in case anything else arises:

Imprecise selector (aimed at anchor link icons) makes rare headings which contain links text color instead of blue. For example, the headings in http://eslint.org/docs/maintainer-guide/

[2016-06-09 22:10] Sidewinder1138 commented on #262
@pedrottimark Looks OK to me now. Thanks for the quick response!

[2016-06-09 22:11] #262 closed

[2016-06-13 23:32] nzakas opened #265 "Docs pages could use more horizontal padding"
Checking on my Nexus 7, the docs pages are a bit tight on the left and right. We could use some more padding.

![screenshot_2016-06-13-16-27-34 2](https://cloud.githubusercontent.com/assets/38546/16026564/467bdc6e-3184-11e6-8dae-beb0f60d26de.png)

You'll need to save the file locally to see since GitHub automatically pads images.

[2016-06-14 00:14] ilyavolodin commented on #265
Just an FYI, we don't have to worry too much about mobile/tablet. While it's important that the site looks fine on those devices, we only get 2.84% of traffic from mobile and 0.42% from tablets. I don't see that trend changing any time soon. We are a desktop application. Right now, I feel like we sacrificed desktop usability for mobile, which I don't think is the right thing.

[2016-06-14 15:09] nzakas commented on #265
Understood, but if it's easy to add some extra padding to make me happy, why not do it? :)

[2016-06-16 16:30] pedrottimark commented on #265
@nzakas Thank you for the feedback. Adding now. Glad to make you happy some of the time 😀

[2016-06-16 16:58] pedrottimark commented on #265
@ilyavolodin Glad to know what you think are specific **pain points**. Unlimited line length is for my eyes. I installed a browser plugin to override site styles when I started working with y’all, which is drastic for me.

It is good you have the numbers. It is amusing that we are out of the gate at the same time as http://www.apple.com/swift/playgrounds/

Agree with what you say about **desktop a

[2016-06-16 17:14] ilyavolodin commented on #265
@pedrottimark Specific pain-points for me currently are:

* Homepage taking full width of the screen. I use superwidescreen monitor and run at 2560x1080 and homepage and demos look really strange on my screen. Resolution statistics for our visitors are below.
* Menu spanning full width of the screen. With content being left-aligned, it take a long time to drag your mouse from left side of the scre

[2016-06-16 17:52] pedrottimark commented on #265
Yes, the home page and menu are inconvenient for me even on an ordinary laptop screen. I stayed away from those because my experience is in information design. Do you think Omer would be interested? If he is not, I can work on it, but more carefully.

@ilyavolodin Thank you for reading my mind about the screen resolution statistics. Do you think the side-by-side example code is worth the effort to

[2016-06-16 19:10] ilyavolodin commented on #265
In terms of side-by-side examples. Code examples are fine, I don't think they alone will be able to justify discomfort of left-alignment on large screens. Chines site is a separate site, they don't necessarily have to match our styles exactly and can create their own overrides. JSCS rules side-by-side is an interesting concept, but I'm not sure it will be relevant for too long, also it might creat

[2016-06-16 20:05] pedrottimark commented on #265
@ilyavolodin Thank you for your patience. Sorry, I just realized how I messed up the menu for you.

Although left alignment simplified the problem enough for me to get this far, it is not essential as the insightful https://github.com/eslint/eslint.github.io/pull/266#issuecomment-226575024 helped me see, so I will work on media queries to limit line length in a centered alignment above some minimu

[2016-06-16 20:12] ilyavolodin commented on #265
Just to share the pain, here's how the website currently looks for me:-)

![image](https://cloud.githubusercontent.com/assets/1380062/16131598/fd05da02-33dc-11e6-8aea-b5033f194457.png)

[2016-06-16 22:20] airato opened #268 "Change titles for rules to be convenient when tab headers are too small"
Change this
<img src="https://cloud.githubusercontent.com/assets/4506749/16135045/c10ff674-33d5-11e6-95f4-c0ae65ca0b85.png" width="500"/>

to this
<img src="https://cloud.githubusercontent.com/assets/4506749/16134964/3c52cc0e-33d5-11e6-836f-60e6e55696f6.png" width="500"/>

Current template is `Rule rule-name - ESLint - Pluggable JavaScript linter`
I suggest something like `rule-name - Rules - ESLi

[2016-06-16 22:21] ilyavolodin commented on #268
Sounds good.

[2016-06-16 23:33] pedrottimark commented on #268
Indeed, and it fits with a related but lesser change to the title of the rules index page:

s/List of available rules/Rules/

[2016-06-21 07:59] jaapz opened #270 "eslint.org certificate seems to be expired"
When I go to `https://eslint.org`, I get a warning that the certificate for the site has expired.

[2016-06-21 16:53] nzakas commented on #270
We don't have a certificate.

[2016-06-22 09:34] jaapz commented on #270
Oh, it looks like when going to https://eslint.org, it's trying to use github's certificate on your domain (probably because it's hosted on github pages?).

Is there a way to maybe use letsencrypt to get a certificate for eslint.org?

[2016-06-22 17:43] nzakas commented on #270
GitHub doesn't provide any of these options. We are pretty much stuck unless GitHub ends up supporting certificates for custom domains.

[2016-06-22 20:40] pedrottimark commented on #265
@ilyavolodin Am taking baseline screen pictures in Chrome responsive design simulator of the style in early May to compare with the current style and the Bootstrap PR style.

Before I go too far, does this home page look accurate for the original style on your monitor?

<img width="747" alt="2560 1080 home" src="https://cloud.githubusercontent.com/assets/11862657/16282688/d4eacb44-3897-11e6-854d-0

[2016-06-22 21:01] pedrottimark commented on #265
@nzakas Can you paste in a screen shot of current painful site appearance from your desktop computer so I can measure its width and height to give you more realistic examples now and in the future?

[2016-06-22 21:57] alberto commented on #265
@pedrottimark let me know if you need help with the styling

[2016-06-22 21:59] pedrottimark commented on #265
@alberto Thank you! I invested a good chunk of today getting an overview of Bootstrap.

[2016-06-22 22:00] ilyavolodin commented on #265
@pedrottimark Yes that looks good to me. Btw, if you do not feel comfortable modifying CSS for the site, let us know when you need help. Most of us are web developers and feel at home in the midst of complex CSS code:-)

[2016-06-22 22:07] pedrottimark commented on #265
@ilyavolodin Thank you too. Changing typography, color, and layout all at once was an unwise risk :(

[2016-06-24 17:42] kaicataldo commented on #265
I can help with the styling too - just let me know :) Would love to see this fixed!

[2016-06-24 21:50] ilyavolodin commented on #270
As @nzakas mentioned, GitHub doesn't provide facility to add certificate for custom domains. Closing as there's nothing we can do about this.

[2016-06-24 21:50] #270 closed

[2016-07-01 20:55] kaicataldo commented on #265
I'm going to go ahead and make a PR for this - the site is looking really off with everything left-aligned.

[2016-07-01 20:59] ilyavolodin commented on #265
I have code ready on my local machine. I'll submit a PR later tonight.
On Jul 1, 2016 4:55 PM, "Kai Cataldo" <notifications@github.com> wrote:

[2016-07-01 21:04] kaicataldo commented on #265
Aside from making the horizontal margins `auto`, I noticed the individual paragraph tags have their own arbitrary width, so it's always going to look off. It looks a lot better if you just let it fill the width of its container.

Current:
![screen shot 2016-07-01 at 5 01 14 pm](https://cloud.githubusercontent.com/assets/7041728/16534411/8c887276-3fad-11e6-92de-06dd14c9cd05.png)

With adding `margi

[2016-07-01 21:09] kaicataldo commented on #265
Also, any idea what happened to the home page? There is no container with a max-width so it all stretches to the edges of the screen

[2016-07-02 00:59] ilyavolodin commented on #265
I updated #269 with changes that gets the site back to original look and feel. We can make incremental changes on top of that.

P.S. @kaicataldo limited width on `p` was done to limit line-length and improve readability, I removed that change for now, but I left commended out code that enables it back in much cleaner way.

[2016-07-02 16:07] kaicataldo commented on #265
@ilyavolodin Awesome! I'm :+1: for incremental changes :)

[2016-08-10 11:30] vitorbal commented on #268
Working on this.

[2016-08-15 07:08] wKich opened #281 "Blog: Rule options changelog improvements"
Hello. I think, it would be cool to write new/deprecated options for rules in separated section like 'New rules', but 'New options'. For example, in 3.3.0 release added option `props` for rule `no-self-assign`, but it's hard to track this changes in whole log.

[2016-08-15 14:50] mateatslc opened #282 "Rules: "no-template-curly-in-string" is listed in the wrong section of the page"
`no-template-curly-in-string` introduced in v3.3.0 is listed under the http://eslint.org/docs/rules/#possible-errors section currently.
As it is purely ES6 related I feel it should be moved over to the http://eslint.org/docs/rules/#ecmascript-6 section of the page.

[2016-08-15 14:55] platinumazure commented on #282
So the real question here seems to be, should all ES6 syntax rules go into the ES6 category, or can a different category be more appropriate depending on the nature of the rule?

It is definitely the case that the rule is for flagging a (pretty subtle) possible error.

Personally I'm wondering if there needs to be one definitive category for a rule (possible error vs best practice vs style) and th

[2016-08-15 15:06] mateatslc commented on #282
For me categories make the content easier to navigate, digest and reference. I even build my custom ESLint configs around those categories.
"ES6" as a category is anything but future proof though. Think of ES7, ES8, etc...
Some kind of flagging combined with filtering on top of current categories (minus ES6) could improve the rules page/docs IMHO.

[2016-08-15 16:43] nzakas commented on #281
It would be cool, but the blog post is done completely by hand and it's hard to identify all new options in each release.

[2016-08-15 16:45] nzakas commented on #282
This should be opened in the ESLint repo, as that is the source of the documentation.

[2016-08-15 21:22] vitorbal commented on #268
Closed by eslint/eslint#6888.

[2016-08-15 21:22] #268 closed

[2016-08-26 15:55] Narretz opened #283 "Feat: parsers in the demo"
Would be cool if you could specify the parser in the demo - obviously the website needs to make the parsers available. This would be pretty cool to test stuff in typescript-eslint-parser, babel-eslint etc., especially to compare if a certain bug exists in vanilla eslint or in the parser

[2016-08-26 15:58] platinumazure commented on #283
It could be a pain in the rear end to have to maintain extra parser dependencies, track versions, etc. Can this be done in a clever way that doesn't require a lot of maintenance on our end?

[2016-08-26 15:59] Narretz commented on #195
This would be very nice, because at the moment you cannot use imports in the demo, as you cannot set sourceType module.

[2016-08-26 16:04] ilyavolodin commented on #195
This PR https://github.com/eslint/eslint.github.io/pull/235 fixes sourceType, but it's not 100% complete. One thing that is missing in it is ability to click on the error and have cursor move to that line, as well as error bubbles in the editor.

[2016-08-29 08:58] mateatslc commented on #282
@nzakas: you're right, I missed `category` in the _Working with Rules_ guide

closing this here, let's discuss it over at https://github.com/eslint/eslint/issues/7005

[2016-08-29 08:58] #282 closed

[2016-08-31 17:35] nzakas commented on #283
It would be cool, but I don't think anyone has the time or desire to build out the demo in such a way where this would be possible. Unless you want to submit a pull request, it's unlikely this will be addressed.

[2016-09-10 01:36] platinumazure opened #286 "Deprecated/removed rules: Multiple replacements could use more padding or separator"
In the [removed rules](http://eslint.org/docs/rules/#removed) section of the rules page, rules with multiple replacements show both replacements as `<a>` tags with no separator or padding in between.

For example, no-arrow-condition is replaced by no-confusing-arrow and no-constant-condition. But the replacement rules rule pretty closely together with only a space between them.

Possible solutions

[2016-09-12 12:05] vitorbal commented on #286
Makes sense, it does look quite weird now. I think adding a separator between each link would be the easiest solution. Here's a couple of previews how it could look like:

With forward slash:
<img width="675" alt="screenshot 2016-09-12 14 03 45" src="https://cloud.githubusercontent.com/assets/626038/18435148/cc9e016e-78f1-11e6-876e-04851eb6d6a3.png">

With comma:
<img width="765" alt="screenshot 2

[2016-09-12 18:00] nzakas commented on #286
:+1: for the comma

[2016-09-13 16:14] ilyavolodin commented on #286
One request, can we do it through CSS instead of modifying the script? We should be able to do it through `a+a` selector.

[2016-09-14 08:57] vitorbal commented on #286
Pushed a PR for this here: #287

[2016-09-22 05:28] kaicataldo opened #288 "Broken link for rule change proposal template"
The link to the rule change proposal template in this section is broken: http://eslint.org/docs/developer-guide/contributing/rule-changes#proposing-a-rule-change

The file in the [ESLint repo](https://github.com/eslint/eslint/blob/master/docs/developer-guide/contributing/rule-changes.md) is correct, but the version in [this repo](https://github.com/eslint/eslint.github.io/blob/master/docs/develope

[2016-09-26 21:57] #288 closed

[2016-09-29 16:49] #286 closed

[2016-09-29 21:50] vitorbal commented on #46
@nzakas @ilyavolodin sorry for the resurrection, just trying to clean up the issues for the website a bit. Is there anything else to be done here?

[2016-09-29 22:00] vitorbal commented on #4
Thanks @noahcollins, for your suggestion. Unfortunately, it has been more than 2 years since this was created without any interest from the team or someone from the community.
I also think our favicon seems fine as it is, so i'm closing this issue.
If anyone disagrees or feels strongly in favor of this change, please feel free to open the issue again.

[2016-09-29 22:00] #4 closed

[2016-10-01 16:46] nzakas commented on #46
Totally forgot about this. Do we need it?

[2016-10-01 16:54] ilyavolodin commented on #46
It's a nice-to-have, but not necessary we get less then 1% of traffic from bing, so I'm not really sure it's worth the time.

[2016-10-15 00:21] cowchimp opened #300 "Clarify what versions of ESLint support the new rule format"
Hi.

I'm support an ESLint plugin that contains a set of rules.
I read this
http://eslint.org/blog/2016/07/eslint-new-rule-format
https://github.com/eslint/eslint.github.io/blob/master/_posts/2016-07-01-eslint-new-rule-format.md

I'm wondering, assuming I update the format of my rules, what is the minimum version of ESLint that knows how to read this new format?

Can this be clarified in the post?

[2016-10-15 00:39] not-an-aardvark commented on #300
To answer your question, it looks like support for the new format was introduced in https://github.com/eslint/eslint/commit/84704740dfe3688cd9ec171fac3d38f288427acc, so I think any version of ESLint since v2.0.0 should be able to handle the new format.

ESLint 2.0.0 came out about 5 months before the blog post did, so maybe that's why it wasn't included. However, feel free to make a PR to add the

[2016-10-15 19:15] nzakas commented on #300
We recommend ESLint version 3.0.0 for the new rules formally, though they will work in 2.13.0 as well.

It would probably be better to add that information directly into the docs rather than the blog post, as I'm assuming most people will be looking for that information in the docs: http://eslint.org/docs/developer-guide/working-with-rules

[2016-10-18 15:26] vitorbal commented on #254
working on this.

[2016-10-18 15:33] vitorbal commented on #281
Doesn't seem like we can do this (at least not for now, maybe in the future we find a way to automate it), so closing this. Thanks for the suggestion, @wKich!

[2016-10-18 15:33] #281 closed

[2016-10-18 22:53] mk-pmb opened #303 "nav#eslint-navbar seems to require JS"
It seems the website requires JavaScript just to open navigation items like "Developer guide", even in Firefox v49. It works when I set NoScript to allow executing code from `cdnjs.cloudflare.com`, but I can't see why I should do so for what could probably be done with CSS easily.
Are there special reasons that I can't see right away?
Shall I try and make a CSS fallback? (If so: is hover ok or sho

[2016-10-19 12:52] mk-pmb commented on #303
In case anyone else has the same problem, the hover hotfix is:
[code]

[2016-10-19 13:48] #254 closed

[2016-10-19 14:01] vitorbal commented on #303
Not sure what the rest of the team thinks, but I would definitely be 👎  to hover menus. They are terrible usabillity and hard to get right. I'd prefer if we stick to click/touch instead.

[2016-10-19 14:31] mk-pmb commented on #303
To clarify: Any of my propsed CSS fallbacks shall be fallbacks for the case time until the JS for opening the menu has loaded. Once it loads, it can add or remove a class in order to deactivate the fallbacks.

I hope that in this case, you prefer hover over malfunction (menu not opening at all).

My offer to try and build a touch menu still stands, though it would require some large changes to the

[2016-10-19 20:32] nzakas commented on #303
We should just add regular URLs into "User Guide" and "Developer Guide". I'm not sure why they're not already there, probably got lost in the shuffle. There are top-level landing pages for those sections, so no reason not to send people there if JS is disabled.

[2016-10-19 21:04] mk-pmb commented on #303
I managed to set up my own copy of the website with the hover fix applied, so for me it's solved, won't care about the official menu anymore. :-)

Thanks for ESlint, and the now great and helpful website!

[2016-10-21 22:40] #303 closed

[2016-10-31 17:57] vitorbal commented on #300
@cowchimp would you be willing to send a PR that adds this information to the `docs/developer-guide/working-with-rules` doc as @nzakas mentions above?

[2016-10-31 21:17] cowchimp commented on #300
Yep. Sent in a PR. Thanks.

[2016-11-01 19:40] #300 closed

[2016-11-18 18:10] jaredreich opened #310 ""no-template-curly-in-string" should appear in ECMAScript 6 list"
"no-template-curly-in-string" rule should appear in ECMAScript 6 list (http://eslint.org/docs/rules/#ecmascript-6)

[2016-11-19 22:07] vitorbal commented on #310
Thank you for your issue. The rule is indeed preventing a possible error, so I'd say that "trumps" the fact that it is part of the ES6 syntax.

In fact, in my opinion, ES6 is widespread enough nowadays that the rules under the "ECMAScript 6" section could probably all be merged into the other sections. I would like to hear the thoughts on this from the rest of the team, though.

[2016-11-19 23:43] platinumazure commented on #310
I agree, personally I think ES6 should be more of a "tag" that can be added to a rule, which supplements the basic categories of "Possible Errors", "Best Practices", and "Stylistic Issues". ES2016, ES2017, and "Variables" could also be tags.

[2016-11-21 15:02] platinumazure opened #312 ""Working with Rules" context.report missing some information"
Page: http://eslint.org/docs/developer-guide/working-with-rules#contextreport

In the example with a `data:` key, its message is missing the `{{identifier}}` placeholder. I've checked the ESLint source and I see it present there, so I assume this is a Jekyll issue (and that's why I'm opening the issue here instead of in eslint/eslint).

[2016-11-25 15:48] guerrero commented on #99
I think that it can be easy to implement this functionality with JavaScript, due that Jekyll is a static site generator there's no other way to achieve it. We can use a library like [URI.js](https://medialize.github.io/URI.js/) or use plain vanilla JavaScript and `window.location.href`. But the steps are basically the same:

To share a link:
- Iterate over the rules to check which of them are acti

[2016-11-25 15:53] guerrero commented on #123
This is an easy to achieve functionality, I can try to implement it if no one is working on it

[2016-11-25 16:26] ilyavolodin commented on #123
@guerrero There's an open PR for a new version of the demo. It's working, but incomplete. If you want to work on enhancing demo, it might be worth it to work on top of that PR, since it supports functionality that is currently broken in the live demo.

[2016-11-25 16:54] guerrero opened #314 "Request: Change styles workflow"
I've tried to make a PR to this repo but I've found that to change it I should do the following steps:
- Make the change in the specific LESS file
- Save file and compile LESS
- Add to GitHub both changes, those frome the LESS file and the others from the compiled file.

The problem here is each time we make a small change we need to commit also the changes made in the compiled styles. A better wo

[2016-11-25 16:56] guerrero commented on #123
Ah thanks! I'll keep an eye on that PR to check if I can help with anything

[2016-11-26 18:40] ilyavolodin commented on #314
You can see some of the discussion about bringing LESS in here: https://github.com/eslint/eslint.github.io/pull/269 It was mostly just a quick way of restoring our Bootstrap distribution. Before that, we only had pre-compiled CSS classes available. I don't have a preference between LESS and SCSS, I can live with either one.

[2016-12-15 15:46] Schweinepriester opened #318 "Implement OpenSearch?"
Implement <https://en.wikipedia.org/wiki/OpenSearch> for the search?

Background: I'd like to add the search as search shortcut in the browser.

I understand if this is not possible due to Algolia, but I wanted to bring it up.

[2016-12-15 15:48] ilyavolodin commented on #318
We can support OpenSearch through google custom site-search. Should be easy enough to add. If you feel like it - send a PR and I'll review it.

[2016-12-20 22:23] alansouzati opened #320 "ignore-path description is confusing"
I've tried to follow directions in here:

http://eslint.org/docs/user-guide/command-line-interface#options

and by reading the description of the `ignore-path` option I thought it allowed an actual file path for a file to ignore. After testing it, it is actually the path of the `.eslintignore` file.

Can we update the description of this option in the site?

[2016-12-20 22:45] platinumazure commented on #320
Hi @alansouzati, thanks for the issue.

Taking a look at the [`--ignore-path`](http://eslint.org/docs/user-guide/command-line-interface#ignore-path) section, it seems pretty clear to me what the option is for. What particular change would you recommend?

[2016-12-20 22:49] alansouzati commented on #320
How about?

[2016-12-20 23:16] platinumazure commented on #320
Right, path to the `.eslintignore` file, not path to a file that should be
ignored.

Sorry, I'm still not understanding what needs to change.

On Dec 20, 2016 4:49 PM, "Alan Souza" <notifications@github.com> wrote:

[2016-12-20 23:33] alansouzati commented on #320
Sorry, if I'm not making myself clear.

Now that I'm comparing these two pages:

http://eslint.org/docs/1.0.0/developer-guide/nodejs-api
http://eslint.org/docs/user-guide/command-line-interface#options

I understand what you mean about ignore file. This could be my own english limitation, but sorry, the first time I read that I got it as "path to a file to ignore".

Anyways, I still believe the fi

[2016-12-20 23:33] #320 closed

[2016-12-26 22:54] nogaraviv commented on #185
Is this project still running? I'm a product designer and I'd love to help out!

[2016-12-29 00:39] nzakas commented on #185
@nogaraviv definitely still running and happy you're interested. It's been a while since we did any work surrounding this, what do you think would be the best way to proceed?

[2016-12-29 23:04] nogaraviv commented on #185
Want to hop on a call? We should talk about whether you just want a polished version of what currently exists, or add new content (and if so, what the content will be) as well as style preferences the team has (if any). Some of these things have already briefly been discussed, but since it's been a year there may be more changes, and it'll be good to talk them through.

Also, we should chat about

[2016-12-30 19:18] kaicataldo commented on #195
Is this done now? Looks like the ESLint demo has the source type drop down!

[2017-01-01 17:28] nzakas commented on #185
I can try a short call to get this bootstrapped, I'll email you so we can set up a time.

We definitely want to add new content to the homepage to make it more useful. Right now it's a confusing jumping off point that doesn't provide a lot of useful information for new users.

A style guide would be awesome!

[2017-01-02 15:51] vitorbal commented on #195
It does look like this is done now, so closing this!

[2017-01-02 15:51] #195 closed

[2017-01-02 15:55] #142 closed

[2017-01-02 15:57] ilyavolodin commented on #115
Demo re-write now pull tooltip information from the rule metadata, so closing this issue.

[2017-01-02 15:57] #115 closed

[2017-01-04 16:45] platinumazure commented on #312
This was resolved on eslint/eslint by using `{% raw %}` template markers.

[2017-01-04 16:45] #312 closed

[2017-01-04 16:48] platinumazure opened #322 "Can we show auto-fix results in the demo?"
Now that the demo has been rewritten, it would be awesome if we could show auto-fix results! (The motivation for this is to provide a quick way to verify incoming bugs that focus on auto-fix issues.)

It would be awesome if we could show auto-fix results without clobbering the original code, too (or at least allow the user to show fixed/broken code via a toggle maybe?).

Possible tasks (may be ina

[2017-01-04 17:41] vitorbal commented on #99
@guerrero the new version of the demo which is react-based is now live, so if you're still interested on implementing the "load from URL" feature, i'd say go for it!

[2017-01-04 19:12] ilyavolodin commented on #322
I looked into it while rewriting the demo. As you mentioned, it's not something we can do without changes to the core, since `CLIEngine` is not browserified (nor should it). I think approach with WebEngine API is incorrect. We would need to add WebEngine API into the core, and that doesn't make much sense to me, since we specifically telling our customers that the only platform that we support is

[2017-01-06 17:52] nzakas commented on #322
Only writing to a file is in CLIEngine. The main functionality is in SourceCodeFixer.

[2017-01-06 18:26] ilyavolodin commented on #322
Ah, you are correct. In that case, we should expose `SourceCodeFixer` in the `linter` object (if it's not already exposed. But I don't think it is).

[2017-01-07 22:31] not-an-aardvark commented on #322
The functionality for applying a single round of fixes is in SourceCodeFixer, but the multipass logic is in CLIEngine ([here](https://github.com/eslint/eslint/blob/8571ab82af1d86bf4aa6a9be79ece42493607c69/lib/cli-engine.js#L123-L194)). As far as the demo is concerned, it would be nice to be able to look at multipass autofix results, since the intermediate autofix steps aren't really relevant to th

[2017-01-10 20:53] nzakas commented on #322
I don't think we should be tacking things onto linter just to expose them to the demo. Id much rather go the WebEngine route and do this is an organized way.

[2017-01-17 20:17] jamischarles opened #324 "Share ESLint Pluralsight course snippet on eslint.org?"
Hey core ESLint folks.

As always, thank you for the fantastic work you do in building and maintaining a very helpful tool.
I recently published a Pluralsight course on ESLint: https://www.pluralsight.com/courses/eslint-better-code-quality

**2 quick questions**:
1) **I'd love to share a 5-10 minute video clip of the course**. Maybe "How to install ESLint and get it up and running" or "What is ESL

[2017-01-17 21:12] ilyavolodin commented on #324
I, personally, have no objection to a short clip (5-10 minutes) that we could add to http://eslint.org/docs/user-guide/getting-started page with a link to a complete course, but let's see what others think.

[2017-01-18 17:32] nzakas commented on #324
:+1:

[2017-01-18 21:33] jamischarles commented on #324
Awesome! I spent 20-30 min and quickly mashed this together:
https://www.youtube.com/watch?v=WULhA-syR0A&feature=youtu.be

Half of this is "Why ESLint". The other half is "Getting started with ESLint".

Any concerns? Any feedback? I'll do some more cleanup after I get some feedback.

Thanks.

[2017-01-18 21:52] ilyavolodin commented on #324
Very nice intro. Couple of small nitpicks. You are using very old version of ESLint for this demo and some of the changes are visible (for example, in the more current version of ESLint if you run it without config file present, it will give you a nice message saying to run `--init` command). We also recommend installing ESLint locally, instead of globally. Global installation can cause a lot of p

[2017-01-18 22:00] jamischarles commented on #324
@ilyavolodin Thank you. This is great feedback. I'll try to make these changes. Shouldn't take too long. Let me know if you have any other comments.

[2017-01-21 22:13] jamischarles commented on #324
@ilyavolodin Here's the new version with the changes you asked about:
https://www.youtube.com/watch?v=uwgUqhbVuKM

Let me know if you see anything else glaring. Once you folks are good, I'll issue a PR to embed this on the `getting started` page.

[2017-01-21 23:40] ilyavolodin commented on #324
@jamischarles That looks really good. There are a few small nitpicks, but I honestly don't think it's worth the time fixing them (like for example when you ran linting, you used global version of eslint. Or when you were going through `init` command you mention JSX only as part of the React, but JSX is not coupled to React only. Meteor and some other frameworks also use JSX). As I said, I think th

[2017-01-22 00:21] jamischarles commented on #324
@ilyavolodin

Doh. That was a big one. Took 10 min and fixed that one. Leaving the other one as is.
https://www.youtube.com/watch?v=hppJw2REb8g

Thanks! Will issue the PR soon.

[2017-01-23 20:46] jamischarles commented on #324
@ilyavolodin qq: I see that the `getting started` page is a markdown page. I'm assuming that I cannot embed a youtube iframe, but need to link a screenshot to my youtube video. Is that correct? Or does html work on that page when it's published?

[2017-01-23 21:46] ilyavolodin commented on #324
@jamischarles Here's a link to an article that explains how to include YouTube video from inside markdown: http://www.adamwadeharris.com/how-to-easily-embed-youtube-videos-in-jekyll-sites-without-a-plugin/ I think it would be better if the video would be embedded.

[2017-01-24 06:38] jamischarles commented on #324
@ilyavolodin Thank you. I think I got it working simply by using a normal `<iframe>` tag. See PR ^

[2017-01-25 19:39] jamischarles commented on #324
It's live! Thanks all.

[2017-01-25 19:39] #324 closed

[2017-02-03 16:00] zzzgit opened #327 "too complicated sentence"
this is hard to understrand.
the first sentence is very very long for me.

[2017-02-03 16:01] zzzgit commented on #327
how to resolve the relative path?
would you give a example in the documentation?

[2017-02-03 16:44] platinumazure commented on #327
Yowzer! I agree, that's a mouthful for sure.

It looks like it's talking about what happens when a configuration `"extends"` another configuration using a relative path.

Unfortunately, I'm not familiar with all of the edge cases for configuration cascading/inheritance, so I'm not in a good position to clarify this. But hopefully someone else on the team can help out!

[2017-03-31 05:08] not-an-aardvark opened #339 ""ECMA Version" setting in Espree demo doesn't do anything"
The parser in the [demo](http://eslint.org/parser) always seems to use `ecmaVersion: 6`, and changing the option in the dropdown doesn't have any affect on the supported syntax.

To reproduce:

1. Go to http://eslint.org/parser
1. Set "ECMA Version" to 5 in the dropdown
1. Enter `let foo` into the text area

Expected behavior: Parsing failure

Actual behavior: Successful parse

[2017-04-26 13:35] wingy3181 opened #349 "Configuration Cascading and Hierarchy documentation correction?"
Is it just me or is the following example at http://eslint.org/docs/user-guide/configuring#configuration-cascading-and-hierarchy incorrect?

I think it should be:

For example, consider `projectA` which has `"root": true` set in the `.eslintrc` file in the **`lib/`** directory.  In this case, while linting `main.js`, the configurations within `lib/`will be used, but the `.eslintrc` file in `projec

[2017-04-26 14:27] btmills commented on #349
@wingy3181 you're right, good catch! Want to send a PR?

Note that because the site documentation in this repository is autogenerated, this change will need to be made in the [eslint/eslint](https://github.com/eslint/eslint) repository: https://github.com/eslint/eslint/blob/afbea78d4b94839ec6d59d2c98321901aeb76313/docs/user-guide/configuring.md#configuration-cascading-and-hierarchy.

[2017-04-26 23:56] wingy3181 commented on #349
@btmills
Raised =)

https://github.com/eslint/eslint/pull/8512

Just a stupid q..so if the docs are autogenerate from the eslint repo, how do they endup in the website repo (eslint.github.io)

[2017-04-27 14:14] btmills commented on #349
@wingy3181 thanks! We'll get that landed as soon as the CLA is back up. Sorry about that 😒

Not stupid at all! The process is not even remotely obvious unless you already know it happens. One of the steps in our release script is [generating the site](https://github.com/eslint/eslint/blob/37e3ba174e66b667fbaebed57cd30a01b307c173/Makefile.js#L584-L737) by processing the files in the [`docs/`](https

[2017-05-22 15:36] gyandeeps commented on #322
I will work on this once https://github.com/eslint/eslint/pull/8631 is merged.

[2017-06-19 21:28] gyandeeps commented on #322
WIP - Once 4.1.0 is release then I can update the demo site

![image](https://user-images.githubusercontent.com/5554486/27306722-58176fd6-550c-11e7-89b0-90be707b2dfe.png)

[2017-06-20 17:23] Aladdin-ADD commented on #349
seems it can be closed.

[2017-06-20 18:46] platinumazure commented on #349
The PR didn't mention the issue, it seems. Closing since this was fixed, thanks!

[2017-06-20 18:46] #349 closed

[2017-06-22 21:50] gyandeeps commented on #322
@eslint/eslint-team any thoughts on the design :point_up:  ?

[2017-06-22 21:55] ilyavolodin commented on #322
Why do we need to show fixed code in separate window? Let's just replace original code with fixed (need to add some sort of button to activate fix mode).

[2017-06-22 21:56] platinumazure commented on #322
I like the idea of seeing good and bad code side by side, personally.

On Jun 22, 2017 4:55 PM, "Ilya Volodin" <notifications@github.com> wrote:

[2017-06-22 22:00] gyandeeps commented on #322
I like side by side also as I maybe testing some rule and interactively trying things. Otherwise its will so annoying to see my code vanish as soon as i stop typing. Its easy to see the changes applied (for context sake).

[2017-06-22 22:01] ilyavolodin commented on #322
In that case, current design looks good to me.

[2017-06-24 01:48] #322 closed

[2017-06-24 13:18] ilyavolodin commented on #265
Closing this issue, since this change was done a long time ago.

[2017-06-24 13:18] #265 closed

[2017-06-25 21:04] not-an-aardvark commented on #310
Closing in favor of https://github.com/eslint/eslint/issues/7991.

[2017-06-25 21:04] #310 closed

[2017-06-28 07:02] not-an-aardvark opened #363 "Demo fails when loaded from cache"
The [ESLint demo](http://eslint.org/demo) seems to fail occasionally and not highlight any syntax or lint any text. An error is printed to the console:

[code]

The error contains a very large function that appears to be eslint-related (possibly all of the browserified eslint code).

After investigating this a bit, it seems like it's a race condition -- the issue only occurs when https://eclipse.o

[2017-06-29 21:23] #363 closed

[2017-07-23 06:43] Aladdin-ADD opened #368 "Accessibility docs."
Web accessibility (also referred to as a11y) is the design and creation of websites that can be used by everyone. Accessibility support is necessary to allow assistive technology to interpret web pages.

linking http://a11yproject.com/

[2017-07-23 12:47] ilyavolodin commented on #368
Anything particular that you think should be fixed for better accessibility? From what I can tell, our site is at least AA compliant. The only issues I'm seeing are contrast issues on the documentation pages, and maybe a few unclear links.

[2017-07-23 12:55] Aladdin-ADD commented on #368
thanks for clarification. what about adding the docs like this: https://facebook.github.io/react/docs/accessibility.html

[2017-07-23 12:57] ilyavolodin commented on #368
React is a front-end framework, and that document describes how to write react code so that output web-page will be accessible. Since ESLint doesn't output any code to the web, I don't think we can create something like that.

[2017-07-23 12:58] #368 closed

[2017-08-01 21:08] travisperson opened #370 "Rule: no-return-await with try...catch"
I don't know if this rule needs to be updated, or if just further clarification in the documentation is required.

Rule: http://eslint.org/docs/rules/no-return-await

When using a `try...catch` in a `async` function, to unwrap the promise and catch an error you must await the promise.

[code]

Try: https://repl.it/Jslh
[code]

[2017-08-01 21:17] not-an-aardvark commented on #370
The rule already handles this case correctly (it does not report an error if the `await` is in a `try` statement). I agree that it might be good to add an example of this to the documentation -- would you like to make a PR?

Note that the file should be modified in `eslint/eslint` [here](https://github.com/eslint/eslint/blob/78a85e0a255ec93ecf71c20afa53facb992f8202/docs/rules/no-return-await.md).

[2017-08-12 05:52] not-an-aardvark opened #374 "Serve site over HTTPS"
Currently, eslint.org is not served over TLS. This is because we host the site on GitHub Pages, so we can't directly use a matching TLS certificate.

Every site should be using HTTPS nowadays. Although we don't host any confidential data, serving the site over HTTPS prevents people on the network from listening to or tampering with the connection. For more details on why all sites should use HTTPS

[2017-08-12 13:00] platinumazure commented on #374
:+1: As long as it's easy and free, I would love to see this done. Also, I keep linking to a nonexistent https site from GitHub and Gitter by accident...

[2017-08-12 15:04] gyandeeps commented on #374
This was very easy... i did on my website and it took me a minute.
https://gyandeeps.com/

[2017-08-14 01:49] not-an-aardvark commented on #374
**TSC Summary:** This issue proposes serving eslint.org through Cloudflare, which would allow us to serve the site over HTTPS for free (and avoid "not secure" warnings in upcoming versions of Chrome).
**TSC Question:** Should we accept this proposal?

[2017-08-14 13:14] alberto commented on #374
I'd prefer to use [netlify](https://www.netlify.com/open-source/) instead. There are a few [other OSS projects](https://www.netlify.com/open-source/) using it already.

[2017-08-14 16:16] not-an-aardvark commented on #374
I'm unfamiliar with netlify. What are the advantages of using it over Cloudflare?

I like Cloudflare for a few reasons (roughly in order of priority):

1. It's free and allows us to use HTTPS on the site.
1. It lets us keep our current workflow of pushing to a GitHub repo and having the site build automatically.
1. We can redirect all HTTP traffic to HTTPS.
1. It's easy to set up.
1. It has some n

[2017-08-17 19:38] alberto commented on #374
I think it has all that features. I prefer the way it handles [certificates](https://www.netlify.com/docs/ssl/#netlify-certificates), by generating Let's encrypt certificates, rather than the[ cloudflare approach ](https://support.cloudflare.com/hc/en-us/articles/200170416-What-do-the-SSL-options-mean-).

It has some additional [features](https://www.netlify.com/features/) that can come handy:
- C

[2017-08-17 19:59] not-an-aardvark commented on #374
I'm a bit confused -- if we used netlify, would we still be hosting the site on GitHub Pages? Or would it be a separate service?

Cloudflare is a bit different because it just acts as a reverse proxy, and it would still be getting the content from GitHub Pages. I wouldn't necessarily be opposed to looking into GitHub pages alternatives, but that seems like a separate proposal from just adding a se

[2017-08-17 20:15] alberto commented on #374
It would replace github pages, but the setup is really straightforward.

[2017-08-18 00:54] not-an-aardvark commented on #374
In [today's TSC meeting](https://github.com/eslint/tsc-meetings/blob/497d7506dc7c6d73295bdeae468d8b81f575b292/notes/2017/2017-08-17.md#serve-site-over-https), we decided to start using Cloudflare. People seemed open to the possibility of switching backends, but that seems like a larger task and can be done as part of a separate issue.

The next step is to set up Cloudflare. I can handle creating a

[2017-08-18 01:38] ilyavolodin commented on #374
@not-an-aardvark No, I don't. I think that's more or less the only thing I don't have access to. I know @nzakas used to own the domain, but I think it was transferred to JSF. @kborchers is showing up as a contact person for the domain, so I assume that he has access to the DNS records.

[2017-08-18 01:47] kborchers commented on #374
You should definitely reach out to us on issues like this (anything around infrastructure, security, potential to cost money) before you spend lots of time on them. We already use Cloudflare for all of our domains and can get you set up to serve over https in no time.

[2017-08-18 01:56] not-an-aardvark commented on #374
Thanks @kborchers, I'll keep that in mind for the future. I hadn't realized the JSF was already using Cloudflare.

Would you mind setting up `eslint.org` and `cn.eslint.org` up with Cloudflare?

[2017-08-18 02:18] kborchers commented on #374
You should be all set. Looks like there is some mixed content on the `cn.eslint.org` home page so you'll probably want to scan both sites for images, etc that have `http` addresses.

[2017-08-18 02:24] gyandeeps commented on #374
thanks a lot @kborchers ... Did you also add a rule to route `http` traffic to `https` ?

[2017-08-18 02:40] kborchers commented on #374
@gyandeeps yes, it is set to always use `https`. Looks like there may be an issue with the `cn` subdomain and https though. Looking into it

[2017-08-18 02:42] not-an-aardvark commented on #374
It seems to be working for me -- could it just be a DNS cache issue?

[2017-08-18 02:43] kborchers commented on #374
@not-an-aardvark Perhaps. I'll give it a bit and check again.

[2017-08-18 02:44] not-an-aardvark commented on #374
In any case, thanks very much for your help!

[2017-08-19 02:08] not-an-aardvark commented on #374
@kborchers It looks like https://jenkins.eslint.org/ no longer resolves to our jenkins server (it's returning a DNS error). Is it possible that the entry for `jenkins.eslint.org` was changed somehow?

[2017-08-19 02:13] kborchers commented on #374
Should be fixed.

[2017-08-22 21:34] darahak opened #378 "Demo is not editable"
Not sure if this is related to https://github.com/eslint/eslint/pull/8827 or not.
Sorry if this is a duplicate of another issue, but I couldn't find anything.

The demo is inactive when I load https://eslint.org/demo/

When I open DevTools, I have these errors in the console:

[code]
with `(index):1` pointing to `https://orionhub.org/:1`

In the second error, `orion` is `undefined`. Here's the ent

[2017-08-22 22:07] not-an-aardvark commented on #378
Thanks for reporting, I can reproduce this. I think this is a separate issue, and only started in the last few days.

It seems like the problem is that the requests for assets at https://eclipse.org/orion/editor/releases/current/built-editor.css and https://eclipse.org/orion/editor/releases/current/built-editor-amd.min.js are now getting redirected to the https://orionhub.org/ homepage for some re

[2017-08-23 04:17] #378 closed

[2017-08-25 19:23] not-an-aardvark commented on #374
Closing this issue because everything seems to be working. Thanks again!

[2017-08-25 19:23] #374 closed

[2017-08-26 00:56] #99 closed

[2017-08-26 07:41] not-an-aardvark opened #390 "Loading a demo permalink incorrectly enables default rules"
Example: https://eslint.org/demo/#eyJ0ZXh0IjoiZm9vOyIsIm9wdGlvbnMiOnsicGFyc2VyT3B0aW9ucyI6eyJlY21hVmVyc2lvbiI6OCwic291cmNlVHlwZSI6InNjcmlwdCIsImVjbWFGZWF0dXJlcyI6e319LCJydWxlcyI6e30sImVudiI6e319fQ==

This decodes to a config with no rules or envs:

[code]

However, if that link is loaded in an incognito window, the rules from `eslint:recommended` will be loaded. This is because we do a deep merge

[2017-08-26 22:12] not-an-aardvark opened #394 "Error indicators don't appear in the demo until the user interacts with the text"
This refers to the red underlined text in the editor, as well as the X icons on the left.

![](https://i.gyazo.com/aec79fdbbd705177c873df87908b7364.png)

The text doesn't appear on the initial pageload -- it only appears after the editor or config is modified (e.g. by adding a space).

[2017-08-27 01:04] #123 closed

[2017-08-28 03:32] #390 closed

[2017-08-29 14:07] #394 closed

[2017-08-29 21:01] not-an-aardvark opened #402 "Run linting task on Travis"
We have a linting task that lints JS files as of https://github.com/eslint/eslint.github.io/pull/393, but the task doesn't get run automatically for PRs on Travis. I'm not sure how to do this because we already have the language set to ruby in `.travis.yml` to index the site with algolia, so we would need to set up a separate build to run `npm install` and `npm test` for PRs. Someone who knows mor

[2017-08-29 21:02] #110 closed

[2017-08-29 21:51] platinumazure commented on #402
Found this thread/comment: https://github.com/travis-ci/travis-ci/issues/4090#issuecomment-122688955

Maybe we could just invoke nvm as part of the test script (while still using ruby as the language)?

[2017-09-09 05:58] not-an-aardvark opened #407 "Linter has the wrong version number in the demo"
The demo on eslint.org always uses the latest version of ESLint. However, the `.version` property in `Linter` in the demo always lags one version behind, because we build the demo file before updating the version number in `package.json` as part of the ESLint release script.

This prevents us from correctly displaying the version number in the demo (if we decided that displaying the version would

[2017-09-10 21:53] #407 closed

[2017-09-20 16:43] Aladdin-ADD opened #411 "Failed to load resource: glyphicons-halflings-regular.woff2"
![image](https://user-images.githubusercontent.com/13050025/30656166-b31ff9b4-9e65-11e7-9959-58f2694d08ae.png)

browser: Vivaldi 1.11.917.43 (Stable channel) （32 位）
os: windows 10.

[2017-09-25 11:05] tkrugg opened #412 "Add reminder on how to disable a specific rule to rules pages"
This is, for example, what I'm calling a rule page:  https://eslint.org/docs/rules/no-await-in-loop
I believe a practical addition to rule pages would be a reminder on how to disable the rule.

Most of the time people reaching this page will look for a way to disable the rule.
If it sounds good enough, I can send a PR.

[2017-09-25 19:16] platinumazure opened #413 "Invalid rule configuration only gives feedback on console and does not update UI at all"
Repro steps:

1. Enter the following into the demo:
[code]
1. Observe no-unreachable error
1. Change configuration to: `/* eslint no-unreachable: ["error", { someInvalidConfig: true }] */`
1. Remove the `return;` statement

Expected: Get an error about invalid rule configuration at some point

Actual: Previous error is stuck on the screen

Note: This also applies to lint-free code, and code will a

[2017-09-26 03:44] not-an-aardvark opened #414 "Expose Linter as a global for devtools usage"
When reading API documentation, it's convenient to be able to try out the API in DevTools without leaving the documentation page. I think we should set `window.Linter` on eslint.org to the prebuilt `Linter` class.

Other sites that do this:

* [lodash.com](https://lodash.com/) (exposes `_`)
* [momentjs.com](https://momentjs.com/) (exposes `moment`)
* [chaijs.com](http://chaijs.com/) (exposes `chai

[2017-10-09 22:02] #411 closed

[2017-10-11 02:13] not-an-aardvark commented on #414
I think before we do this, we should finish removing all the undocumented API surface from `Linter` (see https://github.com/eslint/eslint/issues/9161). I don't want people to see properties in devtools and assume that the properties are intended to be used by API consumers.

[2017-10-11 23:34] bwhitty opened #422 "Search bar fails with a type error"
![screen shot 2017-10-11 at 4 31 59 pm](https://user-images.githubusercontent.com/1571966/31472155-e60c2144-aea1-11e7-9831-c6eea1d1dad8.png)

This happens in both FF 57 and Chrome 61

[2017-10-11 23:40] ilyavolodin commented on #422
Thanks for the report. I'm looking into it now. It's related to PWA changes we pushed earlier today.

[2017-10-12 01:01] ilyavolodin commented on #422
This is now fixed (we reverted PWA until we can fix it). Closing

[2017-10-12 01:01] #422 closed

[2017-10-16 16:53] bwhitty commented on #422
Anyone who accessed the site while it's broken now has a zombie service worker installed for this site and so it continues to be broken today for those users.

<img width="1680" alt="screen shot 2017-10-16 at 12 50 29 pm" src="https://user-images.githubusercontent.com/1571966/31624432-af387852-b270-11e7-8512-e3f60d70aa0a.png">

Opening the site in an incognito window or manually deleting the cache

[2017-10-16 23:50] not-an-aardvark commented on #422
You can manually unregister it by entering this into the dev console:

[code]

Obviously, we don't want every user to need to enter something into the dev console as a long-term strategy. Is there a good way to keep service workers up-to-date (aside from pushing an update that unregisters all of them)?

[2017-10-17 04:08] bwhitty commented on #422
I'm not sure of a solution off the top of my head. Here's my favorite talk about the subject, I vaguely remember it discussion this issue: https://www.youtube.com/watch?v=CPP9ew4Co0M

[2017-10-19 16:07] Aladdin-ADD opened #432 "bug: demo configuration not shown"
![image](https://user-images.githubusercontent.com/13050025/31781220-83e71278-b52a-11e7-9a26-680521af8a6f.png)

click configuration => not working.

[2017-10-23 20:47] christalk commented on #432
Yes, I tried with FireFox, IE, Google Chrome and it still doesn't work.
https://eslint.org/
https://eslint.org/demo/
The "Rules Configuration" (ESLint v4.9.0) doesn't give any screen , nor informations

https://eslint.org/demo/#configuration

[2017-10-24 10:26] christalk commented on #432
In the Demo -> **ESLint Demo**, I got a **407 error** with this link (Rules Configuration)
https://cdn.jsdelivr.net/g/lodash@3.10.1,hogan.js@3.0.2,algoliasearch@3.8.1,autocomplete.js@0.12.0(autocomplete.min.js)

But, in the Demo -> **Espree Demo**, I got **no error** with the same ? link (Parser Configuration)
https://cdn.jsdelivr.net/g/lodash@3.10.1,hogan.js@3.0.2,algoliasearch@3.8.1,autocomplete

[2017-10-24 11:09] christalk commented on #432
Just one point :

Demo -> **ESLint Demo** -> **Rules Configuration** -> **doesn't work**
https://eslint.org/demo/#configuration

Demo -> **Espree Demo** -> **Parser Configuration** -> **works**
https://eslint.org/parser/#configuration

[2017-10-25 23:09] #432 closed

[2017-10-26 07:02] christalk commented on #432
Thank you, it works now !

[2017-11-18 18:54] mk-pmb opened #436 "Allow read access to documentation"
I know, Cloudflare is all the hype. May I please read the docs anyway, without having to get Google's permission first? It's none of Google's business when and where I'm trying to read about which eslint rule.

[2017-11-18 19:08] ilyavolodin commented on #436
Sorry, I have never seen this before. How can this be reproduced? If google somehow requests you to complete security check to just see our pages, I think we might have to rethink this whole https through Couldflare.

[2017-11-18 19:25] mk-pmb commented on #436
No problem, here's [a screenshot](http://abload.de/img/cloudflare_attentionjxj0c.jpeg) (taken from another domain but it's generic)

Just request the page from any IP that cloudflare doesn't like. This includes most TOR exit nodes so TOR probably is the easiest approach to see it.

Actually it's Cloudflare. They just happen to use google captchas most of the time. Some fellow webmaster who's also

[2017-11-18 19:37] not-an-aardvark commented on #436
This is probably part of Cloudflare's anti-DDoS measures when it detects an unusual amount of traffic to a site from a particular IP. I think we can configure the site on Cloudflare to loosen/turn off spam protection.

[2017-11-18 19:39] mk-pmb commented on #436
If spam protection is the problem, I suggest whitelisting HTTP GET requests and fixing any script that saves user input submitted via GET.

[2017-11-18 19:42] not-an-aardvark commented on #436
This is a static site, so I think all requests are GET requests. We haven't actually had any problems with spam in the past -- I think this is just happening based on Cloudflare's default settings.

[2017-11-25 21:37] not-an-aardvark opened #437 "Rule description popover doesn't work"
When hovering over a rule name in the demo, a description of the rule is supposed to appear. However, that isn't happening right now, and an error is getting thrown:

[code]

[2018-01-10 00:06] #413 closed

[2018-01-17 00:06] platinumazure opened #447 "Improve "Getting Started" page?"
Original issue created as eslint/eslint#8420.

Quoting from the original issue:

I agree that the Getting Started section deserves another look. Or, maybe we should keep Getting Started very high-level and then point to more of a "cookbook" page that goes into some more detail about how to do some setup and tasks. We definitely need to give this some thought, at any rate.

[2018-01-17 00:23] mysticatea commented on #447
I agree that the Getting Started page needs improvement.

But I think "Windows users are being left out" is a misunderstanding. The `.eslintrc.` matter is not a restriction of Windows but a restriction of `explorer.exe`. Editors such as VSCode, Atom, or Sublime Text can create `.eslintrc` file without problem. I'm not sure that we should write about `.eslintrc` in `explorer.exe` because it has bee

[2018-01-17 00:48] platinumazure commented on #447
@mysticatea Yes, you're absolutely right. The fact that we don't mention the extensions shows how little care we've put into that section/page.

[2018-01-17 02:54] mysticatea commented on #447
Ah, oh, I got it. The Getting Started page has shown the deprecated feature...

[2018-01-28 04:08] platinumazure commented on #447
I made some improvements recently, but I'm not sure if we should be considering a new/different approach to how that page should present its information. I would love to hear what others think!

[2018-01-28 04:08] platinumazure commented on #436
Do we want to make a change here?

[2018-01-28 04:10] platinumazure commented on #412
I'm interested in the idea of including a quick link to the inline configuration section as a reminder for how to disable rules, automatically generated during site generation. There might be other approaches but I strongly value keeping any added content brief.

@eslint/eslint-team Thoughts?

[2018-01-28 04:19] not-an-aardvark commented on #412
For `no-await-in-loop` in particular, it seems like the documentation mentions a config comment already, so I think it would be reasonable to link to the section there (at least as a first step).

[2018-01-29 22:08] platinumazure opened #451 "Auto-generate Table of Contents on rules and core docs"
Could we auto-generate a table of contents in the rules and core documentation? Seems like something we could potentially do during site generation, based on the headers (and subheaders, sub-subheaders, etc.) on a given page.

[2018-02-09 18:34] platinumazure opened #454 "Netlify deploy and real site deploy generate different HTML when converting code examples in Markdown"
For a code block in Markdown, we get two different HTML patterns on Netlify vs the real site.

Netlify:

[code]

Real site:

[code]

Note the extra `<div>` between the `div.language-js` and the `pre.highlight`.

This is causing the following CSS rules to work on Netlify but fail on the real site:

[code]

[2018-02-09 18:47] j-f1 commented on #454
Why not just use Netlify for hosting the production site, too?

[2018-02-09 18:53] platinumazure commented on #454
@j-f1 Well, Netlify was originally just a proof-of-concept. I don't think we had any serious plans to use Netlify even for site previews, although I have used it as such in some of my recent pull requests here. I'm not opposed to using Netlify for production at this point.

I think what's really going on is, whatever we use in production is now generating different HTML, but the CSS rule was desig

[2018-02-09 19:04] j-f1 commented on #454
The code block highlighting [works](https://eslint.netlify.com/docs/rules/getter-return#rule-details) on `eslint.netlify.com`.

My personal experience with Netlify has been that it’s kinda like the advanced version of GitHub Pages — if you want a basic Jekyll site with a `*.github.io` domain, then GitHub Pages is good, but Netlify is better for more complicated stuff.

[2018-03-16 23:30] Krinkle opened #459 "Duplicate and confusing search results"
Searching for the word "disable":

<img width="595" alt="screen shot 2018-03-16 at 16 25 01" src="https://user-images.githubusercontent.com/156867/37548667-b326dda4-2936-11e8-8008-45f131905c1d.png">

These results have two issues:

1. I don't know what they represent. (It doesn't say "rule" or "no-lonely-if", which is what the doc snippets are from.)
2. They all look the same. (It doesn't say whic

[2018-03-16 23:42] ilyavolodin commented on #459
Thanks for reporting this. We've head a bit of trouble with today's release (looks like Github updated some of the dependencies) so it's possible that this issue is related to that. I'll try to figure out a way to clean this up.

[2018-03-17 00:19] ilyavolodin commented on #459
@pixelastic Sorry to bother you, but as I mentioned we ran into some problems earlier today with Github pages, and had to update some dependencies. Since then, it looks like Algolia is not able to build a new index, because it's claiming that it can't push changes to {index_name}_tmp index. Algolia API key hasn't been touched, so I assume the error is due to something else. Would you be able to he

[2018-03-17 19:31] ilyavolodin commented on #459
Ah, I see what the issue is: Record quota exceeded, change plan or delete records. @pixelastic Any chance for slightly bumping our quota?

[2018-03-20 16:38] pixelastic commented on #459
Fixed!

**tl;dr:** I upgraded your maximum quota from 100k records to 500k records. It should give you more breathing room.

**Longer version:**
If you get the chance, I would also suggest either:

- Upgrading to the new version of the plugin (now named [jekyll-algolia](https://community.algolia.com/jekyll-algolia/)). It has a much smarter update mechanism that consumes less operations, is much fa

[2018-03-20 18:15] Krinkle commented on #459
Not sure what it looked like before, but to me it still looks the same:

<img width="1091" alt="screen shot 2018-03-20 at 11 15 10" src="https://user-images.githubusercontent.com/156867/37674377-00aecb58-2c30-11e8-84fe-917f6a73e198.png">

[2018-03-21 11:15] pixelastic commented on #459
@ilyavolodin You might have to trigger a rebuild (either `jekyll algolia push` locally, or pushing to GitHub pages and letting Travis handle it from there)

[2018-03-21 21:52] ilyavolodin commented on #459
@pixelastic Awesome! Thank you very much for doing this. We will be doing a patch release later tonight, so that should re-run the job that would index our site. Again, appreciate your help! I will take a look at DocSearch and try to set it up, sounds like it should make our operations a bit smoother.

[2018-03-21 21:58] platinumazure commented on #447
I haven't heard anything from the rest of the team on this, and this hasn't been a priority for me either, so I'm going to go ahead and close this.

[2018-03-21 21:58] #447 closed

[2018-03-21 21:59] platinumazure commented on #437
@not-an-aardvark Is this still an issue?

[2018-03-21 22:20] not-an-aardvark commented on #437
Yes.

[2018-04-25 00:27] malcolmsgroves commented on #437
I'm going to start working on this, assuming no one has started

[2018-04-28 21:01] aladdin-add opened #468 "set master to be protected branch"
Apologies, I didn't notice master was not protected branch -- added a commit https://github.com/eslint/eslint.github.io/commit/1c31728559fda2eeb803977275b96e14a8886bae (⊙ˍ⊙)

I think we better set it protected, to avoid commit by accident.

[2018-04-29 02:31] #437 closed

[2018-04-29 20:21] not-an-aardvark opened #469 "Clicking on "fixed code" in the demo changes the URL"
When clicking the "Fixed Code" tab on the demo, the URL fragment changes to `#fixedCode`, so the permalink to the code is lost.

Demo gif:

![](https://i.gyazo.com/e1161924264a46028b5ac72089b2cdec.gif)

[2018-04-30 14:44] platinumazure commented on #402
Do we need the Travis task to be in Ruby anymore if we no longer need to call Algolia directly (since we should have switched over to DocSearch by now)?

(cc @ilyavolodin)

[2018-04-30 23:56] #469 closed

[2018-05-10 01:46] Aladdin-ADD opened #475 "click search result, go to docs/3.0.0"
it is expected to open the latest version.

![image](https://user-images.githubusercontent.com/13050025/39847956-edf2f9ce-5436-11e8-849f-c313e62cd961.png)

[2018-05-12 15:31] ilyavolodin commented on #475
Yes, I noticed that too. It has something to do with this line: https://github.com/eslint/eslint.github.io/commit/6d951fdfb6ac8e28ba11d32d70b6117e7ac83e98#diff-7693eb643e8fe8b8d46b407909b408ceR31 but I haven't had a chance to dig into DocSearch documentation yet to figure out how to correct it.

[2018-05-12 15:32] ilyavolodin commented on #468
We do commit to master branch directly once in a while. I'm not opposed to setting it as protected, but it used to be very helpful feature, until we started having 2 people run releases.

[2018-05-12 15:32] #459 closed

[2018-05-23 16:59] platinumazure commented on #468
Maybe we could protect master by default, and then unprotect it whenever we need to push to master directly? I think that's a similar strategy to what we do in ESLint itself.

[2018-05-23 17:04] not-an-aardvark commented on #468
For what it's worth, I think we have the ESLint repo configured so that repository admins (i.e. TSC members) are allowed to override the setting that PRs are required to push to master. As a result, they can push to master anyway from the command line. This is how ESLint Jenkins creates release commits on master without creating a PR.

Branch protection also disables force-pushing to the branch fo

[2018-06-06 15:34] jankhunter opened #480 "Difficulty in finding Eslint plugin rules"
Recently, i faced difficulty in finding existing eslint rules.  I would search for any existing rule [here](https://eslint.org/docs/rules/) . I nearly completed writing my own custom rule but later found that there is an existing rule exactly for my case, which i dint find [here](https://eslint.org/docs/rules/) . It would be nice, if there is a space also for non-core plugin rules in [eslint.org](

[2018-06-06 16:23] Aladdin-ADD commented on #480
It's hard to list all rules -- there are many eslint plugins maintained by the community. I would recommend some repos like https://github.com/dustinspecker/awesome-eslint.

[2018-06-06 18:57] Krinkle commented on #475
This is actively causing 404 Not Found errors for users, making it rather difficult to find things.

Example: search for "for-direction".

| Search | Result | 404
|--|--|--
|<img width="607" alt="screen shot of search query" src="https://user-images.githubusercontent.com/156867/41059069-75c7214e-69c3-11e8-933b-719890058d2c.png"> |<img width="685" alt="screen shot " src="https://user-images.githubu

[2018-06-06 19:18] platinumazure commented on #475
I'm looking into this. I think I understand the issue, though I need to confirm a few things before I try to make any changes.

We'll also need to document necessary changes to docsearch configs (in https://github.com/algolia/docsearch-configs) as part of major releases. That will go in the maintainer guide.

[2018-06-06 20:03] platinumazure commented on #475
I've opened a PR on the docsearch-configs repo (algolia/docsearch-configs#440). The idea is to explicitly only index the "current version" of ESLint docs and not index old versions.

In that PR, I can't start from /docs because that page does not exist in the repo. So I'm starting from /docs/rules, /docs/user-guide, /docs/developer-guide, and /docs/maintainer-guide (all of which should exist). The

[2018-06-07 04:42] jankhunter commented on #480
To be precise, if some plugin is useful, why not maintain a space for it or as @platinumazure said, search results would be well and good rather than maintaining the exact plugin in [eslint.org](https://eslint.org/)

[2018-06-12 18:08] platinumazure commented on #480
I definitely don't want to maintain a space for it, in terms of us having to maintain a database or something. We do not have the manpower for that.

What I would love to see is, if there is some API or service that can be used to query npmjs.org, then maybe we could create a search page that will allow users to type in some searches and find ESLint plugins (e.g., we could search by "eslintplugin"

[2018-06-12 18:22] platinumazure opened #485 "No current way to note when rule options are added in specific versions of ESLint"
# Prelude

I'm aware that we don't specifically want to be strict about noting when rule options are added or changed in particular release versions. I am not advocating that we try to retrofit the entire site with version information. What I want to do is to make individual updates/notes possible (while providing a uniform UX).

# Proposal

I would love to see some options for prefixing a paragra

[2018-06-14 14:16] platinumazure commented on #475
We've merged the docsearch-configs change and the eslint.github.io change. Unfortunately I didn't think about the fact that the scraper probably hasn't run yet so we have the eslint.github.io changes running against the old index. It will resolve itself after the next scraper run.

I'll check tomorrow to see how the search experience looks, then either close this issue or open new PRs against this

[2018-06-14 17:40] Krinkle opened #486 "Versioned "Rules" page includes rules that didn't exist (404 Not Found)"
Extracted from issue #475.

* View <https://eslint.org/docs/3.0.0/rules/>
* Observe "for-direction" being included, despite being introduced in 4.0.
* Clicking leads to <https://eslint.org/docs/3.0.0/rules/for-direction> which responds with the 404 Not Found page.

[2018-06-14 17:41] Krinkle commented on #475
@platinumazure Yep, the search seems to be working well again. Thanks!

I do note that <https://eslint.org/docs/3.0.0/rules/> still lists `for-direction` in the table, linking to a 404 Not Found. I've filed https://github.com/eslint/eslint.github.io/issues/486 for that.

[2018-06-14 17:53] platinumazure commented on #486
Related: eslint/eslint-release#22

[2018-06-14 18:43] platinumazure commented on #486
I also think it would be okay to remove the 4.x and 5.x rules from the 3.x rules list as a stopgap. @Krinkle If you would like to file a PR for that, it would be most welcome.

[2018-06-14 19:18] platinumazure commented on #475
Thanks for confirming @Krinkle.

I'm going to leave this open for a few days in case I want to make any more PRs to tweak the search configuration.

[2018-06-22 03:29] platinumazure commented on #475
I wrote algolia/docsearch-configs#457 to avoid indexing of blog headers, since those are identical in every post.

Closing as the main issue is resolved.

[2018-06-22 03:29] #475 closed

[2018-06-24 15:25] aladdin-add opened #490 "travis-ci build no longer triggered somehow"
build failing, and it has not been triggered for a long time. see https://travis-ci.org/eslint/eslint.github.io

[2018-06-28 21:42] platinumazure opened #491 "Working with Rules: Unexpected large font in SourceCode documentation"
In the [SourceCode section of "Working with Rules"](https://eslint.org/docs/developer-guide/working-with-rules#contextgetsourcecode), there's a section in which the different range/skip/count options are documented for some of the newer SourceCode methods. That section is rendered with a larger font than the surrounding content.

I opened the issue up here because I assumed this might be a CSS pro

[2018-07-06 12:56] jankhunter opened #493 "Error while installing eslint"
<img width="826" alt="screen shot 2018-07-06 at 6 17 17 pm" src="https://user-images.githubusercontent.com/32759296/42379845-c9d1703a-8149-11e8-9895-36e976b4fa6b.png">

I am getting the above error while i install eslint.

When i look into the same file of previous version of eslint, i am not having those three dots.
Those three dots are in multiple lines.
Is this a known issue?

[2018-07-06 13:09] Aladdin-ADD commented on #493
what is your Node.js version? ESLint v5 drop support Node 4, 5, 7.
see https://github.com/eslint/eslint/blob/master/package.json#L126

[2018-07-06 13:52] jankhunter commented on #493
Yes. That was the issue. After updating node version, i reinstalled eslint and is working fine now. Thanks @Aladdin-ADD

[2018-07-12 21:50] mk-pmb commented on #436
As long as you're still using Cloudflare, please configure it more sensibly: Not everything that has an `@` in it is an email address. The timeline on https://eslint.org/blog/2018/07/postmortem-for-malicious-package-publishes is rather useless when all package names are replaced with `[email protected]`, and I can't see a good reason why disclosure of this information should be limited to people w

[2018-07-12 22:03] not-an-aardvark commented on #436
@kborchers Can we turn off the "Email Address Obfuscation" feature on `eslint.org`? It seems to be resulting in some false positives. The setting seems to be under "Scrape Shield", described [here](https://support.cloudflare.com/hc/en-us/articles/200170016-What-is-Email-Address-Obfuscation-).

[2018-07-12 22:48] kborchers commented on #436
Email obfuscation has been removed. I am not aware of any rate limiting.

[2018-07-12 22:53] not-an-aardvark commented on #436
Great, thank you!

[2018-07-13 14:51] platinumazure commented on #493
Closing as this issue appears to be resolved.

[2018-07-13 14:51] #493 closed

[2018-08-17 20:46] #192 closed

[2018-09-08 19:27] not-an-aardvark opened #503 "Enable HSTS on eslint.org"
I think it would be nice to enable [HTTP Strict Transport Security](https://en.wikipedia.org/wiki/HTTP_Strict_Transport_Security) (HSTS) on eslint.org and its subdomains. HSTS is a directive that instructs a browser to always connect to a site using a secure connection, which can protect site visitors from man-in-the-middle attacks under certain circumstances.

There is a setting in Cloudflare to

[2018-09-12 19:09] not-an-aardvark commented on #503
**TSC Summary**: This issue proposes enabling [HTTP Strict Transport Security](https://en.wikipedia.org/wiki/HTTP_Strict_Transport_Security) on `eslint.org`.

**TSC Question**: Should we enable this?

[2018-09-14 01:08] not-an-aardvark commented on #503
This issue was accepted in [today's TSC meeting](https://github.com/eslint/tsc-meetings/blob/39bb24567f630ee645c06fb2a67fa603e95769f4/notes/2018/2018-09-13.md#enable-hsts-on-eslintorg).

[2018-09-14 01:17] not-an-aardvark commented on #503
@kborchers When you get the chance, may you please enable HSTS in the Cloudflare settings for eslint.org? The option should be under Crypto > HTTP Strict Transport Security (HSTS).

The following settings should be configured:

Enable HSTS: On
Max Age Header: 12 months
Apply HSTS policy to subdomains: On
Preload: On
No-Sniff Header: On

[2018-09-17 13:14] kborchers commented on #503
HSTS enabled and you should be all set.

[2018-09-18 11:04] callumlocke opened #504 "Docs don't make it clear whether rules in overrides merge or replace the main rules object"
The [Configuration based on glob patterns](https://eslint.org/docs/user-guide/configuring#configuration-based-on-glob-patterns) section only shows a single rule `"quotes"` being set and then overridden, and (AFAICT) it's not possible to tell from this example or the accompanying text if the `rules` for `overrides` are _merged_ into the base `rules` object, or if it replaces it completely. Same for

[2018-09-20 10:24] sundartinesh opened #505 "eslint executing on terminal issue"
I  have written nearly 10 rules for my project and kept in the same folder.I executed each rule and store the output in a separate text file and kept in the subfolder .If I try to execute a particular rule,I got some other txt file getting printed on the terminal.If the same rule is again put in a separate folder, i can get the result.What is the exact the for that error

[2018-09-20 15:15] Aladdin-ADD commented on #505
hi, @sundartinesh  thanks for creating the issue, I'm not sure I got your meaning.  please just provide as much additional information as possible, e.g. the command that you used to run ESLint.

also, you can join our [chatting room](https://groups.google.com/group/eslint) for more help! 😄

[2018-09-22 18:41] kaicataldo commented on #505
Also, is this an issue with https://eslint.org/ website?

[2018-09-22 18:44] kaicataldo commented on #504
Thanks for the issue. Would you mind making a new issue in the github.com/eslint/eslint repo? The documentation actually lives in that repo. Thanks!

[2018-10-04 17:45] #505 closed, assigned to nobody

[2018-10-04 17:46] nzakas opened #508 "Demo default ECMAVersion should be 2018"
When the demo is loaded for the first time, the ECMAVersion is set to 5, so it produces errors for all of the new syntax. I think that is confusing, as the ECMAVersion setting is hidden behind a click. Let's set the default ECMAVersion to 2018.

[2018-10-04 18:33] not-an-aardvark commented on #508
I'm wondering if it would be more confusing for the demo's default to be different from ESLint's default. Someone might be confused about why ESLint isn't parsing their code and try to figure out the issue in the demo, only to realize that the code mysteriously works in the demo.

I agree that it can be confusing when new syntax produces errors, but I think it would be better to solve that problem

[2018-10-08 00:21] not-an-aardvark opened #509 "Support multiple ESLint versions in demo"
It's useful to be able to create a demo permalink like [this](https://eslint.org/demo/#eyJ0ZXh0IjoiLyogZXNsaW50IHNwYWNlLWluZml4LW9wczogZXJyb3IgKi9cbmZvbyoqPWJhciIsIm9wdGlvbnMiOnsicGFyc2VyT3B0aW9ucyI6eyJlY21hVmVyc2lvbiI6Nywic291cmNlVHlwZSI6Im1vZHVsZSIsImVjbWFGZWF0dXJlcyI6e319LCJydWxlcyI6e30sImVudiI6e319fQ==) as an easy way to demonstrate a bug. Ideally, we could allow users to supply a demo URL as

[2018-10-08 00:32] not-an-aardvark commented on #509
I was thinking we would support every released version (assuming the site updates would be automatic, it doesn't seem like there would be much of a disadvantage to having fine-grained version options for future versions). If we wanted, we could also run a one-time script to extract old versions of ESLint, based on the contents of `js/app/eslint.js` at different points in the git history. (At a cer

[2018-10-08 00:49] not-an-aardvark opened #510 "Allow users to create bug reports from the demo"
### Problem

Currently, it can be tedious to fill out the sections of the issue template when reporting a bug. Additionally, some bug reports from users don't have enough information to reproduce the reported problem, resulting in some back-and-forth with the user to figure out what the situation is.

### Proposed solution

We could have a link in the demo that says "File a bug" and links to a pag